.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 70px 0 0;
    z-index: 99;

    .wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1960px;
        margin: 0 auto;
        padding: 0 40px;
    }

    .left-block,
    .right-block {
        display: flex;
        align-items: center;
    }

    .location {
        display: flex;
        align-items: flex-end;
        margin-left: 80px;

        .icon {
            margin-right: 14px;
        }

        .text {
            max-width: 80px;
        }

        .arrow {
            margin: 0 0 5px 10px;
        }
    }

    .phones {
        margin-left: 80px;

        &--item {
            display: flex;
            align-items: flex-end;
        }

        .arrow {
            margin: 0 0 5px 10px;
        }
    }

    .menu {
        display: flex;
        align-items: center;

        &--item {
            margin-left: 50px;
            font-family: $font-base-semiBold;
            font-size: 18px;
            color: $black;

            &:first-child {
                margin-left: 0;
            }
        }

        .dropdown-wrap {

            .label {
                display: flex;
                align-items: center;
                text-align: center;

                .icon {
                    width: 12px;
                    height: 7px;
                    margin: 0 0 0 10px;
                }
            }
        }

        .dropdown {
            display: none;
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translateX(-50%);
            width: 200px;
        }
    }

    .button-wrap {
        display: flex;
        align-items: center;
        margin-left: 40px;

        .btn {
            min-height: 0;
            margin-left: 15px;
            padding: 15px 40px;

            &:first-child {
                margin: 0;
            }
        }
    }
}

/***/

.menu-btn {
    margin-left: 20px;
    cursor: pointer;
    z-index: 5;

    span {
        display: block;
        height: 5px;
        width: 30px;
        margin-top: 5px;
        background: $blue;
        transition: 0.3s;
        transition-delay: 0s;

        &:first-child {
            margin: 0;
        }
    }
}

.modal-menu-wrap {
    position: fixed;
    top: 85px;
    left: 0;
    width: 100%;
    max-width: 600px;
    height: 100vh;
    background: $white;
    transition: .3s;
    opacity: 0;
    pointer-events: none;
    z-index: 90;

    &.open {
        opacity: 1;
        pointer-events: all;
    }

    .wrap {
        max-height: calc(100vh - 85px);
        padding: 50px 0 80px;
    }

    .mCSB_inside>.mCSB_container {
        margin-right: 10px;
    }

    .phones {
        padding: 0 10px 0 50px;
        font-family: $font-base-semiBold;
        font-size: 32px;

        &.small {

        }

        &--item {
            display: block;
            color: $black;
        }
    }

    .social-list {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        margin: 0 0 0 -30px;
        padding: 0 50px;

        &.small {
            flex-direction: column;
            margin-top: 25px;

            .social-list--item {
                align-items: flex-start;
                padding-top: 15px;
            }

            .icon {
                width: 37px;
                height: 37px;
                margin-right: 15px;
            }

            .text {
                padding-top: 5px;
            }
        }

        &--item {
            padding: 30px 0 0 30px;
            font-size: 20px;
        }

        .icon {
            width: 44px;
            height: 44px;
            margin-right: 10px;
        }

        .text {
            color: $textGray;
        }

        .button-wrap {
            display: flex;
            flex-wrap: wrap;
            margin: 10px 0 0 -15px;

            .btn {
                flex: 100%;
                max-width: calc(117px - 15px);
                margin: 15px 0 0 15px;
            }
        }
    }

    .modal-menu {
        margin: 30px 0 0;

        &--item {
            display: block;
            padding: 22px 50px;
            font-family: $font-base-semiBold;
            font-size: 20px;
            color: $black;
            border-bottom: 1px solid $borderColor;

            &:first-child {
                border-top: 1px solid $borderColor;
            }
        }
    }
}

.overflow {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: $black;
    transition: .3s;
    opacity: 0;
    pointer-events: none;
    z-index: 80;

    &.active {
        opacity: .7;
        pointer-events: all;
    }
}


/*** Media ***/

@media (max-width: 1601px) {

    .header {
        padding-top: 20px;

        .wrap {
            padding: 0 20px;
        }

        .logo {
            max-width: 240px;
        }

        .location {
            margin-left: 30px;
        }

        .phones {
            margin-left: 30px;
        }

        .menu--item {
            margin-left: 20px;
        }

        .button-wrap {
            margin-left: 20px;

            .btn {
                padding: 15px 20px;
            }
        }
    }
}

@media (max-width: 1400px) {

    .header {
        position: fixed;
        top: 0;
        left: 0;
        height: 85px;
        display: flex;
        align-items: center;
        padding: 20px 0;
        background: $white;
        box-shadow: 0 0 21px rgba(0, 0, 0, .41%);

        .wrap {
            width: 100%;
        }
    }
}

@media (max-width: 1025px) {

}

@media (max-width: 561px) {

    .modal-menu-wrap {

        .wrap {
            max-height: calc(100vh - 80px);
            padding: 20px 0 40px;
        }

        .phones {
            padding: 0 20px;
            font-size: 25px;
        }

        .social-list {
            margin: 0 0 0 -30px;
            padding: 0 20px;
        }

        .modal-menu--item {
            padding: 15px 20px;
            font-size: 18px;
        }

        .social-list.small {
            margin-top: 10px;
        }
    }
}
