@import '_var.scss';

.account-info {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .cabinet-menu {
        display: none;
        flex: 100%;
        margin: 35px -40px 0;

        &--item {
            width: 100%;
            margin: 0;
            padding: 25px 55px;
            font-size: 20px;
            border-top: 1px solid $borderColor;
        }
    }

    &.show-menu {

        .cabinet-menu {
            display: flex;
        }

        .account-name .arrow {
            transform: rotate(-180deg);
        }
    }
}

.account-name {
    display: flex;
    align-items: center;
    flex: 1;
    max-width: 530px;
    padding-right: 20px;

    .image {
        margin-right: 45px;

        img {
            width: 130px;
            height: 130px;
            min-width: 130px;
            border-radius: 50%;
        }
    }

    .text {
        font-family: $font-base-semiBold;
        font-size: 30px;
        line-height: 30px;
    }

    .arrow {
        width: 22px;
        height: 9px;

        svg {
            width: 100%;
            height: 100%;
        }
    }
}

.account-phone-wrap {
    position: relative;
    flex: 1;
    max-width: 590px;
    padding: 50px 44px;
    background: $white;
    border-radius: 10px;
    box-shadow: 0 0 18px rgba(214, 214, 214, 1);
    z-index: 99;

    .label {
        font-family: $font-base-semiBold;
        font-size: 16px;
        color: $placeholderColor;
    }

    .phone {
        font-family: $font-base-semiBold;
        font-size: 35px;
        color: $black;
        cursor: pointer;

        .text {
            color: $black;
        }

        .arrow {
            width: 22px;
            height: 9px;
        }
    }

    .btn {
        min-height: 30px;
        padding: 10px 25px;
    }

    .dropdown {
        display: none;
        top: calc(100% - 10px);
        left: 0;
        width: 100%;
        min-width: 0;
        padding: 20px 44px 40px;
        background: $white;
        border-radius: 10px;
        box-shadow: 0 0 18px rgba(214, 214, 214, 1);

        &:before {
            content: '';
            position: absolute;
            top: -15px;
            left: 0;
            width: 100%;
            height: 22px;
            background: $white;
        }
    }

    &.active {

        .phone .arrow {
            transform: rotate(180deg);
        }

        .dropdown {
            display: block;
        }
    }
}

.account-discount-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    max-width: 320px;

    .discount {
        display: flex;
        padding-right: 25px;
        font-family: $font-base-semiBold;
        font-size: 90px;
        line-height: 100px;

        span {
            font-family: $font-base-bold;
            font-size: 35px;
            line-height: 33px;
        }
    }

    .text {
        max-width: 80px;

        img {
            width: 70px;
            height: 53px;
        }

        span {
            display: block;
            margin-top: 13px;
            font-family: $font-base-semiBold;
            font-size: 18px;
            line-height: 18px;
            color: $placeholderColor;
        }
    }
}

.cabinet-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &--item {
        margin-top: 26px;
        font-family: $font-base-semiBold;
        font-size: 23px;
        line-height: 24px;
        color: $black;

        &:first-child {
            margin-top: 0;
        }
    }

    .text {
        margin-right: 17px;
    }

    .count {
        display: inline-block;
        min-width: 35px;
        min-height: 28px;
        padding: 3px;
        background: $blueOther;
        font-family: $font-base-bold;
        font-size: 18px;
        color: $white;
        text-align: center;
        border-radius: 2px;
    }
}

.account-card-list {
    margin-top: 54px;

    &--item {
        display: flex;
        align-items: center;
        margin-top: 33px;
        background-size: 30%;
        background-position: right bottom;
        background-repeat: no-repeat;

        &:first-child {
            margin-top: 0;
        }
    }

    .shadow-wrap {
        padding: 48px 63px;
        box-shadow: 0 0 18px rgba(214, 214, 214, 1);
        border-radius: 10px;
    }

    .image {
        flex: 1;
        max-width: 210px;
        margin-right: 76px;
    }

    .info {
        flex: 1;
        max-width: 360px;
    }

    .title {
        font-family: $font-base-semiBold;
        font-size: 35px;
        line-height: 40px;
    }

    .description {
        margin-top: 5px;
        font-size: 20px;
        line-height: 23px;
        color: $placeholderColor;
    }

    .discount {
        margin-top: 19px;
        font-family: $font-base-semiBold;
        font-size: 40px;
        color: $blue;

        span {
            padding-left: 12px;
            font-size: 23px;
        }
    }

    .count {
        margin-top: 25px;
        font-family: $font-base-semiBold;
        font-size: 60px;
        text-align: right;
    }

    .small-card {
        flex: 1;
        max-width: 524px;
        margin-right: 80px;

        .title {
            max-width: 250px;
            font-size: 25px;
            line-height: 30px;
        }
    }

    .info-text {
        position: relative;
        flex: 1;
        max-width: 390px;
        padding: 20px 0 0 25px;
        font-size: 25px;
        line-height: 30px;
        color: $placeholderColor;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 10px;
            height: 14px;
            background: $redBright;
            transform: skew(-40deg, 0);
            border-radius: 2px;
        }
    }
}

.discount-list-wrap {
    margin-top: 100px;

    .title {
        font-family: $font-base-semiBold;
        font-size: 28px;
    }

    .info-text {
        position: relative;
        flex: 1;
        margin-top: 80px;
        padding: 28px 0 0 90px;
        font-size: 25px;
        line-height: 30px;
        color: $placeholderColor;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 60px;
            width: 10px;
            height: 14px;
            background: $redBright;
            transform: skew(-40deg, 0);
            border-radius: 2px;
        }
    }
}

.discount-list {

    &--item {
        display: flex;
        align-items: center;
        padding: 60px 70px;
        border-bottom: 1px solid $borderColor;
    }

    .days-count {
        display: flex;
        align-items: center;
        flex: 1;
        max-width: 220px;

        .count {
            margin-right: 20px;
            font-family: $font-base-semiBold;
            font-size: 60px;
            line-height: 60px;
        }

        .text {
            max-width: 106px;
            font-size: 24px;
            line-height: 26px;
        }
    }

    .equal {
        margin: 0 70px 0 20px;
        font-family: $font-base-semiBold;
        font-size: 52px;
    }

    .card {
        display: flex;
        align-items: center;
        flex-direction: row;
        border: 0;

        .image {
            max-width: 125px;
            margin-right: 30px;
        }

        .name {
            font-family: $font-base-semiBold;
            font-size: 30px;
        }

        .discount {
            margin-top: 5px;
            font-family: $font-base-semiBold;
            font-size: 30px;
            color: $blue;

            span {
                font-size: 18px;
            }
        }
    }
}

.banner-list {
    margin-top: 130px;

    &--item {
        position: relative;
        display: flex;
        align-items: center;
        margin-top: 63px;
        padding: 60px 110px;
        color: $textColor;
        box-shadow: $boxShadow;

        &:first-child {
            margin-top: 0;
        }

        &.banner-center-text {
            padding-left: 27%;
        }

        &:hover {
            color: $textColor;
        }
    }

    span {
        display: block;
    }

    .image-bg,
    .image-mobile-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    .image-mobile-bg {
        display: none;
    }

    .text {
        position: relative;
        max-width: 390px;
        z-index: 5;
    }

    .title {
        font-family: $font-base-semiBold;
        font-size: 38px;
        line-height: 38px;
    }

    .description {
        margin-top: 30px;
        font-size: 26px;
        line-height: 31px;
    }
}

.rented-cars-block {

    .info-text {
        display: flex;
        align-items: flex-end;

        .text {
            position: relative;
            max-width: 60%;
            padding: 30px 20px 0 55px;
            font-size: 27px;
            line-height: 32px;

            &:before {
                content: '';
                position: absolute;
                top: 15px;
                left: 10px;
                width: 10px;
                height: 15px;
                background: $redBright;
                transform: skew(-40deg, 0);
                border-radius: 2px;
            }
        }
    }

    .empty-text {

        .text {
            max-width: 660px;
            font-size: 26px;
            line-height: 35px;
        }

        .button-wrap {
            display: flex;
            flex-wrap: wrap;
            margin: -16px 0 0 -16px;

            .btn {
                margin: 16px 0 0 16px;
            }
        }
    }
}

.rented-cars-list {
    margin-top: 100px;

    &--item {
        margin-top: 45px;

        &:first-child {
            margin-top: 0;
        }
    }

    &--item-head {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 22px 60px;
        background: $white;
        border-radius: 10px 10px 0 0;
        box-shadow: 0 0 18px rgba(214, 214, 214, 1);
        z-index: 5;

        .title {
            font-family: $font-base-semiBold;
            font-size: 28px;
            line-height: 36px;
        }

        .btn {
            min-height: 35px;
            padding: 9px 20px;
        }
    }

    &--item-body {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 50px 55px 60px;
        background-color: $white;
        background-image: url('../images/car-card-stripes.jpg');
        background-repeat: no-repeat;
        background-position: calc(100% - 40px) bottom;
        border-radius: 0 0 10px 10px;
        box-shadow: 0 0 18px rgba(214, 214, 214, 1);
        z-index: 1;

        .btn {
            flex: 100%;
            margin-top: 35px;
        }
    }

    .image {
        flex: 1;
        max-width: 222px;
        margin-right: 40px;
    }
}

.rented-car-properties-list {
    display: flex;
    flex-wrap: wrap;
    flex: 1;

    &--item {
        flex: 100%;
        max-width: 33.333%;
        padding: 20px 20px 0 0;
        font-family: $font-base-semiBold;
        font-size: 20px;

        &.column-2 {
            max-width: 66.666%;
        }
    }

    .label {
        margin-bottom: 20px;
        font-family: $font-base-semiBold;
        font-size: 16px;
        color: $textGray;
    }

    .number {
        display: inline-block;
        padding: 8px 15px;
        font-family: $font-base-semiBold;
        font-size: 16px;
        line-height: 22px;
        background: $white;
        border-radius: 3px;
        box-shadow: 0 0 18px rgba(214, 214, 214, 1);

        img {
            margin-left: 10px;
        }
    }

    .status {
        padding: 1px 16px;
        border-radius: 2px;

        &.booked {
            background: $yellowLight;
        }

        &.on-loan {
            background: $greenLight;
        }

        &.in-garage {
            background: $grayBg;
        }
    }

    .gps {
        display: flex;
        align-items: center;
        padding: 24px 0 0 20px;

        &:hover .text span {
            border-color: transparent;
        }

        img {
            margin-right: 20px;
        }

        .text {
            max-width: 75px;
            font-family: $font-base-bold;
            font-size: 14px;
            line-height: 18px;
            color: $black;

            span {
                border-bottom: 1px solid $borderColor;
            }
        }
    }

    .price {
        display: flex;
        align-items: baseline;
        font-family: $font-base;
        font-size: 34px;
        color: $blueDark;
        white-space: nowrap;

        .rouble {
            font-size: 30px;
        }

        span {
            font-family: $font-base-semiBold;
            font-size: 21px;
            color: $black;
        }
    }
}

.rented-car-info {
    display: flex;

    .image {
        position: relative;
        flex: 1;
        max-width: 400px;
        padding: 0 40px;

        .swiper-button-prev,
        .swiper-button-next {
            width: 16px;
            height: 36px;
            top: 50%;
            transform: translateY(-50%);

            &:before,
            &:after {
                content: '';
                position: absolute;
                top: 0;
                left: 6px;
                width: 2px;
                height: 20px;
                margin: 0;
                background: $black;
                border-radius: 4px;
                transform: rotate(-35deg) translate(0, 0);
            }

            &:before {
                top: auto;
                bottom: 0;
                transform: rotate(35deg);
            }
        }

        .swiper-button-next {
            right: 0;
        }

        .swiper-button-prev {
            left: 0;
            transform: translateY(-50%) rotate(180deg);
        }
    }

    .rented-car-properties-list {
        flex: 1;
        padding-left: 40px;

        .status {
            padding: 1px 10px;
        }

        .gps {
            padding: 0;

            .text {
                max-width: 100%;
                font-size: 18px;
            }
        }

        .btn {
            padding: 15px 20px;
        }
    }
}

.product-gallery {
    position: relative;

    img {
        border-radius: 10px;
    }
}

.product-gallery-thumbnails {
    margin-top: 27px;

    &--item {
        position: relative;
        cursor: pointer;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: $white;
            opacity: 0;
            z-index: 5;
        }
    }

    &--item.swiper-slide-thumb-active:before {
        opacity: .54;
    }

    img {
        border-radius: 5px;
    }
}

.profile-form {

    .input {
        height: 70px;
    }

    textarea {
        max-width: 100%;
        min-height: 222px;
    }

    .radio-list {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        .radio {
            padding: 24px 40px 0 24px;
        }
    }

    .radio {
        height: auto;
        padding: 0;
        border: 0;

        .icon {
            width: 24px;
            height: 24px;
            box-shadow: inset 1px 0 4px rgba(0, 0, 0, .18);

            &:before {
                background: $blue;
            }
        }
    }

    .btn {
        width: 100%;
        max-width: 364px;
    }
}

.login-form {
    max-width: 740px;
    margin: 180px auto 0;

    .title {

        .border-bottom {
            border-color: $blueLighter;
        }
    }

    .sub-title {
        max-width: 580px;
        margin-top: 30px;
        font-size: 21px;
        line-height: 27px;
    }

    .link {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px 40px;
        font-family: $font-base-semiBold;
        font-size: 17px;
        color: $black;

        &.blue {
            color: $blue;

            span {
                padding-bottom: 3px;
                border-bottom: 1px solid $blueLighter;
            }
        }
    }

    .password {

        input {
            color: $black;
        }
    }

    .success-password-block {

        .icon {
            width: 125px;
            height: 114px;
            margin-bottom: 54px;
        }

        .title {
            font-family: $font-base-semiBold;
            font-size: 44px;
            line-height: 48px;
        }

        .sub-title {
            font-size: 26px;
            line-height: 34px;
        }

        .btn {
            width: 100%;
            max-width: 300px;
        }
    }

    .error-password-block {

        .icon {
            width: auto;
            height: auto;
            margin-bottom: 68px;
            font-family: $font-base-semiBold;
            font-size: 174px;
            line-height: 174px;
            color: $blue;
            opacity: .26;
        }

        .title {
            font-family: $font-base-semiBold;
            font-size: 44px;
            line-height: 48px;
        }

        .sub-title {
            max-width: 660px;
            font-size: 26px;
            line-height: 34px;
        }

        .btn {
            width: 100%;
            max-width: 300px;
        }
    }
}


.statistic-list-cabinet {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: -50px 0 0 -40px;
    z-index: 9;

    &--item {
        display: flex;
        align-items: center;
        flex: 100%;
        max-width: calc(33.333% - 40px);
        margin: 50px 0 0 40px;
        padding: 47px 20px 47px 40px;
        box-shadow: $boxShadow;
        border-radius: 5px;

        &.empty {
            padding-right: 0;
            padding-left: 0;
            box-shadow: none;

            .count {
                font-size: 58px;
                line-height: 58px;
            }
        }

        .icon {
            display: flex;
            align-items: center;
            justify-content: center;
            flex: 1;
            height: 80px;
            max-width: 80px;
            min-width: 80px;
            margin-right: 30px;
            background-size: cover;
            border-radius: 10px;

            &:before,
            div:before {
                color: $white;
            }
        }

        .info {
            flex: 1;
        }

        .link {
            font-family: $font-base-semiBold;
            font-size: 28px;
            line-height: 29px;

            span {
                border-bottom: 1px solid;
            }
        }

        .count {
            margin-top: 10px;
            font-family: $font-base-semiBold;
            font-size: 30px;
            white-space: nowrap;

            &:first-child {
                margin-top: 0;
            }

            span {
                font-weight: 600;
            }
        }

        .title {
            margin-top: 10px;
            font-family: $font-base-semiBold;
            font-size: 18px;
            line-height: 18px;
            opacity: .5;

            &:first-child {
                margin-top: 0;
            }
        }
    }
}

.orders-list {
    margin-top: 60px;

    &:first-child {
        margin-top: 0;
    }

    &--item {
        display: block;
        margin-top: 35px;
        color: $black;

        &:first-child {
            margin-top: 0;
        }

        &:hover {
            color: $black;
            box-shadow: 0 0 18px rgba(214, 214, 214, 1);
        }
    }

    &--item-head {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px 40px;
        background: $white;
        border-radius: 10px 10px 0 0;
        box-shadow: 0 0 18px rgba(214, 214, 214, 1);
        z-index: 5;

        .title {
            margin-right: 22px;
            font-family: $font-base-semiBold;
            font-size: 24px;
            line-height: 25px;
        }

        .date {
            font-family: $font-base-semiBold;
            font-size: 17px;
            color: $textGray;

            span {
                font-size: 15px;
            }
        }

        .btn {
            width: 100%;
            max-width: 140px;
            min-height: 35px;
            padding: 8px 20px;
        }
    }

    &--item-body {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 40px;
        background-color: $white;
        border-radius: 0 0 10px 10px;
        box-shadow: 0 0 18px rgba(214, 214, 214, 1);
        z-index: 1;
    }
}

.orders-list-properties-list {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    margin: -40px 0 0 -20px;

    &--item {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        flex: 100%;
        max-width: calc(20% - 20px);
        margin: 40px 0 0 20px;
        font-family: $font-base-semiBold;
        font-size: 20px;

        &:nth-child(1) {
            max-width: calc(35% - 20px);
        }

        &:nth-child(2) {
            max-width: calc(15% - 20px);
        }

        &:nth-child(4) {
            max-width: calc(10% - 20px);
        }
    }

    .label {
        display: block;
        margin: 25px 0 10px;
        font-family: $font-base-semiBold;
        font-size: 15px;
        color: $textGray;

        &:first-child {
            margin-top: 0;
        }
    }

    .image {
        display: flex;
        align-items: center;
        flex: 1;

        img {
            max-width: 116px;
            margin-right: 24px;
        }

        span {
            max-width: 138px;
        }
    }

    .date-list {

        &--item {
            margin-top: 25px;

            &:first-child {
                margin-top: 0;
            }
        }
    }

    .status-wrap {
        display: flex;
        align-items: flex-end;
        flex: 1;
        max-width: 120px;
    }

    .status {

        span {
            display: inline-block;
            padding: 1px 5px;
            font-size: 16px;
            line-height: 14px;
            border-radius: 2px;
        }

        &.awaiting-payment span {
            background: $yellowDark;
        }

        &.paid span {
            background: $greenLight;
        }

        &.completed span {
            background: $blueLighter;
        }

        &.canceled span {
            background: $grayOtherDark;
        }
    }

    .price {
        display: flex;
        align-items: flex-end;
        flex: 1;
        font-family: $font-base;
        font-size: 45px;
        line-height: 40px;
        color: $blueDark;
        white-space: nowrap;

        .rouble {
            font-size: 45px;
        }

        span {
            font-family: $font-base-semiBold;
            font-size: 21px;
        }
    }

    .check {
        max-width: 105px;
        margin: 0 auto;

        img {
            display: block;
            width: 14px;
            height: 19px;
            margin-bottom: 12px;
        }

        .text {
            font-size: 16px;
            line-height: 18px;
            color: $black;
        }
    }

    .name {
        flex: 1;
        max-width: 185px;
        font-size: 20px;
        line-height: 25px;
    }

    .button-wrap {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 1;
    }

    .btn {
        align-self: flex-end;
        min-height: 35px;
        padding: 9px 20px;

        &.btn-medium {
            padding: 11px 20px;
        }
    }
}

.order-detail {

    .order-title {

        .date {
            font-family: $font-base-semiBold;
            font-size: 22px;
            line-height: 22px;
            color: $textGray;
        }
    }

    .info-text {
        position: relative;
        max-width: 900px;
        padding: 20px 0 0 90px;
        font-size: 22px;
        line-height: 28px;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 50px;
            width: 10px;
            height: 14px;
            background: $redBright;
            transform: skew(-40deg, 0);
            border-radius: 2px;
        }
    }

    .orders-list--item {

        &:hover {
            box-shadow: none;
        }

        &-body {
            padding-top: 50px;
            padding-bottom: 50px;
        }
    }

    .orders-list-properties-list {

        &--item:nth-child(1) {
            max-width: calc(25% - 20px);
        }

        &--item:nth-child(2) {
            max-width: calc(15% - 20px);
        }

        &--item:nth-child(3) {
            max-width: calc(25% - 20px);
        }

        &--item:nth-child(4) {
            max-width: calc(15% - 20px);
        }

        .button-wrap {
            margin-top: -10px;
        }

        .btn {
            margin-top: 10px;
        }

        .check {
            display: flex;
            max-width: 125px;
            margin: 10px 0 0 auto;

            img {
                min-width: 14px;
                margin: 0 10px 0 0;
            }
        }
    }

    .characteristics-list-wrap {
        padding: 0;

        &.open .more-btn-wrap {
            display: none;
        }

        .more-btn-wrap {
            display: flex;
            padding: 0 45px;
            font-size: 20px;

            .more-btn {
                padding-bottom: 4px;
                border-bottom: 1px solid $blueLighter;
            }

            .text {
                color: $blueDark;
                border: 0;
            }
        }
    }

    .characteristics-list--title {
        font-family: $font-base-semiBold;
        font-size: 21px;
        line-height: 25px;
    }

    .total-days {

        .label {
            margin-right: 30px;
            font-family: $font-base-semiBold;
            font-size: 18px;
            color: $textGray;
        }

        .days {
            display: flex;
            align-items: baseline;
            font-family: $font-base;
            font-size: 39px;
            color: $blueDark;

            span {
                font-family: $font-base-semiBold;
                font-size: 24px;
                color: $black;
            }
        }
    }

    .additional-item-list {
        margin: 16px 0 0 -40px;

        &-wrap {
            margin-top: 90px;
        }

        &--title {
            padding: 0 45px;
            font-family: $font-base-semiBold;
            font-size: 32px;
            line-height: 32px;
            color: $black;
        }

        &--item {
            max-width: calc(33.333% - 40px);
            margin: 24px 0 0 40px;
            cursor: default;
        }
    }

    .comment-block {
        margin-top: 70px;

        .title {
            padding: 0 45px;
            font-family: $font-base-semiBold;
            font-size: 32px;
            line-height: 32px;
            color: $black;

            &.small {
                padding: 0;
                font-size: 21px;
                line-height: 25px;
            }
        }

        .textarea {
            height: 215px;
            margin-top: 50px;
            font-size: 18px;
            line-height: 20px;
            color: $textGray;
        }
    }

    .total-price {
        display: flex;
        align-items: baseline;

        .label {
            margin-right: 30px;
            font-family: $font-base-semiBold;
            font-size: 44px;
            line-height: 44px;
        }

        .price {
            font-size: 52px;
            color: $blue;
        }
    }
}

.additional-services-total-wrap {
    margin-top: 80px;
}

.additional-services-total {

    &--title {
        font-family: $font-base-semiBold;
        font-size: 21px;
        line-height: 25px;
    }

    &--item {
        display: flex;
        align-items: center;
        padding: 30px 40px;
        border-bottom: 1px solid $borderColor;
    }

    .name-wrap {
        flex: 2;

        .image {
            margin-right: 36px;

            img {
                width: 40px;
                max-height: 50px;
            }
        }

        .title {
            font-family: $font-base-semiBold;
            font-size: 20px;
        }
    }

    .count {
        flex: 1;
        font-family: $font-base-semiBold;
        font-size: 23px;
        line-height: 23px;
        text-align: center;
    }

    .price {
        flex: 1;
        font-family: $font-base-semiBold;
        font-size: 27px;
        line-height: 27px;
        color: $blue;
        text-align: right;

        .rouble {
            font-weight: 600;
        }
    }
}

.car-info-block {
    display: flex;
    align-items: center;
    margin-top: 80px;
    font-family: $font-base-semiBold;

    &-wrap {
        margin-top: 70px;
        padding: 0 45px;
    }

    &--title {
        font-family: $font-base-semiBold;
        font-size: 32px;
        line-height: 32px;

        &.small {
            font-size: 21px;
            line-height: 25px;
        }
    }

    .image {
        flex: 1;
        max-width: 235px;
        margin-right: 70px;
    }

    .info {
        flex: 1;
    }

    .title {
        font-size: 26px;
        line-height: 37px;
    }

    .label {
        margin-right: 20px;
        font-size: 18px;
        color: $textGray;
    }

    .price {
        display: flex;
        align-items: baseline;
        font-family: $font-base;
        font-size: 39px;
        color: $blueDark;

        .rouble {
            font-size: 35px;
        }

        span {
            font-family: $font-base-semiBold;
            font-size: 24px;
            color: $black;
        }
    }

    .characteristics {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        flex: 1;
        margin: -15px 0 0 -20px;
        padding-top: 30px;

        &--item {
            display: flex;
            align-items: center;
            flex: 100%;
            max-width: calc(33.333% - 20px);
            margin: 15px 0 0 20px;
            font-family: $font-base-light;
            font-size: 18px;
        }

        .icon {
            width: 25px;
            height: 25px;
            min-width: 25px;
            margin-right: 25px;
        }
    }
}

.alerts-sort-block {
    display: flex;
    margin-top: 40px;

    .sort-wrap {
        margin-right: 35px;
    }

    .custom-select-wrapper {
        max-width: 270px;
    }

    .custom-select-trigger {
        height: 50px;
        font-size: 16px;
    }
}

.alerts-list {
    margin-top: 65px;

    &--item {
        margin-top: 25px;
        background: $white;
        box-shadow: $boxShadow;

        &:first-child {
            margin-top: 0;
        }
    }

    &--item-head {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        padding: 40px;
        cursor: pointer;

        .icon {
            width: 19px;
            height: 9px;
            min-width: 19px;
            background: url('../images/icons/arrow-toggle-down.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }

        .title-wrap {
            display: block;
        }

        .date {
            font-family: $font-base-semiBold;
            font-size: 18px;
            opacity: .58;
        }

        .title {
            position: relative;
            margin-top: 20px;
            padding-left: 45px;
            font-family: $font-base-semiBold;
            font-size: 22px;
            line-height: 30px;

            &:before {
                content: '';
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                width: 18px;
                height: 18px;
                background: $redBright;
                border-radius: 50%;
                opacity: 0;
            }

            &.unread:before {
                opacity: 1;
            }
        }
    }

    &--item-body {
        padding: 0 85px 45px;

        p {
            font-size: 20px;
            line-height: 22px;
            color: $textGray;
        }
    }
}


/*** Media ***/

@media (max-width: 1601px) {

    .account-name {
        max-width: 400px;

        .image {
            margin-right: 23px;

            img {
                width: 96px;
                height: 96px;
                min-width: 96px;
            }
        }

        .text {
            max-width: 242px;
            font-size: 22px;
            line-height: 22px;
        }
    }

    .account-phone-wrap {
        padding: 25px;

        .phone {
            font-size: 31px;
        }

        .dropdown {
            padding: 20px 25px;
        }
    }

    .account-discount-wrap {

        .discount {
            font-size: 80px;
            line-height: 80px;
        }
    }

    .account-card-list {

        .info-text {
            font-size: 23px;
            line-height: 27px;
        }

        .count {
            font-size: 50px;
            line-height: 38px;
        }

        .small-card {
            margin-right: 30px;
        }
    }

    .banner-list {

        &--item {
            padding: 36px 80px;

            &.banner-center-text {
                padding-left: 23%;
            }
        }

        .text {
            max-width: 288px;
        }

        .title {
            font-size: 32px;
            line-height: 32px;
        }
    }

    .rented-cars-list--item-head {
        padding: 10px 24px;

        .title {
            font-size: 22px;
            line-height: 30px;
        }
    }

    .rented-cars-list--item-body {
        padding: 40px 24px 60px;
    }

    .rented-car-info {
        display: block;

        .image {
            padding: 0 40px;
        }

        .rented-car-properties-list {
            padding: 40px 0 0;
        }
    }

    .statistic-list-cabinet {
        margin: -20px 0 0 -20px;

        &--item {
            max-width: calc(33.333% - 20px);
            margin: 20px 0 0 20px;
            padding: 25px 20px;
        }
    }

    .orders-list-properties-list {

        .price {
            font-size: 30px;
            line-height: 30px;

            .rouble {
                font-size: 30px;
            }
        }
    }
}

@media (max-width: 1441px) {

    .rented-cars-list {

        .image {
            flex: 100%;
            max-width: 100%;
            margin: 0 0 15px;
        }

        .rented-car-properties-list {
            flex: 100%;
        }
    }

    .statistic-list-cabinet {

        &--item {
            max-width: calc(50% - 20px);
        }
    }

    .order-detail .orders-list-properties-list,
    .orders-list-properties-list {

       &--item,
       &--item:nth-child(2),
       &--item:nth-child(3),
       &--item:nth-child(4) {
           max-width: calc(25% - 20px);
       }

        &--item:nth-child(1) {
            max-width: calc(50% - 20px);
        }

        .btn {
            width: 100%;
        }
    }
}

@media (max-width: 1199px) {

    .account-info {
        padding-bottom: 50px;
        border-bottom: 1px solid $borderColor;
    }

    .account-name {
        max-width: 100%;
        flex: 100%;
    }

    .account-phone-wrap {
        flex: 100%;
        max-width: 500px;
        margin-top: 30px;
    }

    .account-discount-wrap {
        flex: 100%;
        justify-content: flex-start;
        max-width: 100%;
        margin-top: 24px;
        padding: 0 26px;

        .discount {
            font-size: 50px;
            line-height: 50px;

            span {
                font-size: 17px;
                line-height: 17px;
            }
        }

        .text {
            display: flex;
            align-items: center;
            max-width: 100%;

            img {
                width: 60px;
            }

            span {
                margin: 0 0 0 30px;
            }
        }
    }

    .discount-list-wrap {

        .info-text {
            margin-top: 60px;
            padding: 25px 0 0 42px;
            font-size: 23px;
            line-height: 27px;

            &:before {
                left: 17px;
            }
        }
    }

    .discount-list--item {
        padding: 60px 0;
    }
}

@media (max-width: 1025px) {

    .cabinet-menu {

        .count {
            min-width: 29px;
            min-height: 24px;
            font-size: 15px;
            line-height: 18px;
        }
    }

    .banner-list {
        margin-top: 100px;

        &--item {
            margin-top: 40px;
        }
    }

    .rented-cars-block {

        .info-text {

            .text {
                padding: 30px 20px 0 25px;
                font-size: 20px;
                line-height: 26px;
            }
        }

    }

    .order-detail {

        .orders-list--item-body {
            padding-top: 30px;
            padding-bottom: 40px;
        }

        .additional-item-list {
            margin-left: -20px;

            &--item {
                max-width: calc(33.333% - 20px);
                margin-left: 20px;
            }
        }

        .additional-item-list-wrap {
            margin-top: 60px;
        }

        .additional-item-list--title,
        .comment-block .title {
            padding: 0;
            font-size: 26px;
            line-height: 26px;
        }

        .comment-block {

            .textarea {
                margin-top: 40px;
            }
        }
    }

    .car-info-block-wrap {
        margin-top: 60px;
        padding: 0;
    }

    .car-info-block {
        margin-top: 45px;

        &--title {
            font-size: 26px;
            line-height: 26px;
        }

        .image {
            margin-right: 40px;
        }
    }
}

@media (max-width: 992px) {

    .profile-form {

        .radio-list {

            .radio {
                padding: 0 30px 20px 0;
            }
        }
    }
}

@media (max-width: 769px) {

    .cabinet-page {

        .characteristics-list-wrap {
            padding-bottom: 100px;
            border-bottom: 1px solid $borderColorLight;
        }
    }

    .account-card-list {

        &--item {
            flex-wrap: wrap;
        }

        .small-card {
            flex: 100%;
            max-width: 100%;
            margin: 0 0 60px;
        }

        .info-text {
            flex: 100%;
            max-width: 100%;
        }
    }

    .discount-list {

        &--item {
            flex-wrap: wrap;
        }

        .equal {
            margin: 0 0 0 10px;
        }

        .card {
            flex: 100%;
            margin-top: 35px;

            .image {
                max-width: 120px;
            }
        }
    }

    .rented-cars-block {

        .info-text {
            display: block;

            .text {
                max-width: 100%;
            }

            .btn {
                margin-top: 50px;
            }
        }

        .empty-text {

            .text {
                font-size: 20px;
                line-height: 26px;
            }

            .button-wrap {

                .btn {
                    width: 100%;
                }
            }
        }
    }

    .rented-cars-list {
        margin-top: 60px;

        &--item-body {
            background-image: none;
        }

        .image {
            margin-bottom: 35px;
        }
    }

    .rented-car-properties-list {
        margin-top: -40px;

        &--item {
            padding-top: 40px;
        }

        .label {
            margin-bottom: 15px;
            font-size: 15px;
        }

        &--item {
            max-width: 50%;
        }

        .status {
            font-size: 18px;
        }

        .number {
            padding: 6px 10px;
            font-size: 16px;
            line-height: 22px;
        }

        .price {
            font-size: 30px;

            span {
                font-size: 16px;
            }
        }
    }

    .rented-car-properties-list {

        &--item.column-2 {
            max-width: 50%;
        }

        &--item.column-mobile-wide {
            max-width: 100%;
            padding-right: 0;
        }
    }

    .rented-car-info {

        .rented-car-properties-list {
            margin-top: -30px;

            &--item {
                padding-top: 30px;
            }

            .number img {
                display: none;
            }

            .gps .text {
                max-width: 80px;
                font-size: 14px;
                line-height: 17px;
            }

            .btn {
                width: 100%;
            }
        }
    }

    .profile-form {

        .input {
            font-family: $font-base;
        }
    }

    .login-form {
        margin-top: 80px;

        .input {
            height: 70px;
        }

        .btn {
            width: 100%;
        }

        .success-password-block,
        .error-password-block {

            .icon {
                margin-bottom: 40px;
            }

            .title {
                font-size: 32px;
                line-height: 35px;
            }

            .sub-title {
                font-size: 20px;
                line-height: 27px;
            }
        }
    }

    .statistic-list-cabinet {

        &--item {
            max-width: calc(100% - 20px);
        }
    }

    .orders-list {
        margin-top: 25px;

        &--item-head {
            padding: 25px 20px 30px;

            .title {
                display: block;
                font-size: 20px;
                line-height: 20px;
            }

            .date {
                display: block;
                font-size: 15px;
            }
        }

        &--item-body {
            padding: 40px 20px;
        }
    }

    .order-detail .orders-list-properties-list,
    .orders-list-properties-list {

        &--item,
        &--item:nth-child(3),
        &--item:nth-child(4) {
            max-width: calc(50% - 20px);
        }

        &--item:nth-child(1),
        &--item:nth-child(2),
        &--item:nth-child(5) {
            max-width: calc(100% - 20px);
        }

        .date-list {
            display: flex;
            margin: -20px 0 0 -20px;

            &--item,
            &--item:first-child {
                flex: 100%;
                max-width: calc(50% - 20px);
                margin: 20px 0 0 20px;
            }
        }

        .check {
            display: flex;
            align-items: center;
            max-width: 100%;
            margin: 0;

            img {
                margin: 0 15px 0 0;
            }
        }

        .name {
            max-width: 300px;
        }

        .button-wrap {
            flex-direction: column-reverse;

            .btn {
                margin-top: 8px;
            }
        }

        .btn {
            min-height: 40px;
            padding: 15px 25px;
        }
    }

    .order-detail {

        .order-title {

            .date {
                font-size: 16px;
                line-height: 16px;
            }
        }

        .orders-list-properties-list {

            .check {
                padding-bottom: 10px;
            }
        }

        .info-text {
            padding: 0 10px 0 50px;
            font-size: 20px;
            line-height: 25px;

            &:before {
                left: 25px;
            }
        }

        .additional-item-list {

            &--item {
                max-width: calc(50% - 20px);
            }
        }

        .comment-block {

            .textarea {
                font-family: $font-base-semiBold;
                font-size: 16px;
                line-height: 28px;
            }
        }
    }

    .car-info-block {
        display: block;

        .image {
            margin: 0 0 25px;
        }

        .title {
            font-size: 22px;
        }

        .label {
            flex: 100%;
            margin: 0 0 10px;
        }

        .price {
            flex-wrap: wrap;
        }
    }

    .alerts-sort-block {
        display: block;

        .custom-select-wrapper {
            max-width: 100%;
        }
    }

    .alerts-list {
        margin-top: 32px;

        &--item {
            padding-bottom: 10px;
        }

        &--item-head {
            padding: 30px 20px 20px;

            .date {
                font-size: 16px;
            }

            .title {
                padding: 0 10px 0 30px;
                font-size: 16px;
                line-height: 18px;
            }

            .icon {
                width: 15px;
                height: 6px;
                min-width: 15px;
            }
        }

        &--item-body {
            padding: 0 50px 20px;

            p {
                font-size: 14px;
                line-height: 18px;
            }

            .btn {
                font-size: 13px;
                min-height: 38px;
                padding: 11px 40px;
            }
        }
    }
}

@media (max-width: 561px) {

    .account-card-list {

        &--item {
            background: none !important;
        }

        .discount {
            font-size: 33px;

            span {
                font-size: 19px;
            }
        }

        .shadow-wrap {
            padding: 40px 40px 45px;
        }

        .image {
            flex: 100%;
            max-width: 100%;
            margin: 0 0 40px;
        }

        .info {
            flex: 100%;
            max-width: 100%;
        }
    }

    .discount-list {

        .days-count {

            .count {
                margin-right: 15px;
            }

            .text {
                font-size: 22px;
            }
        }
    }

    .banner-list {

        &--item,
        &--item.banner-center-text{
            padding: 80px 42px 429px;
        }

        .image-bg {
            display: none;
        }

        .image-mobile-bg {
            display: block;
        }
    }

    .order-detail {

        .additional-item-list {

            &--item {
                max-width: calc(100% - 20px);
            }
        }
    }

    .alerts-list {

        .more-btn {
            width: 100%;
        }
    }
}

@media (max-width: 426px) {

    .account-name {
        flex-wrap: wrap;
        padding: 0;

        .image {
            flex: 100%;
            margin: 0 0 10px;
        }

        .text {
            flex: 100%;
        }

        .arrow {
            flex: 12px;
        }
    }

    .account-phone-wrap {

        .phone {
            font-size: 24px;
        }
    }

    .account-info {
        padding-bottom: 30px;

        .cabinet-menu {
            margin-left: -20px;
            margin-right: -20px;
        }

        .cabinet-menu--item {
            padding: 20px;
        }
    }

    .account-card-list {
        margin-top: 35px;
    }

    .account-card-list {

        .shadow-wrap {
            padding: 20px;
        }

        .small-card {
            margin-bottom: 30px;

            .title {
                font-size: 22px;
                line-height: 24px;
            }
        }

        .count {
            font-size: 40px;
            line-height: 28px;
        }

        .info-text {
            font-size: 20px;
        }
    }

    .discount-list-wrap {
        margin-top: 60px;
    }

    .discount-list {

        &--item {
            padding: 40px 0;
        }

        .card {
            flex-wrap: wrap;

            .image {
                flex: 100%;
                max-width: 100%;
                margin: 0 0 15px;
            }
        }
    }

    .banner-list {

        &--item,
        &--item.banner-center-text {
            padding: 50px 30px 300px;
        }

        .title {
            font-size: 23px;
            line-height: 30px;
        }

        .description {
            margin-top: 15px;
            font-size: 20px;
            line-height: 26px;
        }
    }

    .properties-list {

        &--item {
            max-width: 100%;
            padding: 20px 0 0;
        }

        .gps {
            padding: 0;
        }
    }

    .rented-car-info {

        .image {
            margin: 0 -15px;
            padding: 0 30px;
        }
    }
}

@media (max-width: 376px) {

    .rented-car-properties-list {
        margin-top: -20px;

        &--item {
            max-width: 100%;
            padding: 20px 0 0;
        }

        .gps {
            padding: 0;
        }
    }

    .orders-list {

        &--item-head {
            flex-wrap: wrap;

            .btn {
                margin-top: 20px;
            }
        }
    }
}
