@import '_var.scss';

.account-info {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .cabinet-menu {
        display: none;
        flex: 100%;
        margin: 35px -40px 0;

        &--item {
            width: 100%;
            margin: 0;
            padding: 25px 55px;
            font-size: 20px;
            border-top: 1px solid $borderColor;
        }
    }

    &.show-menu {

        .cabinet-menu {
            display: flex;
        }

        .account-name .arrow {
            transform: rotate(-180deg);
        }
    }
}

.account-name {
    display: flex;
    align-items: center;
    flex: 1;
    max-width: 530px;
    padding-right: 20px;

    .image {
        margin-right: 45px;

        img {
            width: 130px;
            height: 130px;
            min-width: 130px;
            border-radius: 50%;
        }
    }

    .text {
        font-family: $font-base-semiBold;
        font-size: 30px;
        line-height: 30px;
    }

    .arrow {
        width: 22px;
        height: 9px;

        svg {
            width: 100%;
            height: 100%;
        }
    }
}

.account-phone-wrap {
    flex: 1;
    max-width: 590px;
    padding: 50px 44px;
    background: $white;
    border-radius: 10px;
    box-shadow: 0 0 18px rgba(214, 214, 214, 1);

    .label {
        font-family: $font-base-semiBold;
        font-size: 16px;
        color: $placeholderColor;
    }

    .phone {
        font-family: $font-base-semiBold;
        font-size: 35px;
        color: $black;
    }

    .btn {
        min-height: 30px;
        padding: 10px 25px;
    }
}

.account-discount-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    max-width: 320px;

    .discount {
        display: flex;
        padding-right: 25px;
        font-family: $font-base-semiBold;
        font-size: 90px;
        line-height: 100px;

        span {
            font-family: $font-base-bold;
            font-size: 35px;
            line-height: 33px;
        }
    }

    .text {
        max-width: 80px;

        img {
            width: 70px;
            height: 53px;
        }

        span {
            display: block;
            margin-top: 13px;
            font-family: $font-base-semiBold;
            font-size: 18px;
            line-height: 18px;
            color: $placeholderColor;
        }
    }
}

.cabinet-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &--item {
        margin-top: 26px;
        font-family: $font-base-semiBold;
        font-size: 23px;
        line-height: 24px;
        color: $black;

        &:first-child {
            margin-top: 0;
        }
    }

    .text {
        margin-right: 17px;
    }

    .count {
        display: inline-block;
        min-width: 35px;
        min-height: 28px;
        padding: 3px;
        background: $blueOther;
        font-family: $font-base-bold;
        font-size: 18px;
        color: $white;
        text-align: center;
        border-radius: 2px;
    }
}

.account-card-list {
    margin-top: 54px;

    &--item {
        display: flex;
        align-items: center;
        margin-top: 33px;
        background-size: 30%;
        background-position: right bottom;
        background-repeat: no-repeat;

        &:first-child {
            margin-top: 0;
        }
    }

    .shadow-wrap {
        padding: 48px 63px;
        box-shadow: 0 0 18px rgba(214, 214, 214, 1);
        border-radius: 10px;
    }

    .image {
        flex: 1;
        max-width: 210px;
        margin-right: 76px;
    }

    .info {
        flex: 1;
        max-width: 360px;
    }

    .title {
        font-family: $font-base-semiBold;
        font-size: 35px;
        line-height: 40px;
    }

    .description {
        margin-top: 5px;
        font-size: 20px;
        line-height: 23px;
        color: $placeholderColor;
    }

    .discount {
        margin-top: 19px;
        font-family: $font-base-semiBold;
        font-size: 40px;
        color: $blue;

        span {
            padding-left: 12px;
            font-size: 23px;
        }
    }

    .count {
        margin-top: 25px;
        font-family: $font-base-semiBold;
        font-size: 60px;
        text-align: right;
    }

    .small-card {
        flex: 1;
        max-width: 524px;
        margin-right: 80px;

        .title {
            max-width: 250px;
            font-size: 25px;
            line-height: 30px;
        }
    }

    .info-text {
        position: relative;
        flex: 1;
        max-width: 390px;
        padding: 20px 0 0 25px;
        font-size: 25px;
        line-height: 30px;
        color: $placeholderColor;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 10px;
            height: 14px;
            background: $redBright;
            transform: skew(-40deg, 0);
            border-radius: 2px;
        }
    }
}

.discount-list-wrap {
    margin-top: 100px;

    .title {
        font-family: $font-base-semiBold;
        font-size: 28px;
    }

    .info-text {
        position: relative;
        flex: 1;
        margin-top: 80px;
        padding: 28px 0 0 90px;
        font-size: 25px;
        line-height: 30px;
        color: $placeholderColor;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 60px;
            width: 10px;
            height: 14px;
            background: $redBright;
            transform: skew(-40deg, 0);
            border-radius: 2px;
        }
    }
}

.discount-list {

    &--item {
        display: flex;
        align-items: center;
        padding: 60px 70px;
        border-bottom: 1px solid $borderColor;
    }

    .days-count {
        display: flex;
        align-items: center;
        flex: 1;
        max-width: 220px;

        .count {
            margin-right: 20px;
            font-family: $font-base-semiBold;
            font-size: 60px;
            line-height: 60px;
        }

        .text {
            max-width: 106px;
            font-size: 24px;
            line-height: 26px;
        }
    }

    .equal {
        margin: 0 70px 0 20px;
        font-family: $font-base-semiBold;
        font-size: 52px;
    }

    .card {
        display: flex;
        align-items: center;
        flex-direction: row;
        border: 0;

        .image {
            max-width: 125px;
            margin-right: 30px;
        }

        .name {
            font-family: $font-base-semiBold;
            font-size: 30px;
        }

        .discount {
            margin-top: 5px;
            font-family: $font-base-semiBold;
            font-size: 30px;
            color: $blue;

            span {
                font-size: 18px;
            }
        }
    }
}

.banner-list {
    margin-top: 130px;

    &--item {
        position: relative;
        display: flex;
        align-items: center;
        margin-top: 63px;
        padding: 60px 110px;
        color: $textColor;
        box-shadow: $boxShadow;

        &:first-child {
            margin-top: 0;
        }

        &.banner-center-text {
            padding-left: 27%;
        }

        &:hover {
            color: $textColor;
        }
    }

    span {
        display: block;
    }

    .image-bg,
    .image-mobile-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    .image-mobile-bg {
        display: none;
    }

    .text {
        position: relative;
        max-width: 390px;
        z-index: 5;
    }

    .title {
        font-family: $font-base-semiBold;
        font-size: 38px;
        line-height: 38px;
    }

    .description {
        margin-top: 30px;
        font-size: 26px;
        line-height: 31px;
    }
}

.rented-cars-block {

    .info-text {
        display: flex;
        align-items: flex-end;

        .text {
            position: relative;
            max-width: 60%;
            padding: 30px 20px 0 55px;
            font-size: 27px;
            line-height: 32px;

            &:before {
                content: '';
                position: absolute;
                top: 15px;
                left: 10px;
                width: 10px;
                height: 15px;
                background: $redBright;
                transform: skew(-40deg, 0);
                border-radius: 2px;
            }
        }
    }

    .empty-text {

        .text {
            max-width: 660px;
            font-size: 26px;
            line-height: 35px;
        }

        .button-wrap {
            display: flex;
            flex-wrap: wrap;
            margin: -16px 0 0 -16px;

            .btn {
                margin: 16px 0 0 16px;
            }
        }
    }
}

.rented-cars-list {
    margin-top: 100px;

    &--item {
        margin-top: 45px;

        &:first-child {
            margin-top: 0;
        }
    }

    &--item-head {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 22px 60px;
        background: $white;
        border-radius: 10px 10px 0 0;
        box-shadow: 0 0 18px rgba(214, 214, 214, 1);
        z-index: 5;

        .title {
            font-family: $font-base-semiBold;
            font-size: 28px;
            line-height: 36px;
        }

        .btn {
            min-height: 35px;
            padding: 9px 20px;
        }
    }

    &--item-body {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 50px 55px 60px;
        background-color: $white;
        background-image: url('../images/car-card-stripes.jpg');
        background-repeat: no-repeat;
        background-position: calc(100% - 40px) bottom;
        border-radius: 0 0 10px 10px;
        box-shadow: 0 0 18px rgba(214, 214, 214, 1);
        z-index: 1;

        .btn {
            flex: 100%;
            margin-top: 35px;
        }
    }

    .image {
        flex: 1;
        max-width: 222px;
        margin-right: 40px;
    }
}

.rented-car-properties-list {
    display: flex;
    flex-wrap: wrap;
    flex: 1;

    &--item {
        flex: 100%;
        max-width: 33.333%;
        padding: 20px 20px 0 0;
        font-family: $font-base-semiBold;
        font-size: 20px;

        &.column-2 {
            max-width: 66.666%;
        }
    }

    .label {
        margin-bottom: 20px;
        font-family: $font-base-semiBold;
        font-size: 16px;
        color: $textGray;
    }

    .number {
        display: inline-block;
        padding: 8px 15px;
        font-family: $font-base-semiBold;
        font-size: 16px;
        line-height: 22px;
        background: $white;
        border-radius: 3px;
        box-shadow: 0 0 18px rgba(214, 214, 214, 1);

        img {
            margin-left: 10px;
        }
    }

    .status {
        padding: 1px 16px;
        border-radius: 2px;

        &.booked {
            background: $yellowLight;
        }

        &.on-loan {
            background: $greenLight;
        }

        &.in-garage {
            background: $grayBg;
        }
    }

    .gps {
        display: flex;
        align-items: center;
        padding: 24px 0 0 20px;

        &:hover .text span {
            border-color: transparent;
        }

        img {
            margin-right: 20px;
        }

        .text {
            max-width: 75px;
            font-family: $font-base-bold;
            font-size: 14px;
            line-height: 18px;
            color: $black;

            span {
                border-bottom: 1px solid $borderColor;
            }
        }
    }

    .price {
        display: flex;
        align-items: baseline;
        font-family: $font-base;
        font-size: 34px;
        color: $blueDark;
        white-space: nowrap;

        .rouble {
            font-size: 30px;
        }

        span {
            font-family: $font-base-semiBold;
            font-size: 21px;
            color: $black;
        }
    }
}

.rented-car-info {
    display: flex;

    .image {
        position: relative;
        flex: 1;
        max-width: 400px;
        padding: 0 40px;

        .swiper-button-prev,
        .swiper-button-next {
            width: 16px;
            height: 36px;
            top: 50%;
            transform: translateY(-50%);

            &:before,
            &:after {
                content: '';
                position: absolute;
                top: 0;
                left: 6px;
                width: 2px;
                height: 20px;
                margin: 0;
                background: $black;
                border-radius: 4px;
                transform: rotate(-35deg) translate(0, 0);
            }

            &:before {
                top: auto;
                bottom: 0;
                transform: rotate(35deg);
            }
        }

        .swiper-button-next {
            right: 0;
        }

        .swiper-button-prev {
            left: 0;
            transform: translateY(-50%) rotate(180deg);
        }
    }

    .rented-car-properties-list {
        flex: 1;
        padding-left: 40px;

        .status {
            padding: 1px 10px;
        }

        .gps {
            padding: 0;

            .text {
                max-width: 100%;
                font-size: 18px;
            }
        }

        .btn {
            padding: 15px 20px;
        }
    }
}

.product-gallery {
    position: relative;

    img {
        border-radius: 10px;
    }
}

.product-gallery-thumbnails {
    margin-top: 27px;

    &--item {
        position: relative;
        cursor: pointer;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: $white;
            opacity: 0;
            z-index: 5;
        }
    }

    &--item.swiper-slide-thumb-active:before {
        opacity: .54;
    }

    img {
        border-radius: 5px;
    }
}

.profile-form {

    .input {
        height: 70px;
    }

    textarea {
        max-width: 100%;
        min-height: 222px;
    }

    .radio-list {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        .radio {
            padding: 24px 40px 0 24px;
        }
    }

    .radio {
        height: auto;
        padding: 0;
        border: 0;

        .icon {
            width: 24px;
            height: 24px;
            box-shadow: inset 1px 0 4px rgba(0, 0, 0, .18);

            &:before {
                background: $blue;
            }
        }
    }

    .btn {
        width: 100%;
        max-width: 364px;
    }
}

.login-form {
    max-width: 740px;
    margin: 180px auto 0;

    .sub-title {
        max-width: 580px;
        margin-top: 30px;
        font-size: 21px;
        line-height: 27px;
    }

    .link {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px 40px;
        font-family: $font-base-semiBold;
        font-size: 17px;
        color: $black;
    }
}


/*** Media ***/

@media (max-width: 1601px) {

    .account-name {
        max-width: 400px;

        .image {
            margin-right: 23px;

            img {
                width: 96px;
                height: 96px;
                min-width: 96px;
            }
        }

        .text {
            max-width: 242px;
            font-size: 22px;
            line-height: 22px;
        }
    }

    .account-phone-wrap {
        padding: 25px;

        .phone {
            font-size: 31px;
        }
    }

    .account-discount-wrap {

        .discount {
            font-size: 80px;
            line-height: 80px;
        }
    }

    .account-card-list {

        .info-text {
            font-size: 23px;
            line-height: 27px;
        }

        .count {
            font-size: 50px;
            line-height: 38px;
        }

        .small-card {
            margin-right: 30px;
        }
    }

    .banner-list {

        &--item {
            padding: 36px 80px;

            &.banner-center-text {
                padding-left: 23%;
            }
        }

        .text {
            max-width: 288px;
        }

        .title {
            font-size: 32px;
            line-height: 32px;
        }
    }

    .rented-cars-list--item-head {
        padding: 10px 24px;

        .title {
            font-size: 22px;
            line-height: 30px;
        }
    }

    .rented-cars-list--item-body {
        padding: 40px 24px 60px;
    }

    .rented-car-info {
        display: block;

        .image {
            padding: 0 40px;
        }

        .rented-car-properties-list {
            padding: 40px 0 0;
        }
    }
}

@media (max-width: 1441px) {

    .rented-cars-list {

        .image {
            flex: 100%;
            max-width: 100%;
            margin: 0 0 15px;
        }

        .rented-car-properties-list {
            flex: 100%;
        }
    }
}

@media (max-width: 1199px) {

    .account-info {
        padding-bottom: 50px;
        border-bottom: 1px solid $borderColor;
    }

    .account-name {
        max-width: 100%;
        flex: 100%;
    }

    .account-phone-wrap {
        flex: 100%;
        max-width: 500px;
        margin-top: 30px;
    }

    .account-discount-wrap {
        flex: 100%;
        justify-content: flex-start;
        max-width: 100%;
        margin-top: 24px;
        padding: 0 26px;

        .discount {
            font-size: 50px;
            line-height: 50px;

            span {
                font-size: 17px;
                line-height: 17px;
            }
        }

        .text {
            display: flex;
            align-items: center;
            max-width: 100%;

            img {
                width: 60px;
            }

            span {
                margin: 0 0 0 30px;
            }
        }
    }

    .discount-list-wrap {

        .info-text {
            margin-top: 60px;
            padding: 25px 0 0 42px;
            font-size: 23px;
            line-height: 27px;

            &:before {
                left: 17px;
            }
        }
    }

    .discount-list--item {
        padding: 60px 0;
    }
}

@media (max-width: 1025px) {

    .cabinet-menu {

        .count {
            min-width: 29px;
            min-height: 24px;
            font-size: 15px;
            line-height: 18px;
        }
    }

    .banner-list {
        margin-top: 100px;

        &--item {
            margin-top: 40px;
        }
    }

    .rented-cars-block {

        .info-text {

            .text {
                padding: 30px 20px 0 25px;
                font-size: 20px;
                line-height: 26px;
            }
        }

    }
}

@media (max-width: 992px) {

    .profile-form {

        .radio-list {

            .radio {
                padding: 0 30px 20px 0;
            }
        }
    }
}

@media (max-width: 769px) {

    .cabinet-page {

        .characteristics-list-wrap {
            padding-bottom: 100px;
            border-bottom: 1px solid $borderColorLight;
        }
    }

    .account-card-list {

        &--item {
            flex-wrap: wrap;
        }

        .small-card {
            flex: 100%;
            max-width: 100%;
            margin: 0 0 60px;
        }

        .info-text {
            flex: 100%;
            max-width: 100%;
        }
    }

    .discount-list {

        &--item {
            flex-wrap: wrap;
        }

        .equal {
            margin: 0 0 0 10px;
        }

        .card {
            flex: 100%;
            margin-top: 35px;

            .image {
                max-width: 120px;
            }
        }
    }

    .rented-cars-block {

        .info-text {
            display: block;

            .text {
                max-width: 100%;
            }

            .btn {
                margin-top: 50px;
            }
        }

        .empty-text {

            .text {
                font-size: 20px;
                line-height: 26px;
            }

            .button-wrap {

                .btn {
                    width: 100%;
                }
            }
        }
    }

    .rented-cars-list {
        margin-top: 60px;

        &--item-body {
            background-image: none;
        }

        .image {
            margin-bottom: 35px;
        }
    }

    .rented-car-properties-list {
        margin-top: -40px;

        &--item {
            padding-top: 40px;
        }

        .label {
            margin-bottom: 15px;
            font-size: 15px;
        }

        &--item {
            max-width: 50%;
        }

        .status {
            font-size: 18px;
        }

        .number {
            padding: 6px 10px;
            font-size: 16px;
            line-height: 22px;
        }

        .price {
            font-size: 30px;

            span {
                font-size: 16px;
            }
        }
    }

    .rented-car-properties-list {

        &--item.column-2 {
            max-width: 50%;
        }

        &--item.column-mobile-wide {
            max-width: 100%;
            padding-right: 0;
        }
    }

    .rented-car-info {

        .rented-car-properties-list {
            margin-top: -30px;

            &--item {
                padding-top: 30px;
            }

            .number img {
                display: none;
            }

            .gps .text {
                max-width: 80px;
                font-size: 14px;
                line-height: 17px;
            }

            .btn {
                width: 100%;
            }
        }
    }

    .profile-form {

        .input {
            font-family: $font-base;
        }
    }

    .login-form {
        margin-top: 80px;

        .input {
            height: 70px;
        }

        .btn {
            width: 100%;
        }
    }
}

@media (max-width: 561px) {

    .account-card-list {

        &--item {
            background: none !important;
        }

        .discount {
            font-size: 33px;

            span {
                font-size: 19px;
            }
        }

        .shadow-wrap {
            padding: 40px 40px 45px;
        }

        .image {
            flex: 100%;
            max-width: 100%;
            margin: 0 0 40px;
        }

        .info {
            flex: 100%;
            max-width: 100%;
        }
    }

    .discount-list {

        .days-count {

            .count {
                margin-right: 15px;
            }

            .text {
                font-size: 22px;
            }
        }
    }

    .banner-list {

        &--item,
        &--item.banner-center-text{
            padding: 80px 42px 429px;
        }

        .image-bg {
            display: none;
        }

        .image-mobile-bg {
            display: block;
        }
    }
}

@media (max-width: 426px) {

    .account-name {
        flex-wrap: wrap;
        padding: 0;

        .image {
            flex: 100%;
            margin: 0 0 10px;
        }

        .text {
            flex: 100%;
        }

        .arrow {
            flex: 12px;
        }
    }

    .account-phone-wrap {

        .phone {
            font-size: 24px;
        }
    }

    .account-info {
        padding-bottom: 30px;

        .cabinet-menu {
            margin-left: -20px;
            margin-right: -20px;
        }

        .cabinet-menu--item {
            padding: 20px;
        }
    }

    .account-card-list {
        margin-top: 35px;
    }

    .account-card-list {

        .shadow-wrap {
            padding: 20px;
        }

        .small-card {
            margin-bottom: 30px;

            .title {
                font-size: 22px;
                line-height: 24px;
            }
        }

        .count {
            font-size: 40px;
            line-height: 28px;
        }

        .info-text {
            font-size: 20px;
        }
    }

    .discount-list-wrap {
        margin-top: 60px;
    }

    .discount-list {

        &--item {
            padding: 40px 0;
        }

        .card {
            flex-wrap: wrap;

            .image {
                flex: 100%;
                max-width: 100%;
                margin: 0 0 15px;
            }
        }
    }

    .banner-list {

        &--item,
        &--item.banner-center-text {
            padding: 50px 30px 300px;
        }

        .title {
            font-size: 23px;
            line-height: 30px;
        }

        .description {
            margin-top: 15px;
            font-size: 20px;
            line-height: 26px;
        }
    }

    .properties-list {

        &--item {
            max-width: 100%;
            padding: 20px 0 0;
        }

        .gps {
            padding: 0;
        }
    }

    .rented-car-info {

        .image {
            margin: 0 -15px;
            padding: 0 30px;
        }
    }
}