@import '_var.scss';

.hero-block {
    min-height: 1099px;
    padding: 300px 40px 40px;

    .btn {
        display: flex;
        align-items: center;
        max-width: 380px;
        height: 73px;
        border-radius: 50px;
        font-family: $font-base-semiBold;
        font-size: 23px;
    }
}