@import '_var.scss';

* {
    min-height: 0;
    min-width: 0;
    box-sizing: border-box;
    outline: none;
}

html, body {
    min-height: 100%;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
    font-family: $font-base;
    font-size: 16px;
    line-height: normal;
    color: $black;
    font-weight: normal;
    overflow-x: hidden;
}

.wrapper {
    position: relative;
    min-height: calc(100vh - 744px);
}

.container-block {
    width: 100%;
    max-width: 1755px;
    margin: 0 auto;
    padding: 0 150px;
}


/*** Buttons ***/

.btn {
    display: inline-block;
    align-items: center;
    justify-content: center;
    min-height: 50px;
    width: auto;
    padding: 15px 40px;
    font-family: $font-base-bold;
    font-size: 16px;
    line-height: normal;
    text-align: center;
    border: 0;
    border-radius: 50px;
    transition: .3s;
    cursor: pointer;

    .icon {
        display: inline-block;
        vertical-align: middle;
        width: 16px;
        height: 16px;
        margin: 0 0 0 14px;
        border: 0;
        transition: .3s;

        &:first-child {
            margin: 0 14px 0 0;
        }

        img {
            width: 100%;
            height: 100%;
        }
    }

    .arrow {
        width: 16px;
        height: 16px;
        background-image: url(../images/icons/arrow-white.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    .text {
        vertical-align: text-bottom;
    }
}

.btn-blue {
    background: $blue;
    color: $white;

    &:hover {
        background: $linkColorHover;
        color: $white;
    }

    svg {
        fill: $white;
    }
}

.btn-empty {
    background: none;
    border: 2px solid;

    &.btn-blue {
        color: $black;
        border-color: $blue;

        &:hover {
            background: $linkColorHover;
            color: $white;
            border-color: $linkColorHover;
        }
    }

    &.btn-gray {
        color: $black;
        border-color: $textGray;

        &:hover {
            background: $textGray;
            color: $white;
            border-color: $textGray;
        }
    }

    .arrow {
        background-image: url(../images/icons/arrow-black.png);
    }

    &:hover {
        color: $white;

        .arrow {
            background-image: url(../images/icons/arrow-white.png);
        }
    }
}

.btn-small {
    min-height: 40px;
    padding: 15px 25px;
    font-family: $font-base-semiBold;
    font-size: 14px;
}

.btn-extraSmall {
    min-height: 20px;
    padding: 5px 25px;
    font-family: $font-base-semiBold;
    font-size: 12px;
}

.btn-medium {
    min-height: 50px;
    padding: 15px 20px;
    font-family: $font-base-semiBold;
    font-size: 18px;
}

/*** End Buttons ***/


ol {
    margin: 34px 0 0;
    padding: 0;
    counter-reset: list 0;

    &:first-child {
        margin-top: 0;
    }
    
    li {
        list-style-type: none;
        font-size: 16px;
        line-height: 160%;
        font-feature-settings: 'pnum' on, 'lnum' on;
        
        &:before {
            content: counter(list) ". ";
            counter-increment: list;
            font-feature-settings: 'pnum' on, 'lnum' on;
        }
    }
}

ul {
    margin: 30px 0 0;
    padding: 0;
    list-style: none;

    &:first-child {
        margin-top: 0;
    }
}

li {
    margin-top: 10px;

    &:first-child {
        margin-top: 0;
    }

    .icon {
        width: 30px;
        min-width: 30px;
        margin-right: 15px;
        font-size: 30px;
    }

    .text {

        a {
            font-weight: bold;

            &:hover {
                opacity: .7;
            }
        }
    }
}

p {
    margin: 25px 0 0;

    &:first-child {
        margin-top: 0;
    }
}

img {
    max-width: 100%;
    object-fit: contain;
}

.noscroll {
    overflow: hidden;
}

.uppercase {
    text-transform: uppercase;
}

.dashed {
    border-bottom: 1px dashed;
}

.rouble {
    font-family: $font-rouble !important;
}

h1,
h2,
h3,
h4,
.h1,
.h2,
.h3,
.h4 {
    margin: 0;
    font-family: $font-base-bold;
    font-weight: normal;
    color: $black;
}

h1,
.h1 {
    font-size: 60px;
    line-height: 55px;
}

h2,
.h2 {
    font-size: 44px;
    line-height: 40px;
}

h3,
.h3 {
    font-size: 36px;
    line-height: 36px;
}

h4,
.h4 {
    font-family: $font-base-semiBold;
    font-size: 18px;
    line-height: 20px;
}

.sup-title {
    font-family: $font-base-bold;
    font-size: 16px;
    line-height: 20px;
    color: $purpleDark;
    text-transform: uppercase;
}

.title-wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.regular {
    font-family: $font-base;
}

.semibold {
    font-family: $font-base-semiBold;
}

.bold {
    font-family: $font-base-bold;
}

a {
    color: $linkColor;
    text-decoration: none;
    outline: none;
    transition: 0.3s;

    &:hover {
        color: $linkColor;
    }
}

.icon {
    width: 30px;
    height: 30px;
    fill: $green;
}

.icon-search {
    fill: none;
    stroke: $black;
}


.mCSB_scrollTools {
    opacity: 1;

    .mCSB_draggerRail {
        background-color: $grayIcon;
    }

    .mCSB_dragger {

        &:hover,
        &:active,
        &:focus,
        &.mCSB_dragger_onDrag {

            .mCSB_dragger_bar {
                background: $blue;
            }
        }

        .mCSB_dragger_bar {
            background: $blue;
        }
    }
}


/*** Tabs ***/

.tabs {

    &-body {

        &--item {
            display: none;

            &.active {
                display: block;
            }
        }
    }
}

/*** End Tabs ***/


/*** Form elements ***/

.form {
    margin: 0;

    .info-text {
        margin: 13px 0 0 20px;
    }

    .error {
        color: $red;
    }

    .total-price {
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;

        .label {
            padding-right: 20px;
            font-family: $font-base-semiBold;
            font-size: 45px;
        }

        .price {
            font-size: 65px;
            color: $blue;

            b {
                font-weight: 500;
            }
        }

        &.medium {

            .label {
                font-size: 34px;
            }

            .price {
                font-size: 45px;
            }
        }
    }
}

.input-wrap {
    position: relative;

    .label {
        margin-bottom: 10px;
        font-family: $font-base-semiBold;

        &.gray {
            color: $textGray;
        }
    }
}

.input,
.select,
.textarea {
    width: 100%;
    height: 90px;
    padding: 30px 80px 30px 40px;
    background: $white;
    font-family: $font-base;
    font-size: 20px;
    color: $black;
    border: 0;
    border-radius: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    box-shadow: $boxShadow;

    &::-webkit-input-placeholder,
    &:-ms-input-placeholder,
    &::-moz-placeholder,
    &::placeholder {
        font-family: $font-base;
        font-size: 20px;
        color: $black;
        opacity: 1;
    }

    &.error {
        border: 1px solid $red;
    }
}

input[type="password"] {
    padding-right: 50px;
}

.textarea {
    min-height: 146px;
}

.password {
    position: relative;

    &.active {

        img {
            opacity: .8;
        }
    }

    input {
        position: relative;
        padding-right: 60px;
        z-index: 1;
    }

    input[type="password"] {
        font-size: 32px;
        letter-spacing: 3px;
        color: $blue;
    }

    img {
        position: absolute;
        top: 50%;
        right: 30px;
        transform: translateY(-50%);
        z-index: 5;
        cursor: pointer;
    }
}

.checkbox {
    display: flex;
    margin-top: 16px;
    cursor: pointer;

    &:first-child {
        margin-top: 0;
    }
    
    input {
        display: none;
    }

    input:checked + .icon {
        background: $white;
        border: 1px solid $themeColor;

        &::before {
            opacity: 1;
        }
    }

    .icon {
        position: relative;
        width: 20px;
        min-width: 20px;
        height: 20px;
        background: $gray;
        border-radius: 3px;
        cursor: pointer;

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 12px;
            height: 12px;
            background: $themeColor;
            border-radius: 2px;
            opacity: 0;
        }
    }

    .text {
        padding-left: 19px;
        font-size: 18px;
        line-height: 22px;
    }
}

.checkbox-list {
    display: flex;
    flex-wrap: wrap;
    margin: -20px 0 0 -40px;

    .checkbox {
        margin: 20px 0 0 40px;
    }
}

.radio {
    display: flex;
    align-items: center;
    height: 70px;
    padding: 10px 30px;
    border: 1px solid $borderColor;
    border-radius: 5px;
    cursor: pointer;

    &:first-child {
        margin-top: 0;
    }
    
    input {
        display: none;
    }

    input:checked + .icon:before {
        opacity: 1;
    }

    .icon {
        position: relative;
        width: 22px;
        height: 22px;
        min-width: 18px;
        margin-right: 14px;
        border-radius: 50%;
        border: 1px solid $borderColor;

        &:before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 13px;
            height: 13px;
            background: $redBright;
            border-radius: 50%;
            opacity: 0;
        }
    }

    .label {
        width: 100%;
        font-family: $font-base-semiBold;
        font-size: 20px;
        color: $black;
        border-radius: 5px;
    }
}

/*** End Form elements ***/


/*** Custom Select ***/

.select-wrap {
    position: relative;

    .icon {
        content: "";
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        font-size: 11px;
        pointer-events: none;
    }
}

select {
    width: 100%;
    padding: 3px 22px 3px 0;
    background: none;
    font-family: $font-base-semiBold;
    font-size: 18px;
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/***/

.custom-select-wrap {
    position: relative;

    .icon {
        content: "";
        position: absolute;
        top: 50%;
        right: 36px;
        transform: translateY(-50%);
        font-size: 16px;
        pointer-events: none;
        z-index: 9;
    }
}

.custom-select-wrapper {
    position: relative;
    width: 100%;
    display: inline-block;
    user-select: none;

    select {
        display: none;
    }
}

.custom-select-trigger {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 70px;
    padding: 0 60px 0 20px;
    background: $white;
    color: $black;
    font-size: 18px;
    line-height: 20px;
    border: 1px solid $borderColor;
    box-sizing: border-box;
    border-radius: 5px;
    -webkit-appearance: none;
    cursor: pointer;
    z-index: 9;

    &:before {
        content: '';
        position: absolute;
        top: 50%;
        right: 30px;
        transform: translateY(-50%);
        width: 20px;
        height: 10px;
        background: url(../images/icons/arrow-toggle-down.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    span {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    &::-ms-expand {
        display: none;
    }

    &.error {
        border-color: $red;
    }
}

.custom-select {
    position: relative;
    width: 100%;
    height: auto;
    background: none;
    border: 0;
    padding: 0;

    .custom-options {
        position: absolute;
        top: calc(100% - 3px);
        left: 0;
        right: 0;
        min-width: 100%;
        max-height: 500px;
        padding: 10px 0;
        background: $white;
        opacity: 0;
        visibility: hidden;
        overflow: auto;
        pointer-events: none;
        border: 1px solid $borderColor;
        border-radius: 0 0 5px 5px;
        box-shadow: 0 10px 24px 0 rgba(0, 0, 0, .05);
        z-index: 11;
    }

    &.opened {

        .custom-options {
            opacity: 1;
            visibility: visible;
            pointer-events: all;
        }

        .custom-select-trigger:before {
            margin-top: -4px;
            transform: rotate(-180deg);
        }
    }

    .custom-option {
        position: relative;
        display: block;
        min-width: 100px;
        padding: 14px 20px;
        font-size: 16px;
        font-weight: normal;
        line-height: normal;
        color: $textColor;
        cursor: pointer;
        z-index: 9;

        .wrap {
            display: flex;
            align-items: center;
        }

        .info {
            display: flex;
            align-items: center;
            max-width: 136px;
            margin-right: 40px;
            padding-right: 10px;

            .image {
                min-width: 24px;
                margin-right: 15px;
            }

            .title {
                font-size: 13px;
                line-height: 13px;
                white-space: normal;
            }
        }

        &:hover,
        &.selection {
            color: $themeColor;
        }
    }


    &.big {

        .custom-select-trigger {
            height: 90px;
            background: $white;
            border: 0;
            box-shadow: $boxShadow;
        }

        .custom-options {
            border: 0;
        }
    }

    &.medium {

        .custom-select-trigger {
            height: 48px;
            font-size: 18px;
        }

        .custom-option {
            padding-top: 10px;
            padding-bottom: 10px;
            font-size: 16px;
        }
    }
}

/*** End Custom Select ***/


/*** Spoiler ***/

.spoiler--body {
    display: none;
}

/*** End Spoiler ***/


/*** Modals ***/

.medium {

    .modal-dialog {
        max-width: 800px;
    }
}

.modal-dialog {
    max-width: 995px;
    padding: 0 10px;
}

.modal-content {
    position: relative;
    padding: 40px;
    border: 0;
    box-shadow: none;
    border-radius: 15px;

    .close {
        position: absolute;
        top: 20px;
        right: 25px;
        width: 18px;
        height: 18px;
        cursor: pointer;

        &:before,
        &:after {
            content: "";
            display: block;
            width: 20px;
            height: 2px;
            background: $black;
            margin: 8px 0 0 0;
            transform: rotate(-45deg);
        }

        &:after {
            margin: -2px 0 0 0;
            transform: rotate(45deg);
        }
    }

    .filters {
        margin-top: 30px;
        padding: 0;
        box-shadow: none;
    }
}

.modal-header {
    padding: 0;
    border: 0;
}

.modal-body {
    padding: 0;

    textarea {
        min-height: 170px;
    }
}

.modal-btn {
    cursor: pointer;
}

.modal-wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-height: 100vh;
    display: flex;
    padding: 15px;
    transition: .3s;
    opacity: 0;
    overflow: auto;
    pointer-events: none;
    z-index: 9999;

    &.open {
        opacity: 1 !important;
        pointer-events: all !important;

        .modal {
            display: block;
        }

        .overflow {
            display: block;
            pointer-events: all;
        }
    }

    .overflow {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $black;
        z-index: 1;
        cursor: pointer;
        opacity: .4;
        pointer-events: none;
    }
}

.modal {
    position: relative;
    width: 100%;
    height: auto;
    max-width: 600px;
    margin: auto;
    background: $white;
    border-radius: 10px;
    overflow: visible;
    z-index: 5;

    &.medium-size {
        max-width: 800px;
    }

    &.max-size {
        max-width: 896px;
    }

    .close {
        position: absolute;
        top: 25px;
        right: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 25px;
        height: 25px;
        cursor: pointer;
        z-index: 9;

        &:before,
        &:after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(45deg);
            width: 25px;
            height: 2px;
            background: $black;
        }

        &:after {
            transform: translate(-50%, -50%) rotate(-45deg);
        }
    }

    .wrap {
        padding: 60px 80px 40px;
    }

    .sub-title {
        margin-top: 15px;
        font-size: 25px;
        line-height: 25px;
    }

    .input,
    .select,
    .textarea {
        height: 80px;
    }

    .btn {
        width: 100%;
        max-width: 250px;
    }


    .bind-number-form {

        .sub-title {
            max-width: 445px;
            font-size: 20px;
            line-height: 20px;
        }
    }

    .code-wrap {
        display: flex;

        .input {
            max-width: 57px;
            margin-left: 16px;
            padding: 10px;
            font-family: $font-base-semiBold;
            font-size: 29px;
            line-height: 29px;
            text-align: center;
            border-radius: 2px;

            &:first-child {
                margin-left: 0;
            }
        }
    }

    .time {
        font-family: $font-base-semiBold;
        font-size: 29px;
        line-height: 29px;
    }
}

.cities {
    display: flex;
    flex-wrap: wrap;
    margin: 15px 0 0;

    li {
        flex: 100%;
        max-width: 25%;
        margin: 15px 0 0;
        padding-right: 10px;
    }
}

/*** End Modals ***/


/*** Search block ***/

.search-block {
    position: relative;

    input[type="text"] {
        height: 54px;
        background: $white;
        box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.05);
        border-radius: 16px;
    }

    button {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 54px;
        height: 100%;
        background: $black;
        border: 0;
        border-radius: 0 16px 16px 0;

        .icon {
            width: 18px;
            height: 18px;
            fill: $black;
            stroke: $white;
        }
    }
}

/*** End Search block ***/


/*** Swiper ***/

.swiper-container-initialized {
    position: relative;
    overflow: hidden;
}

.swiper-container-fade {

    .swiper-slide {
        pointer-events: all;
    }
}

.swiper-wrapper {
    height: auto;
}

.swiper-button-next,
.swiper-button-prev {

    &:after {
        font-size: 18px;
        font-weight: bold;
        color: $black;
    }

    &.swiper-button-disabled {
        opacity: .5;
        pointer-events: none;
    }
}

.swiper-button-next {
    right: -8px;
}

.swiper-button-prev {
    left: -8px;
}

.swiper-button-prev.big,
.swiper-button-next.big {
    width: 16px;
    height: 64px;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);

    &:before,
    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 6px;
        width: 4px;
        height: 34px;
        margin: 0;
        background: $black;
        border-radius: 4px;
        transform: rotate(-20deg) translate(0, 0);
    }

    &:before {
        top: auto;
        bottom: 0;
        transform: rotate(20deg);
    }
}

.swiper-button-prev.big {
    left: 10px;
    transform: translateY(-50%) rotate(180deg);
}

/*** End Swiper ***/


/*** Range slider ***/

.irs {
    height: 10px;
}

.irs--round {
    height: 10px;

    .irs-max,
    .irs-min {
        display: none;
    }

    .irs-line {
        top: 4px;
        height: 3px;
        background-color: $borderColor;
        border-radius: 3px;
    }

    .irs-bar {
        position: absolute;
        display: block;
        left: 0;
        width: 0;
        top: 4px;
        height: 3px;
        background-color: $themeColor;
        border-radius: 3px;
    }

    .irs-handle {
        position: absolute;
        top: 0;
        width: 10px;
        height: 10px;
        background-color: $themeColor;
        border-radius: 50%;
    }
}

.range-slider-controls {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 13px;

    &--item {
        flex: 1;

        &:first-child {
            margin-right: -3px;
        }
    }

    .label {
        padding-bottom: 2px;
        font-size: 14px;
        line-height: 17px;
        color: $borderColor;
    }

    .input {
        height: 40px;
        padding: 0 20px;
        font-family: $font-base-semiBold;
        font-size: 14px;
        line-height: 19px;
        color: $black;

        input {
            flex: 1;
            height: 100%;
            padding: 0;
            font-size: 14px;
            border: 0;
            text-align: right;
        }

        span {
            flex: 1;
        }
    }

    .from {
        border-radius: 5px 0 0 5px;
    }

    .to {
        border-radius: 0 5px 5px 0;
    }
}

/*** End Range slider ***/


/*** Pagination ***/

.pagination {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 40px -18px 0;
    
    &--item {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        min-width: 30px;
        margin: 35px 18px 0;
        font-family: $font-base-bold;
        font-size: 16px;
        line-height: 20px;
        color: $black;
        text-align: center;
        border-radius: 50%;
        
        &:hover {
            background: $blue;
            color: $white;
        }
        
        &.active {
            background: $blue;
            color: $white;
        }
        
        &.prev,
        &.next {
            background: none;
            border: 2px solid $blue;
        }
    
        &.prev {

            img {
                transform: rotate(-180deg);
            }
        }
    }
}

/*** End Pagination ***/


/*** Banner ***/

.banner {
    min-width: 280px;
    margin-top: 66px;
    padding: 78px 20px;
    background-size: cover;
    background-position: center;
    color: $white;
    border-radius: 16px;
    
    .title {
        max-width: 440px;
        margin: 0 auto;
        font-family: $font-base-extraBold;
        font-size: 45px;
        line-height: 56px;
    }
    
    .description {
        max-width: 440px;
        margin: 26px auto 0;
        font-size: 18px;
        line-height: 22px;
    }
}

/*** End Banner ***/


/*** Breadcrumbs ***/

.breadcrumbs {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 35px 0 0 -15px;

    &--item {
        position: relative;
        margin: 15px 0 0 15px;
        padding: 0 0 0 15px;
        font-family: $font-base-semiBold;
        font-size: 14px;
        line-height: 20px;
        color: $textGray;

        &:hover {
            color: $black;
        }

        &:before {
            content: '-';
            position: absolute;
            top: 50%;
            left: -2px;
            transform: translateY(-50%);
            font-family: $font-base-semiBold;
            font-size: 14px;
            color: $black;
            opacity: .46;
        }

        .icon {
            width: 19px;
            height: 19px;
            margin-right: 15px;
        }

        .text {
            opacity: .46;
        }

        &.back-link .text {
            opacity: 1;
        }
        
        &:first-child {
            padding-left: 0;
            
            &:before {
                display: none;
            }
        }
    }

    span {
        color: $black;
    }
}

/*** End Breadcrumbs ***/


/*** Rating ***/

.rating--list {
    display: flex;
    margin: -14px 0 0 -14px;

    .icon {
        width: 24px;
        height: 24px;
        margin: 14px 0 0 14px;
        background-image: url('../images/icons/star.svg');
        background-size: contain;
        background-repeat: no-repeat;

        &.disabled {
            background-image: url('../images/icons/star--disable.svg');
        }
    }
}

/*** End Rating ***/


.date-time-picker-wrap {
    display: flex;
    box-shadow: $boxShadow;

    .timepicker-wrap,
    .datepicker-wrap {

        input {
            box-shadow: none;
        }
    }

    .datepicker-wrap input {
        border-radius: 5px 0 0 5px;
    }

    .timepicker-wrap input {
        border-left: 2px solid $grayBg;
        border-radius: 0 5px 5px 0;
    }
}


/*** Timepicker ***/

.timepicker-wrap {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    background: $white;
    border-radius: 30px;

    input {
        width: 100%;
        height: 90px;
        padding: 10px 80px 10px 40px;
        background: $white;
        font-family: $font-base;
        font-size: 18px;
        color: $black;
        border-radius: 5px;
        border: 0;
        cursor: pointer;
        box-shadow: $boxShadow;

        &::placeholder {
            font-family: $font-base;
            font-size: 18px;
            color: $black;
        }
    }

    .icon {
        position: absolute;
        top: 50%;
        right: 30px;
        transform: translateY(-50%);
        height: 25px;
        pointer-events: none;

        &:before {
            color: $black;
        }

        img {
            width: 100%;
            height: 100%;
        }
    }
}

/*** End Timepicker ***/


/*** Datepicker ***/

.datepicker-wrap {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    background: $white;
    border-radius: 30px;

    input {
        width: 100%;
        height: 90px;
        padding: 10px 80px 10px 40px;
        background: $white;
        font-family: $font-base;
        font-size: 18px;
        color: $black;
        border-radius: 5px;
        border: 0;
        cursor: pointer;
        box-shadow: $boxShadow;

        &::placeholder {
            font-family: $font-base;
            font-size: 18px;
            color: $black;
        }
    }

    .icon {
        position: absolute;
        top: 50%;
        right: 30px;
        transform: translateY(-50%);
        font-size: 14px;
        pointer-events: none;

        &:before {
            color: $black;
        }
    }
}

.ui-widget.ui-widget-content {
    border-color: #f4f5f9;
    z-index: 99;
}

.ui-widget-header {
    border-color: #f4f5f9;
    background: #f4f5f9;
    color: $black;
}

.ui-datepicker .ui-datepicker-prev span:before,
.ui-datepicker .ui-datepicker-next span:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    border-style: solid;
}

.ui-datepicker .ui-datepicker-prev span:before {
    border-width: 4px 8px 4px 0;
    border-color: transparent $themeColor transparent transparent;
}

.ui-datepicker .ui-datepicker-next span:before {
    border-width: 4px 0 4px 8px;
    border-color: transparent transparent transparent $themeColor;
}

.ui-datepicker td span,
.ui-datepicker td a {
    text-align: center;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
    border-color: #f4f5f9;
    background: #f4f5f9;
    font-weight: normal;
    color: $black;
}

.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
    border-color: $red;
    background: $red;
    color: $white;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active, .ui-button:active,
.ui-button.ui-state-active:hover {
    border-color: $themeColor;
    background: $themeColor;
    color: $white;
}

/*** End Datepicker ***/


/*** Uploader ***/

.uploader-wrap {
    display: flex;
    flex-wrap: wrap;

    .uploader-btn {
        position: relative;
        width: 56px;
        height: 56px;
        margin-top: 14px;
        background: $white;
        box-shadow: $boxShadow;
        cursor: pointer;

        &:before,
        &:after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: 17px;
            height: 2px;
            background: $blue;
            transform: translate(-50%, -50%) rotate(90deg);
        }

        &:after {
            transform: translate(-50%, -50%) rotate(0deg);
        }
    }
}

.uploader-list {
    display: flex;
    flex-wrap: wrap;

    &--item {
        position: relative;
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 56px;
        min-width: 56px;
        max-width: 56px;
        height: 56px;
        margin: 14px 14px 0 0;
        background: $white;
        box-shadow: $boxShadow;

        &:hover .delete {
            opacity: 1;
        }

        .delete {
            position: absolute;
            top: -10px;
            right: -10px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 20px;
            height: 20px;
            background: $white;
            border: 1px solid $black;
            border-radius: 50%;
            cursor: pointer;
            transition: .3s;
            opacity: 0;

            svg {
                width: 10px;
                height: 10px;
            }
        }
    }
}

/*** End Uploader ***/


@import '_header.scss',
        '_footer.scss';
