@import '_var.scss';

/******************************************************************/

@media (max-width: 1601px) {

    h1,
    .h1 {
        font-size: 55px;
        line-height: 60px;
    }

    .app-block .image {
        left: calc(50vw - 600px);
    }


    .about-block-wrap {
        padding: 100px 0;
    }

    .about-block {

        .info {
            padding-left: 35%;

            .description {
                font-size: 30px;
                line-height: 40px;
            }

            .count-wrap {

                .num {
                    max-width: 140px;
                    font-size: 110px;
                    line-height: 80px;
                }

                .text {
                    padding: 0 60px 0 20px;
                }
            }
        }

        ul {
            max-width: calc(100% - 460px);

            li {
                padding-right: 40px;
            }
        }
    }


    .partners-block {
        margin-left: -80px;

        &--item {
            max-width: calc(50% - 80px);
            margin: 40px 0 0 80px;
        }
    }
}

/******************************************************************/

@media (max-width: 1441px) {

    .about-block-wrap {
        background-position: 60% 0;
    }

    .about-block {

        .info {
            padding-left: 25%;

            .count-wrap {
                margin-top: 60px;
            }
        }

        ul {
            max-width: calc(100% - 320px);
            margin: 0;
        }
    }
}

@media (max-width: 1400px) {

    .wrapper {
        padding-top: 85px;
    }
}

/******************************************************************/

@media (max-width: 1281px) {

    .container-block {
        padding: 0 20px;
    }
}

/******************************************************************/

@media (max-width: 1201px) {

    .car-select-block-wrap {

        .city-select {
            margin: 20px 0 0;
        }
    }
}

/******************************************************************/


@media (max-width: 1025px) {

    h1,
    .h1 {
        font-size: 37px;
        line-height: 46px;
    }

    h2, .h2 {
        font-size: 37px;
        line-height: 46px;
    }

    .rating--list {
        margin: -10px 0 0 -10px;

        .icon {
            width: 15px;
            height: 15px;
            margin: 10px 0 0 10px;
        }
    }


    .hero-block {
        min-height: 0;
        margin-bottom: 40px;
        padding: 50px 0 40px;

        .title {
            font-size: 36px;
            line-height: 46px;
        }

        p {
            margin-top: 20px;
            font-size: 20px;
            line-height: 30px;
        }

        .btn {
            max-width: 300px;
            height: 40px;
            margin-top: 40px;
            padding: 20px;
            border-radius: 50px;
            font-size: 20px;
        }

        .info-text {
            margin-top: 30px;

            img {
                max-width: 100px;
            }

            p {
                font-size: 16px;
                line-height: 22px;
            }
        }
    }


    .car-select-block-wrap {
        padding: 40px 0;
    }

    .car-type-list {
        margin-top: 10px;
    }

    .city-select--head .text {
        font-size: 34px;
    }

    .car-select-slider {
        margin-top: 50px;

        &--item {
            flex-direction: column;
            align-items: center;
        }

        .image {
            order: 1;
        }

        .characteristics {
            order: 2;
            max-width: 420px;
            padding-top: 40px;
        }

        .price-list {
            order: 3;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding-top: 40px;

            &--item {
                justify-content: center;
                text-align: center;
            }
        }

        .button-wrap {
            order: 4;
            justify-content: center;
            padding-top: 50px;
        }
    }


    .advantages-block-wrap {
        padding: 40px 0;

        .title-wrap {
            display: block;

            .info-block {
                margin-top: 70px;

                .image {
                    width: 70px;
                    height: 55px;
                    min-width: 70px;
                    margin-right: 25px;
                }

                .text {
                    font-size: 15px;
                    line-height: 20px;
                }
            }
        }

        .more-block {
            display: block;

            .text {
                margin: 45px 0 0 0;
            }

            p {
                margin-top: 35px;
            }

            .btn {
                margin-top: 55px;
            }
        }
    }

    .step-list {
        margin-top: 10px;

        &--item {
            display: flex;
            max-width: 50%;
        }

        .number {
            width: 60px;
            height: 60px;
            min-width: 60px;
            margin: 0 40px 0 0;
            font-size: 20px;
        }

        .text {
            font-size: 15px;
            line-height: 20px;
        }
    }


    .reviews-block-wrap {
        padding: 50px 0;
    }

    .reviews-slider {
        margin-top: 60px;
        padding: 0 80px;

        .name-wrap {
            display: block;

            .quotes {
                max-width: 70px;
                margin: 0 0 20px -10px;
                height: 48px;
                font-size: 205px;
                line-height: 150px;
            }

            .name {
                font-size: 17px;
            }
        }

        .description {
            margin-top: 30px;
            font-size: 14px;
            line-height: 23px;
        }

        .author {
            margin-top: 40px;
            font-size: 16px;
        }

        .btn {
            margin-top: 60px;
        }
    }


    .app-block-wrap {
        padding: 50px 0;

        .title {
            font-size: 37px;
        }
    }

    .app-block {
        display: block;

        .info {
            max-width: 100%;
            margin-bottom: 70px;
        }

        .description {
            margin-top: 45px;
            padding: 30px 0 0 20px;
            font-size: 22px;
            line-height: 30px;

            &:before {
                width: 10px;
                height: 15px;
            }
        }

        .payment-list {
            margin: 35px 0 0 -15px;
        }

        .image {
            left: 0;
            margin: 0 -20px 0 auto;
            max-width: 600px;
        }
    }


    .about-block-wrap {
        padding: 50px 0;
        background: none !important;
    }

    .about-block {

        .info {
            padding-left: 0;

            .description {
                font-size: 20px;
                line-height: 24px;
            }

            .count-wrap {

                .num {
                    font-size: 95px;
                    line-height: 65px;
                }

                .text {
                    max-width: 240px;
                    padding: 0 0 0 35px;
                    font-size: 20px;
                    line-height: 23px;
                }

                .btn {
                    display: none;
                }
            }
        }

        .bottom-block {
            margin-top: 70px;

            .btn {
                display: flex;
                align-items: center;
                max-width: 400px;
                margin: 10px auto 0;
                font-size: 20px;
            }
        }

        ul {
            display: block;
            max-width: 100%;
            min-height: 408px;
            margin-left: -20px;
            padding: 20px 0 50px 170px;
            background: url(../images/hand-keys.jpg);
            background-repeat: no-repeat;

            li {
                max-width: 100%;
                margin-top: 50px;
                padding: 30px 0 0 20px;
                font-size: 17px;
                line-height: 22px;

                &:first-child {
                    margin-top: 0;
                }

                &:before {
                    width: 10px;
                    height: 15px;
                }
            }
        }
    }


    .partners-block-wrap {
        padding: 50px 0;
    }

    .partners-block {
        display: block;
        margin: 40px 0 0;

        &--item {
            max-width: 100%;
            margin: 50px 0 0;

            &:first-child {
                margin-top: 0;
            }
        }

        .image {
            max-width: 165px;
        }
    }


    .faq-block-wrap {
        padding: 50px 0;
    }

    .faq-list {
        margin-top: 40px;
    }


    .contact-block-wrap {
        padding-top: 10px;
    }

    .contact-block {

        .title {
            font-size: 24px;
            line-height: 30px;
        }
    }
}

/******************************************************************/

@media (max-width: 992px) {

}

/******************************************************************/

@media (max-width: 769px) {

}

/******************************************************************/

@media (max-width: 561px) {

    .car-select-block-wrap {

        .car-type-list {
            display: none;
        }

        .custom-select-wrapper {
            display: block;
            margin-top: 30px;
        }
    }

    .car-select-slider {

        .image {
            padding: 0 30px;

            img {
                height: 200px;
                object-fit: contain;
                object-position: center;
            }

            .swiper-button-prev {
                top: auto;
                left: 10px;
                bottom: 70px;
                transform: translateY(0) rotate(180deg);
            }

            .swiper-button-next {
                top: auto;
                right: 10px;
                bottom: 70px;
                transform: translateY(0);
            }
        }

        .button-wrap {
            flex-wrap: wrap;

            .btn {
                display: flex;
                align-items: center;
                justify-content: center;
                flex: 100%;
                min-height: 70px;
            }
        }
    }
}

/******************************************************************/

@media (max-width: 426px) {

}

