html
    title О компании
    include ./blocks/head.jade

    body
        include ./blocks/header.jade

        .wrapper
            .container-block
                .breadcrumbs
                    a(href="#").breadcrumbs--item.back-link
                        img(src="images/icons/back-arrow.png").icon
                        span.text Назад
                    a(href="#").breadcrumbs--item
                        span.text О нас

            .about-block-wrap(style="background-image: url(images/rent-block-bg.jpg);")
                .container-block
                    .about-detail-wrap
                        .sidebar
                            .menu
                                a(href="#").menu--item О компании
                                a(href="#").menu--item Контакты
                                a(href="#").menu--item Аренда CRM
                                a(href="#").menu--item Франшиза
                                a(href="#").menu--item Сдать в аренду
                                a(href="#").menu--item Отзывы
                                a(href="#").menu--item Частые вопросы
                                a(href="#").menu--item Дополнительные услуги
                                a(href="#").menu--item Бонусная программа

                            .social-list
                                a(href='#').social-list--item
                                    img(src="images/icons/social-phone.png").icon
                                    span.text Звонок
                                a(href='#').social-list--item
                                    img(src="images/icons/social-whatsapp.png").icon
                                    span.text Whats App
                                a(href='#').social-list--item
                                    img(src="images/icons/social-telegram.png").icon
                                    span.text Тelegram

                        .about-detail
                            .about-detail-block
                                .text-block
                                    h1.text-uppercase.semibold.title о компании
                                    .text «РосАвтоПрокат» — это удобный сервис проката легковых автомобилей, доступный во многих городах России
                                .image
                                    img(src="images/about-map.png")

                            .statistic-list
                                .statistic-list--item
                                    .icon(style="background-image: url('images/step-num-bg.png')")
                                        img(src="images/icons/location.svg")
                                    .info
                                        .count 52
                                        .title Городов в сети
                                .statistic-list--item
                                    .icon(style="background-image: url('images/step-num-bg.png')")
                                        img(src="images/icons/car.svg")
                                    .info
                                        .count 250
                                        .title Автомобилей в парке
                                .statistic-list--item
                                    .icon(style="background-image: url('images/step-num-bg.png')")
                                        img(src="images/icons/users.svg")
                                    .info
                                        .count 148
                                        .title Сотрудников в компании

                            .mt-5.pt-0.mt-xl-5.pt-xl-5
                                .description.mt-5.pt-0.mt-xl-5.pt-xl-5
                                    h3.regular Наша миссия

                                    p Наша компания видит свою цель в том, чтобы обеспечить людям  услуги по прокату
                                        | автомобилей. И сделать это доступным для каждого города России. Мы готовы
                                        | сотрудничать с организациями, владельцами автомобилей и физическими лицами,
                                        | желающими взять автомобиль в прокат.

                            .mt-5.pt-0.mt-xl-5.pt-xl-5
                                .description.mt-5.pt-0.mt-xl-5.pt-xl-5
                                    h3.regular Наши города на карте

                                    .mt-4.pt-3
                                        img(src="images/about-description-map.jpg")

                            .document-block
                                .image
                                    img(src="images/hand-keys-big.png")
                                .info
                                    .title Хотите открыть офис в своем городе?
                                        | Мы поможем легко стартовать
                                        | и принимать первые заказы

                                    a(href="#").btn.btn-blue Больше о франшизе

                                    .document-wrap
                                        .title Договор оферты

                                        .document
                                            .icon
                                                img(src="images/icons/blank.png")
                                            .button-wrap
                                                .label Скачать в формате
                                                a(href="#").btn.btn-blue.btn-small DOCX
                                                a(href="#").btn.btn-blue.btn-small PDF

                            .app-block-wrap
                                .app-block
                                    .info
                                        .title Мобильное приложение «Росавтопрокат»
                                        .description Теперь арендовать автомобиль
                                            | можно прямо с телефона,
                                            | из любого места, где
                                            | бы клиент ни находился

                                        .payment-list
                                            .payment-list--item
                                                img(src="images/payment-google.png")
                                            .payment-list--item
                                                img(src="images/payment-apple.png")

                                    .image
                                        img(src="images/mobile-app.png")

                            .mt-5.pt-0.mt-xl-5.pt-xl-5
                                h3.regular Наши ресурсы

                                .mt-3
                                    .resource-list
                                        .resource-list--item
                                            .icon
                                                img(src="images/icons/planet.png")
                                            .text
                                                .title Общий сайт
                                                a(href="https://rosautoprokat.ru" target="_blank").link rosautoprokat.ru
                                        .resource-list--item
                                            .icon
                                                img(src="images/icons/hands.png")
                                            .text
                                                .title Сайт франчайзинга
                                                a(href="https://franshiza.rosautoprokat.ru" target="_blank").link franshiza.rosautoprokat.ru
                                        .resource-list--item
                                            .icon
                                                img(src="images/icons/folder.png")
                                            .text
                                                .title Чёрный список водителей
                                                a(href="https://blacklistprokat.ru" target="_blank").link blacklistprokat.ru
                                        .resource-list--item
                                            .icon
                                                img(src="images/icons/smartphone.png")
                                            .text
                                                .title Инстаграм руководителя
                                                a(href="https://franshiza.rosautoprokat.ru" target="_blank").link franshiza.rosautoprokat.ru


        include ./blocks/footer.jade
        include ./blocks/modals.jade
        include ./blocks/scripts.jade
