html
    title Бонусная программа
    include ./blocks/head.jade

    body
        include ./blocks/header.jade

        .wrapper
            .container-block
                .breadcrumbs
                    a(href="/index.html").breadcrumbs--item.back-link
                        img(src="images/icons/back-arrow.svg").icon
                        span.text Назад
                    a(href="#").breadcrumbs--item
                        span.text Бонусная программа

            .bonus-program-block-wrap(style="background-image: url(images/lines-bg-2.jpg);")
                .container-block
                    .bonus-program-block
                        .info
                            h2.title.semibold.text-uppercase Бонусная программа «росавтопрокат»
                            p Для активации Бонусной карты
                                br
                                | необходимо заполнить анкету при первой
                                br
                                | сдаче автомобиля. Заполненную Анкету
                                br
                                | необходимо отдать сотруднику автопроката
                                br
                                | для получения  Автокарты. Компания
                                br
                                | РосАвтоПрокат оставляет за собой
                                br
                                | право изменять условия скидок
                                br
                                | и бонусов.
                            a(href="/rent-form.html").btn.btn-blue.btn-medium.d-none.d-md-block Арендовать автомобиль

                        .card-list
                            .card-list--item
                                .image
                                    img(src="images/card.png")
                                .text
                                    .title Standart
                                    .description Выдается при
                                        br
                                        | первом прокате
                                        br
                                        | автомобиля
                                    .discount
                                        span.percent 5%
                                        span скидка
                            .card-list--item
                                .image
                                    img(src="images/card-2.png")
                                .text
                                    .title Silver
                                    .description Выдается
                                        br
                                        | после 35 дней
                                        br
                                        | проката
                                    .discount
                                        span.percent 10%
                                        span скидка
                            .card-list--item
                                .image
                                    img(src="images/card-3.png")
                                .text
                                    .title Gold
                                    .description Выдается
                                        br
                                        | после 65 дней
                                        br
                                        | проката
                                    .discount
                                        span.percent 15%
                                        span скидка
                            .card-list--item
                                .image
                                    img(src="images/card-4.png")
                                .text
                                    .title V.I.P.
                                    .description Выдается
                                        br
                                        | после 100 дней
                                        br
                                        | проката
                                    .discount
                                        span.percent 20%
                                        span скидка

                        .mt-4.pt-4.d-flex.d-md-none
                            a(href="#").btn.btn-blue.btn-medium.d-flex Арендовать автомобиль

            .advantages-list-wrap.bg-image(style="background-image: url(images/page-bg.jpg);")
                .container-block
                    h2.semibold.text-uppercase В чем особенность бонусных карт&nbsp;«росавтопрокат»?

                    .advantages-list
                        .advantages-list--item(style="background-image: url(images/advantages-4.jpg);")
                            | Возможность получать
                            br
                            | постоянную скидку
                            br
                            | на&nbsp;прокат
                        .advantages-list--item(style="background-image: url(images/advantages-5.jpg);")
                            | Размер скидки
                            br
                            | накапливается, чем больше
                            br
                            | вы арендуете авто
                        .advantages-list--item(style="background-image: url(images/advantages-6.jpg);") Выгодно для всей семьи —
                            br
                            | карта неименная и действует
                            br
                            | на предьявителя
                        .advantages-list--item(style="background-image: url(images/advantages-7.jpg);") Выгодно для организаций —
                            br
                            | когда часто нужно ездить
                            br
                            | в командировки
                        .advantages-list--item(style="background-image: url(images/advantages-7.jpg);") Срок действия
                            br
                            | бонусных карт —
                            br
                            | неограничен
                        .advantages-list--item Вы можете предьявить
                            br
                            | карту в любом городе
                            br
                            | в сети офисров
                            br
                            | «Росавтопрокат»


            include ./blocks/products-slider


            include ./blocks/about-block-small
            include ./blocks/rent-out-block


        include ./blocks/footer.jade
        include ./blocks/modals.jade
        include ./blocks/scripts.jade
