html
    title Ваша текущая карта
    include ./blocks/head.jade

    body
        include ./blocks/header-logined.jade

        .wrapper
            .container-block
                .account-info.mt-5.pt-4
                    .account-name
                        .image
                            img(src="images/assets/avatar.jpg")
                        .text Станислав Александровский

                    .account-phone-wrap
                        .label Привязанный номер

                        .d-flex.flex-wrap.align-items-center
                            a(href="tel:+7 (912) 285 38 26").phone.mt-2.me-4 +7 (912) 285 38 26
                            .btn.btn-small.btn-blue.mt-2 + ещё номер

                    .account-discount-wrap
                        .discount 5
                            span %
                        .text
                            img(src="images/card.png")
                            span Скида
                                br
                                | по карте

                .row.mt-5.pt-5
                    .col-12.col-lg-3
                        .cabinet-menu
                            a(href="#").cabinet-menu--item
                                span.text Главная
                            a(href="#").cabinet-menu--item
                                span.text Мои заказы
                                span.count 1
                            a(href="#").cabinet-menu--item
                                span.text Оповещения
                                span.count 5
                            a(href="#").cabinet-menu--item
                                span.text Бонусная карта
                            a(href="#").cabinet-menu--item
                                span.text Сдаваемые автомобили
                            a(href="#").cabinet-menu--item
                                span.text Помощь и поддержка
                            a(href="#").cabinet-menu--item
                                span.text Мой профиль
                            a(href="#").cabinet-menu--item
                                span.text Изменить пароль
                            a(href="#").cabinet-menu--item
                                span.text Выйти

                    .col-12.col-lg-9
                        h1.h2.semibold Ваша текущая карта

                        .account-card-list
                            .account-card-list--item.shadow-wrap(style="background-image: url('images/card-bg.png')")
                                .image
                                    img(src="images/card.png")

                                .info
                                    .title Standart
                                    .description Выдается при первом прокате автомобиля
                                    .discount 5%
                                        span скидка

                            .account-card-list--item
                                .shadow-wrap.small-card
                                    .title Номер вашей дисконтной карты
                                    .count 2395

                                .info-text Чем больше дней вы арендуете машину —
                                    br
                                    | тем больше ваша скидка

                        .discount-list-wrap
                            .title Как увеличить скидку?

                            .discount-list
                                .discount-list--item
                                    .days-count
                                        .count 35
                                        .text дней аренды

                                    .equal =
                                    .card
                                        .image
                                            img(src="images/card-2.png")
                                        .text
                                            .name Карта Silver
                                            .discount 10%
                                                span скидка

                                .discount-list--item
                                    .days-count
                                        .count 65
                                        .text дней аренды

                                    .equal =
                                    .card
                                        .image
                                            img(src="images/card-3.png")
                                        .text
                                            .name Карта Gold
                                            .discount 15%
                                                span скидка

                                .discount-list--item
                                    .days-count
                                        .count 100
                                        .text дней аренды

                                    .equal =
                                    .card
                                        .image
                                            img(src="images/card-4.png")
                                        .text
                                            .name Карта V.I.P
                                            .discount 20%
                                                span скидка

                            .info-text Принимайте участие в акциях и получайте больше бонусов и комфортных условий для аренды автомобиля

                        .banner-list
                            .banner-list--item
                                .image-bg
                                    img(src="images/banner-1.jpg")
                                .image-mobile-bg
                                    img(src="images/banner-1.jpg")
                                .text
                                    .title ОТРОЙТЕ ОФИС РОСАВТОПРОКАТ В СВОЕМ ГОРОДЕ
                                    .description Мы поможем легко стартовать и принимать первые заказы

                            .banner-list--item
                                .image-bg
                                    img(src="images/banner-2.jpg")
                                .image-mobile-bg
                                    img(src="images/banner-2.jpg")
                                .text
                                    .title СДАЙТЕ СВОЙ АВТОМОБИЛЬ В АРЕНДУ
                                    .description И получайте ежемесячный доход от аренды автомобиля

                .mt-5.pt-5

        include ./blocks/footer.jade
        include ./blocks/modals.jade
        include ./blocks/scripts.jade
