html
    title Volkswagen Polo
    include ./blocks/head.jade

    body
        include ./blocks/header-logined.jade

        .wrapper.cabinet-page
            .container-block
                .account-info.mt-5.pt-sm-4
                    .account-name
                        .image
                            img(src="images/assets/avatar.jpg")
                        .text Станислав Александровский
                        .arrow.d-block.d-xl-none
                            svg(width="12" height="5" viewBox="0 0 12 5" fill="none" xmlns="http://www.w3.org/2000/svg")
                                path(d="M0.412757 0.726379C0.640709 0.328531 1.14802 0.190803 1.54587 0.418755L6.23945 3.108C6.6373 3.33595 6.77503 3.84326 6.54708 4.24111V4.24111C6.31912 4.63896 5.81181 4.77669 5.41397 4.54873L0.720381 1.85949C0.322533 1.63154 0.184806 1.12423 0.412757 0.726379V0.726379Z" fill="black")
                                path(d="M11.2779 0.713236C11.5053 1.10714 11.3704 1.61083 10.9765 1.83825L6.26493 4.55846C5.87102 4.78588 5.36733 4.65092 5.13991 4.25701V4.25701C4.91249 3.86311 5.04745 3.35942 5.44136 3.132L10.1529 0.411789C10.5468 0.184367 11.0505 0.319329 11.2779 0.713236V0.713236Z" fill="black")

                    include ./blocks/cabinet-menu.jade

                    .account-phone-wrap
                        .label Привязанный номер

                        .d-flex.flex-wrap.align-items-center
                            a(href="tel:+7 (912) 285 38 26").phone.mt-2.me-4 +7 (912) 285 38 26
                            .btn.btn-small.btn-blue.mt-2.modal-btn(data-url="bind-number") + ещё номер

                    .account-discount-wrap
                        .discount 5
                            span %
                        .text
                            img(src="images/card.png")
                            span Скида
                                br
                                | по карте

                .row.mt-3.pt-5.mt-xl-5
                    .col-3.d-none.d-xl-block
                        include ./blocks/cabinet-menu.jade

                    .col-12.col-xl-9
                        h1.h2.semibold Volkswagen Polo

                        .mt-5.pt-1.pt-xl-5
                            .rented-car-info
                                .image
                                    .product-gallery.js-product-gallery-slider
                                        .swiper-wrapper
                                            .product-gallery--item.swiper-slide
                                                img(src="images/assets/gallery-rented-car.jpg")
                                            .product-gallery--item.swiper-slide
                                                img(src="images/assets/gallery-rented-car.jpg")
                                            .product-gallery--item.swiper-slide
                                                img(src="images/assets/gallery-rented-car.jpg")
                                            .product-gallery--item.swiper-slide
                                                img(src="images/assets/gallery-rented-car.jpg")
                                            .product-gallery--item.swiper-slide
                                                img(src="images/assets/gallery-rented-car.jpg")
                                            .product-gallery--item.swiper-slide
                                                img(src="images/assets/gallery-rented-car.jpg")
                                    .swiper-button-prev
                                    .swiper-button-next

                                    .product-gallery-thumbnails
                                        .js-product-gallery-thumbnails-slider
                                            .swiper-wrapper
                                                .product-gallery-thumbnails--item.swiper-slide
                                                    .wrap
                                                        img(src="images/assets/gallery-rented-car.jpg")
                                                .product-gallery-thumbnails--item.swiper-slide
                                                    .wrap
                                                        img(src="images/assets/gallery-rented-car.jpg")
                                                .product-gallery-thumbnails--item.swiper-slide
                                                    .wrap
                                                        img(src="images/assets/gallery-rented-car.jpg")
                                                .product-gallery-thumbnails--item.swiper-slide
                                                    .wrap
                                                        img(src="images/assets/gallery-rented-car.jpg")
                                                .product-gallery-thumbnails--item.swiper-slide
                                                    .wrap
                                                        img(src="images/assets/gallery-rented-car.jpg")
                                                .product-gallery-thumbnails--item.swiper-slide
                                                    .wrap
                                                        img(src="images/assets/gallery-rented-car.jpg")

                                .rented-car-properties-list
                                    .rented-car-properties-list--item
                                        .label Номер
                                        .number
                                            .d-flex.align-items-center
                                                span О920МО/55
                                                img(src="images/assets/flag.jpg")
                                    .rented-car-properties-list--item
                                        .label Год выпуска
                                        .date 2018
                                    .rented-car-properties-list--item
                                        .label Плановые ТО
                                        .date 15.01.2022
                                    .rented-car-properties-list--item
                                        .label Статус
                                        span.status.booked Забронирован
                                    .rented-car-properties-list--item.column-2.align-self-end
                                        a(href="#").gps
                                            img(src="images/icons/gps.png")
                                            span.text
                                                span Отследить по GPS
                                    .rented-car-properties-list--item
                                        .label Ставка в сутки
                                        .price 1.575&nbsp;
                                            rouble.d-inline ₽&nbsp;
                                            span / сутки
                                    .rented-car-properties-list--item.column-2.column-mobile-wide.align-self-end
                                        a(href="#").btn.btn-blue Статистика заказов по машине

                        .characteristics-list-wrap
                            .title.mt-3.pt-1 Характеристики автомобиля

                            .mt-2
                                .characteristics-list
                                    .characteristics-list--item
                                        .label Места
                                        .value 4
                                    .characteristics-list--item
                                        .label Двери
                                        .value 5
                                    .characteristics-list--item
                                        .label Коробка передач
                                        .value Автомат
                                    .characteristics-list--item
                                        .label Автомат
                                        .value есть
                                    .characteristics-list--item
                                        .label Мощность двигателя
                                        .value 123 л.с.
                                    .characteristics-list--item
                                        .label Расход бензина
                                        .value 6-7 л/км.
                                    .characteristics-list--item
                                        .label Цвет
                                        .value Серебро
                                    .characteristics-list--item
                                        .label Год выпуска
                                        .value 2021
                                    .characteristics-list--item
                                        .label Тип кузова
                                        .value Седан
                                    .characteristics-list--item
                                        .label Класс машины
                                        .value Стандарт
                                    .characteristics-list--item
                                        .label Места
                                        .value 4
                                    .characteristics-list--item
                                        .label Двери
                                        .value 5
                                    .characteristics-list--item
                                        .label Коробка передач
                                        .value Автомат
                                    .characteristics-list--item
                                        .label Автомат
                                        .value есть
                                    .characteristics-list--item
                                        .label Мощность двигателя
                                        .value 123 л.с.
                                    .characteristics-list--item
                                        .label Расход бензина
                                        .value 6-7 л/км.
                                    .characteristics-list--item
                                        .label Цвет
                                        .value Серебро
                                    .characteristics-list--item
                                        .label Год выпуска
                                        .value 2021
                                    .characteristics-list--item
                                        .label Тип кузова
                                        .value Седан
                                    .characteristics-list--item
                                        .label Класс машины
                                        .value Стандарт

                                .more-btn-wrap
                                    .d-flex.justify-content-center.mt-5.pt-3
                                        .more-btn
                                            .text Еще характеристики
                                            .icon
                                                img(src="images/icons/arrow-toggle-down.svg")

                        .banner-list
                            a(href="#").banner-list--item.banner-center-text
                                span.image-bg
                                    img(src="images/banner-1.jpg")
                                span.image-mobile-bg
                                    img(src="images/banner-mobile-1.jpg")
                                span.text
                                    span.title ОТРОЙТЕ ОФИС РОСАВТОПРОКАТ В СВОЕМ ГОРОДЕ
                                    span.description Мы поможем легко стартовать и принимать первые заказы

                .mt-5.pt-5

        include ./blocks/footer.jade
        include ./blocks/modals.jade
        include ./blocks/scripts.jade
