html
    title Оплата банковской картой
    include ./blocks/head.jade

    body
        include ./blocks/header-logined.jade

        .wrapper
            .container-block
                .card-payment
                    h1.h2 Оплата банковской картой

                    .row.mt-5
                        .col-12.col-md-9
                            .payment-cards-list
                                .payment-cards-list--item
                                    .number *8693
                                    .date 05/25
                                .add-btn
                                    .icon
                                    .text Добавить новую карту
                        .col-12.col-md-3.mt-5.pt-2.mt-md-0.pt-md-0
                            .total-price.d-flex.d-md-block.align-items-baseline
                                .label.me-3.pe-1.me-md-0.pe-md-0 К оплате
                                .price 5.285
                                    .rouble.d-inline ₽

                    .row.mt-5
                        .col-12.col-md-9
                            .new-payment-card
                                .front-side
                                    .payment-list
                                        .payment-list--item
                                            img(src="images/mir.svg")
                                        .payment-list--item
                                            img(src="images/visa.svg")
                                        .payment-list--item
                                            img(src="images/mastercard.svg")
                                        .payment-list--item
                                            img(src="images/maestro.svg")
                                        .payment-list--item
                                            img(src="images/unionpay.svg")

                                    .input-wrap.mt-3.pt-1
                                        .label Номер карты
                                        input.input.wide(type="text" placeholder="0000 0000 0000 0000" maxlength="16").mask-payment-card

                                    .row.mt-3.pt-1
                                        .col-7.col-sm-6
                                            .d-flex
                                                .input-wrap
                                                    .label Месяц
                                                    input.input.mask-month-card(type="text" placeholder="мм" maxlength="2")
                                                .separator /
                                                .input-wrap
                                                    .label Год
                                                    input.input.mask-year-card(type="text" placeholder="гг" maxlength="2")

                                        .col-5.col-sm-4.offset-sm-1
                                            .input-wrap.d-block.d-lg-none
                                                .label CVV/CVC
                                                input.input.mask-code-card(type="text" placeholder="000" maxlength="3")

                                .backside.d-none.d-lg-block
                                    .input-wrap
                                        .label CVV/CVC
                                        input.input(type="text" placeholder="000" maxlength="3")
                                        .info-text три цифры
                                            br
                                            | на обратной стороне карты

                        .col-12.col-md-3
                            label(for="save").checkbox
                                input(type="checkbox" id="save" checked)
                                .icon
                                    svg(width="13" height="10" viewBox="0 0 13 10" fill="none" xmlns="http://www.w3.org/2000/svg")
                                        path(d="M10.1724 1.67023L4.67023 7.17238C4.19377 7.64884 4.15615 8.38371 4.58619 8.81375L4.5862 8.81376C5.01624 9.24381 5.75111 9.20618 6.22757 8.72972L11.7297 3.22757C12.2062 2.75111 12.2438 2.01624 11.8138 1.5862L11.8138 1.58619C11.3837 1.15614 10.6488 1.19377 10.1724 1.67023Z" fill="#ffffff")
                                        path(d="M1.01044 5.2176L4.4003 8.60745C4.92356 9.13071 5.69599 9.20666 6.12556 8.77709L6.12557 8.77708C6.55514 8.34751 6.4792 7.57508 5.95593 7.05182L2.56608 3.66196C2.04282 3.1387 1.27039 3.06275 0.840815 3.49233L0.84081 3.49233C0.411234 3.92191 0.487182 4.69434 1.01044 5.2176Z" fill="#ffffff")

                                .text Сохранить карту для следующей покупки. Это безопасно.

                    .mt-5.mt-2
                        button(type="submit").btn.btn-blue Оплатить  5.285&nbsp;
                            span.rouble.d-inline ₽

                .mt-5.pt-5

        include ./blocks/contact-map-block-inner

        include ./blocks/footer.jade
        include ./blocks/modals.jade
        include ./blocks/scripts.jade
