html
    title Изменить пароль
    include ./blocks/head.jade

    body
        include ./blocks/header-logined.jade

        .wrapper
            .container-block
                form.login-form
                    .success-password-block
                        img(src="images/icons/arrow-circle.png" class="icon")
                        h1.title Пароль успешно изменен!
                        .sub-title Вы изменили пароль, теперь вы можете войти в ваш личный кабинет с новым паролем

                        .input-wrap.mt-4.pt-3
                            a(href="/cabinet-current-card.html").btn.btn-blue.btn-medium Войти в личный кабинет

                .mt-5.pt-5

        include ./blocks/contact-map-block-inner

        include ./blocks/footer.jade
        include ./blocks/modals.jade
        include ./blocks/scripts.jade
