html
    title Изменить пароль
    include ./blocks/head.jade

    body
        include ./blocks/header-logined.jade

        .wrapper
            .container-block
                form.login-form
                    .error-password-block
                        .icon :’(
                        .sub-title Приносим наши извинения, но вы больше не можете войти в личный кабинет и оставлять любые заказы на сайте по причине вашей неблагонадёжности.

                        .input-wrap.mt-4.pt-3
                            a(href="/index.html").btn.btn-blue.btn-medium На главную

                .mt-5.pt-5

        include ./blocks/contact-map-block-inner

        include ./blocks/footer.jade
        include ./blocks/modals.jade
        include ./blocks/scripts.jade
