html
    title Главная
    include ./blocks/head.jade

    body.main-page
        include ./blocks/header.jade

        .wrapper
            .hero-block(style="background-image: url(images/assets/hero-image.jpg)")
                .container-block
                    .info
                        h1.title.text-uppercase Прокат автомобилей по всей России
                        p Мы предлагаем удобный сервис аренды автомобилей от эконом до премиум класса
                        a(href="/catalog.html").btn.btn-blue
                            span.d-flex.align-items-center
                                span.text Выбрать автомобиль
                                .icon.arrow

                        .info-text
                            img(src="images/assets/keys.png")
                            p Подберите автомобиль в 2 клика и рассчитайте стоимость
                                br
                                | аренды онлайн

            include ./blocks/car-select.jade
            include ./blocks/product-list.jade

            .advantages-block-wrap
                .container-block
                    .title-wrap
                        h2 Росавтопрокат — удобный сервис проката автомобилей

                        .info-block
                            .image
                                img(src="images/passport.jpg")
                            .text Для оформления договора
                                | понадобится только паспорт
                                | и водительское удостоверение

                    .step-list
                        .step-list--item
                            .number 1
                            .text Демократичные
                                | цены на аренду
                                | автомобилей
                        .step-list--item
                            .number 2
                            .text Разные классы
                                | автомобилей от эконом
                                | до внедорожников
                        .step-list--item
                            .number 3
                            .text Бонусная программа,
                                | несколько типов
                                | дисконтных  карт
                        .step-list--item
                            .number 4
                            .text Без скрытых платежей.
                                | Аренда авто по стоимости
                                | указанной на сайте

                    .more-block
                        .image
                            img(src="images/car.jpg")
                        .text
                            .title Для владельцев автомобилей —
                            p возможность сдать свой автомобиль в прокат и отслеживать до ход от аренды онлайн

                        a(href="/sublease.html").btn.btn-blue Узнать больше

            .reviews-block-wrap(style="background-image: url(images/reviews-bg.jpg);")
                .container-block
                    h2.title.text-uppercase ОТЗЫВЫ АРЕНДАТОРОВ

                    .reviews.reviews-slider.js-reviews-slider
                        .swiper-wrapper
                            .swiper-slide
                                .reviews-slider--item
                                    .name-wrap
                                        .quotes “
                                        .text
                                            .name Наталья Горбунцова
                                            .rating(data-rating-count="2")
                                                .rating--list
                                                    .icon.disabled
                                                    .icon.disabled
                                                    .icon.disabled
                                                    .icon.disabled
                                                    .icon.disabled

                                    .description Ставлю 5 звезд. Создали заявку через их приложение, отзвонились через 10 минут,
                                        | забронировали авто. По приезду - авто чистый, документы оформили быстро.
                                        | Со сдачей проблем не возникло, правда я немного поцарапала бампер.
                                        | Однако никаких доплат не взяли. Спасибо вам! Рекомендую.

                                    .author Google Отзывы

                                    a(href="/reviews.html").btn.btn-blue
                                        span.d-flex.align-items-center.justify-content-center
                                            span.text Смотреть все отзывы
                                            .icon.arrow

                            .swiper-slide
                                .reviews-slider--item
                                    .name-wrap
                                        .quotes “
                                        .text
                                            .name Наталья Горбунцова
                                            .rating(data-rating-count="4")
                                                .rating--list
                                                    .icon.disabled
                                                    .icon.disabled
                                                    .icon.disabled
                                                    .icon.disabled
                                                    .icon.disabled

                                    .description Ставлю 5 звезд. Создали заявку через их приложение, отзвонились через 10 минут,
                                        | забронировали авто. По приезду - авто чистый, документы оформили быстро.
                                        | Со сдачей проблем не возникло, правда я немного поцарапала бампер.
                                        | Однако никаких доплат не взяли. Спасибо вам! Рекомендую.

                                    .author Google Отзывы

                                    a(href="/reviews.html").btn.btn-blue
                                        span.d-flex.align-items-center.justify-content-center
                                            span.text Смотреть все отзывы
                                            .icon.arrow

                            .swiper-slide
                                .reviews-slider--item
                                    .name-wrap
                                        .quotes “
                                        .text
                                            .name Наталья Горбунцова
                                            .rating(data-rating-count="1")
                                                .rating--list
                                                    .icon.disabled
                                                    .icon.disabled
                                                    .icon.disabled
                                                    .icon.disabled
                                                    .icon.disabled

                                    .description Ставлю 5 звезд. Создали заявку через их приложение, отзвонились через 10 минут,
                                        | забронировали авто. По приезду - авто чистый, документы оформили быстро.
                                        | Со сдачей проблем не возникло, правда я немного поцарапала бампер.
                                        | Однако никаких доплат не взяли. Спасибо вам! Рекомендую.

                                    .author Google Отзывы

                                    a(href="/reviews.html").btn.btn-blue
                                        span.d-flex.align-items-center.justify-content-center
                                            span.text Смотреть все отзывы
                                            .icon.arrow

                        .swiper-button-prev.big
                        .swiper-button-next.big

            .app-block-wrap(style="background-image: url(images/app-block-bg.jpg);")
                .container-block
                    .app-block
                        .info
                            .title Бронируйте авто
                                | всего в 2 клика
                                | через мобильное
                                | приложение
                            .description Теперь арендовать автомобиль
                                | можно прямо с телефона,
                                | из любого места, где
                                | бы клиент ни находился

                            .payment-list
                                a(href="#").payment-list--item
                                    img(src="images/payment-google.png")
                                a(href="#").payment-list--item
                                    img(src="images/payment-apple.png")

                        .image
                            img(src="images/mobile-app.png")

            .about-block-wrap(style="background-image: url(images/about-block-bg.jpg);")
                .container-block
                    .about-block
                        .info
                            h2.h1.title.semibold.text-uppercase Откройте офис росавтопрокат в своем городе
                            .description Мы поможем легко стартовать и принимать первые заказы

                            .count-wrap
                                .num.semibold 52
                                .text.semibold города в нашей сети, присоединяйтесь
                                a(href="https://franshiza.rosautoprokat.ru/").btn.btn-blue.btn-medium Больше о франшизе

                        .bottom-block
                            ul
                                li На выбор — несколько удобных пакетов франшизы
                                li Предоставляем уже готовые материалы для вашей работы
                                li Проводим обучение ведению бизнеса по прокату

                            a(href="https://franshiza.rosautoprokat.ru/").btn.btn-blue.btn-medium Больше о франшизе

            .partners-block-wrap
                .container-block
                    h2.title.semibold.text-uppercase Сотрудничайте с нами

                    .partners-block
                        .partners-block--item
                            .image
                                img(src="images/partner-image.png")
                            .info.semibold
                                .title Для прокатных компаний —
                                .description Тут расписать про црм систему заточенную под прокатные компании

                                a(href="/rent.html").btn.btn-blue.btn-empty
                                    span.d-flex.align-items-center.justify-content-center
                                        span.text Узнать больше
                                        span.icon.arrow

                        .partners-block--item
                            .image
                                img(src="images/partner-image-2.png")
                            .info.semibold
                                .title Для владельцев автомобилей —
                                .description возможность сдать свой автомобиль в прокат и отслеживать доход от аренды онлайн

                                a(href="/sublease.html").btn.btn-blue.btn-empty
                                    span.d-flex.align-items-center.justify-content-center
                                        span.text Условия субаренды
                                        span.icon.arrow

            .faq-block-wrap(style="background-image: url(images/faq-block-bg.jpg);")
                .container-block
                    .title-wrap.d-block.d-md-flex.align-items-center.justify-content-between
                        h2.h1 ЧАСТЫЕ ВОПРОСЫ
                        a(href="/faq.html").btn.btn-blue.btn-small.d-none.d-md-flex Все вопросы

                    .faq-list
                        .faq-list--item.spoiler--item
                            .faq-list--item-head.spoiler--head
                                .text В каком виде я должен вернуть автомобиль?
                                .icon

                            .faq-list--item-body.spoiler--body
                                p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

                        .faq-list--item.spoiler--item
                            .faq-list--item-head.spoiler--head
                                .text Что делать, если автомобиль невозможно вернуть точно к заданному сроку?
                                .icon

                            .faq-list--item-body.spoiler--body
                                p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

                        .faq-list--item.spoiler--item
                            .faq-list--item-head.spoiler--head
                                .text Что делать, если автомобиль невозможно вернуть точно к заданному сроку?
                                .icon

                            .faq-list--item-body.spoiler--body
                                p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

                        .faq-list--item.spoiler--item
                            .faq-list--item-head.spoiler--head
                                .text Что делать, если автомобиль невозможно вернуть точно к заданному сроку?
                                .icon

                            .faq-list--item-body.spoiler--body
                                p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

                        .faq-list--item.spoiler--item
                            .faq-list--item-head.spoiler--head
                                .text Что делать, если автомобиль невозможно вернуть точно к заданному сроку?
                                .icon

                            .faq-list--item-body.spoiler--body
                                p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

                        .faq-list--item.spoiler--item
                            .faq-list--item-head.spoiler--head
                                .text Что делать, если автомобиль невозможно вернуть точно к заданному сроку?
                                .icon

                            .faq-list--item-body.spoiler--body
                                p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

                    a(href="/faq.html").btn.btn-blue.btn-big.d-flex.d-md-none.mt-5 Все вопросы

            .contact-block-wrap
                .container-block
                    .contact-block
                        .title.semibold.text-center Задайте свой вопрос удобным способом

                        .social-list
                            a(href='#').social-list--item
                                img(src="images/icons/social-phone.png").icon
                                span.text Звонок
                            a(href='#').social-list--item
                                img(src="images/icons/social-whatsapp.png").icon
                                span.text Whats App
                            a(href='#').social-list--item
                                img(src="images/icons/social-telegram.png").icon
                                span.text Тelegram

        include ./blocks/footer.jade
        include ./blocks/modals.jade
        include ./blocks/scripts.jade
