html
    title Главная
    include ./blocks/head.jade

    body.main-page
        include ./blocks/header.jade

        .wrapper
            .container-block



        include ./blocks/footer.jade
        include ./blocks/modals.jade
        include ./blocks/scripts.jade
