html
    title Главная
    include ./blocks/head.jade

    body.main-page
        include ./blocks/header.jade

        .wrapper
            .hero-block(style="background-image: url(images/assets/hero-image.jpg)")
                .container-block
                    .info
                        h1.title.text-uppercase Прокат автомобилей по всей России
                        p Мы предлагаем удобный сервис аренды автомобилей от эконом до премиум класса
                        a(href="#").btn.btn-blue
                            span.d-flex
                                span.text Выбрать автомобиль
                                img.icon(src="images/icons/arrow-white.png")

                        .info-text
                            img(src="images/assets/keys.png")
                            p Подберите автомобиль в 2 клика и рассчитайте стоимость аренды онлайн

            include ./blocks/car-select.jade
            include ./blocks/product-list.jade

            .advantages-block-wrap
                .container-block
                    .title-wrap
                        h2 Росавтопрокат — удобный сервис проката автомобилей

                        .info-block
                            .image
                                img(src="images/passport.jpg")
                            .text Для оформления договора
                                | понадобится только паспорт
                                | и водительское удостоверение

                    .step-list
                        .step-list--item
                            .number 1
                            .text Демократичные
                                | цены на аренду
                                | автомобилей
                        .step-list--item
                            .number 2
                            .text Разные классы
                                | автомобилей от эконом
                                | до внедорожников
                        .step-list--item
                            .number 3
                            .text Бонусная программа,
                                | несколько типов
                                | дисконтных  карт
                        .step-list--item
                            .number 4
                            .text Без скрытых платежей.
                                | Аренда авто по стоимости
                                | указанной на сайте

                    .more-block
                        .image
                            img(src="images/car.jpg")
                        .text
                            .title Для владельцев автомобилей —
                            p возможность сдать свой автомобиль в прокат и отслеживать до ход от аренды онлайн

                        a(href="#").btn.btn-blue Узнать больше

            .reviews-block-wrap
                .container-block
                    h2.title.text-uppercase ОТЗЫВЫ АРЕНДАТОРОВ

                    .reviews-slider.js-reviews-slider
                        .swiper-wrapper
                            .swiper-slide
                                .reviews-slider--item
                                    .name-wrap
                                        .quotes “
                                        .text
                                            .name Наталья Горбунцова
                                            .rating(data-rating-count="2")
                                                .rating--list
                                                    .icon.disabled
                                                    .icon.disabled
                                                    .icon.disabled
                                                    .icon.disabled
                                                    .icon.disabled

                                    .description Ставлю 5 звезд. Создали заявку через их приложение, отзвонились через 10 минут,
                                        | забронировали авто. По приезду - авто чистый, документы оформили быстро.
                                        | Со сдачей проблем не возникло, правда я немного поцарапала бампер.
                                        | Однако никаких доплат не взяли. Спасибо вам! Рекомендую.

                                    .author Google Отзывы

                                    a(href="#").btn.btn-blue
                                        span.d-flex
                                            span.text Смотреть все отзывы
                                            img.icon(src="images/icons/arrow-white.png")

                            .swiper-slide
                                .reviews-slider--item
                                    .name-wrap
                                        .quotes “
                                        .text
                                            .name Наталья Горбунцова
                                            .rating(data-rating-count="2")
                                                .rating--list
                                                    .icon.disabled
                                                    .icon.disabled
                                                    .icon.disabled
                                                    .icon.disabled
                                                    .icon.disabled

                                    .description Ставлю 5 звезд. Создали заявку через их приложение, отзвонились через 10 минут,
                                        | забронировали авто. По приезду - авто чистый, документы оформили быстро.
                                        | Со сдачей проблем не возникло, правда я немного поцарапала бампер.
                                        | Однако никаких доплат не взяли. Спасибо вам! Рекомендую.

                                    .author Google Отзывы

                                    a(href="#").btn.btn-blue
                                        span.d-flex
                                            span.text Смотреть все отзывы
                                            img.icon(src="images/icons/arrow-white.png")

                            .swiper-slide
                                .reviews-slider--item
                                    .name-wrap
                                        .quotes “
                                        .text
                                            .name Наталья Горбунцова
                                            .rating(data-rating-count="2")
                                                .rating--list
                                                    .icon.disabled
                                                    .icon.disabled
                                                    .icon.disabled
                                                    .icon.disabled
                                                    .icon.disabled

                                    .description Ставлю 5 звезд. Создали заявку через их приложение, отзвонились через 10 минут,
                                        | забронировали авто. По приезду - авто чистый, документы оформили быстро.
                                        | Со сдачей проблем не возникло, правда я немного поцарапала бампер.
                                        | Однако никаких доплат не взяли. Спасибо вам! Рекомендую.

                                    .author Google Отзывы

                                    a(href="#").btn.btn-blue
                                        span.d-flex
                                            span.text Смотреть все отзывы
                                            img.icon(src="images/icons/arrow-white.png")

                        .swiper-button-prev
                        .swiper-button-next

            .app-block-wrap
                .container-block
                    .app-block
                        .info
                            .title Бронируйте авто
                                | всего в 2 клика
                                | через мобильное
                                | приложение
                            .description Теперь арендовать автомобиль
                                | можно прямо с телефона,
                                | из любого места, где
                                | бы клиент ни находился

                            .payment-list
                                .payment-list--item
                                    img(src="images/payment-google.png")
                                .payment-list--item
                                    img(src="images/payment-apple.png")

                        .image
                            img(src="images/mobile-app.png")

            .about-block-wrap(style="background-image: url(images/about-block-bg.jpg);")
                .container-block
                    .about-block
                        .info
                            .title Откройте офис росавтопрокат в своем городе
                            .description Мы поможем легко стартовать и принимать первые заказы

                            .count-wrap
                                .num 52
                                .text города в нашей сети, присоединяйтесь
                                a(href="#").btn.btn-blue Больше о франшизе

                        .bottom-block
                            ul
                                li На выбор — несколько удобных пакетов франшизы
                                li Предоставляем уже готовые материалы для вашей работы
                                li Проводим обучение ведению бизнеса по прокату
                            .car-list
                                .car-list--item
                                    .image
                                    .info
                                        .title Toyota Fortuner
                                        .cost от 1500 руб./ сут.
                                .car-list--item
                                    .image
                                    .info
                                        .title Toyota Fortuner
                                        .cost от 1500 руб./ сут.

        include ./blocks/footer.jade
        include ./blocks/modals.jade
        include ./blocks/scripts.jade
