html
    title Главная
    include ./blocks/head.jade

    body.main-page
        include ./blocks/header.jade

        .wrapper
            .hero-block(style="background-image: url(../images/assets/hero-image.jpg)")
                .container-block
                    .info
                        h1.title Прокат автомобилей по всей России
                        p Мы предлагаем удобный сервис аренды автомобилей от эконом до премиум класса
                        a(href="#").btn.btn-blue
                            .text Выбрать автомобиль
                            .icon
                                img(src="../images/icons/arrow-white.png")

                        .info-text
                            img(src="../images/assets/keys.png")
                            p Подберите автомобиль в 2 клика и рассчитайте стоимость аренды онлайн

            include ./blocks/car-select.jade


        include ./blocks/footer.jade
        include ./blocks/modals.jade
        include ./blocks/scripts.jade
