html
    title HYUNDAI SOLARIS 2021
    include ./blocks/head.jade

    body
        include ./blocks/header.jade

        .wrapper
            .container-block
                .breadcrumbs
                    a(href="/index.html").breadcrumbs--item.back-link
                        img(src="images/icons/back-arrow.svg").icon
                        span.text Назад
                    a(href="/catalog.html").breadcrumbs--item
                        span.text Каталог автомобилей
                    span.breadcrumbs--item
                        span.text Hyundai Solaris 2021

            .product-detail-wrap
                .container-block
                    .product-detail
                        h1.title.semibold.d-block.d-xl-none HYUNDAI SOLARIS 2021

                        .image.mt-4.pt-3.mt-xl-0.pt-xl-0
                            img(src="images/assets/product-image.jpg")
                            a(href="/product2.html").prev-product
                            a(href="/product2.html").next-product

                        .info
                            h1.title.semibold.d-none.d-xl-block  HYUNDAI SOLARIS 2021

                            .characteristics
                                .characteristics--item
                                    img.icon(src="images/icons/characteristics-user.svg")
                                    .text 5 мест
                                .characteristics--item
                                    img.icon(src="images/icons/characteristics-square.svg")
                                    .text 4 двери
                                .characteristics--item
                                    img.icon(src="images/icons/characteristics-check.svg")
                                    .text серебро
                                .characteristics--item
                                    img.icon(src="images/icons/characteristics-automatic.svg")
                                    .text Автомат
                                .characteristics--item
                                    img.icon(src="images/icons/characteristics-conditioner.svg")
                                    .text Кондиционер
                                .characteristics--item
                                    img.icon(src="images/icons/characteristics-clock.svg")
                                    .text 2019
                                .characteristics--item
                                    img.icon(src="images/icons/characteristics-graph.svg")
                                    .text 183 л.с
                                .characteristics--item
                                    img.icon(src="images/icons/characteristics-list.svg")
                                    .text 1-7 л.\км.

                                a(href="#characteristics").more-btn
                                    span Все характеристики
                                    .icon
                                        img(src="images/icons/arrow-toggle-down.svg")

                            .d-flex.align-items-center.align-items-lg-end.flex-column-reverse.flex-lg-row.flex-wrap.mt-2.pt-3
                                .mt-4
                                    .social-list.justify-content-center.justify-content-lg-start
                                        .label.text-center.text-lg-start.order-last.order-lg-first.pt-3.pt-lg-0 Поделиться
                                        a(href="#").social-list--item
                                            img(src="images/icons/vk.png")
                                        a(href="#").social-list--item
                                            img(src="images/icons/facebook.png")
                                        a(href="#").social-list--item
                                            img(src="images/icons/ok.png")
                                        a(href="#").social-list--item
                                            img(src="images/icons/viber.png")
                                        a(href="#").social-list--item
                                            img(src="images/icons/whatsapp.png")
                                        a(href="#").social-list--item
                                            img(src="images/icons/telegram.png")

                                .cost-wrap.dropdown-wrap.justify-content-center.justify-content-lg-start.mt-4
                                    .label.d-flex.align-items-baseline
                                        .d-flex.justify-content-center.justify-content-lg-start.align-items-baseline
                                            span.pe-2.pe-lg-3.ps-0 ОТ
                                            .cost 1.575
                                                .rouble.d-inline ₽
                                                span / сутки
                                        .icon
                                            img(src="images/icons/arrow-toggle-down.svg")

                                    .dropdown
                                        .dropdown--item.align-items-baseline
                                            span.pe-2.ps-0 1-3 дня
                                            .cost 1.575
                                                .rouble.d-inline ₽
                                                span / сутки
                                        .dropdown--item.align-items-baseline
                                            span.pe-2.ps-0 3-5 дней
                                            .cost 1.480
                                                .rouble.d-inline ₽
                                                span / сутки
                                        .dropdown--item.align-items-baseline
                                            span.pe-2.ps-0 5-10 дней
                                            .cost 1.360
                                                .rouble.d-inline ₽
                                                span / сутки
                                        .dropdown--item.align-items-baseline
                                            span.pe-2.ps-0 10-15 дней
                                            .cost 1.280
                                                .rouble.d-inline ₽
                                                span / сутки
                                        .dropdown--item
                                            .info-text Чем больше дней арендуете автомобиль, тем больше скидка на аренду


            .rent-block-wrap(style="background-image: url(images/app-block-bg.jpg);")
                .container-block
                    .rent-block#rent
                        h3.semibold.title АРЕНДОВАТЬ HYUNDAI SOLARIS 2021

                        form.form
                            .row.mt-5.pt-0.pt-lg-3
                                .col-12.col-lg-6
                                    .input-wrap
                                        .date-time-picker-wrap
                                            .datepicker-wrap
                                                input(type="text" placeholder="Начало аренды").input.datepicker-from
                                                .icon
                                                    img(src="images/icons/calendar.png")
                                            .timepicker-wrap
                                                input(type="text" placeholder="Время").input.timepicker
                                                .icon
                                                    img(src="images/icons/clock.svg")

                                .col-12.col-lg-6.mt-3.mt-lg-0
                                    .input-wrap
                                        .date-time-picker-wrap
                                            .datepicker-wrap
                                                input(type="text" placeholder="Окончание аренды").input.datepicker-to
                                                .icon
                                                    img(src="images/icons/calendar.png")
                                            .timepicker-wrap
                                                input(type="text" placeholder="Время").input.timepicker
                                                .icon
                                                    img(src="images/icons/clock.svg")

                            .mt-3
                                .additional-item-list
                                    label(for="additional-item").additional-item-list--item
                                        .image
                                            img(src="images/flag.png")
                                        .info
                                            .title Доставка до места
                                            .cost 600&nbsp;
                                                b.rouble.d-inline ₽
                                        input(type="checkbox" id="additional-item")
                                        .icon
                                    label.additional-item-list--item
                                        .image
                                            img(src="images/canister.png")
                                        .info
                                            .title Бензин 10л
                                            .cost 600&nbsp;
                                                b.rouble.d-inline ₽
                                        .quantity-block(data-step="1")
                                            .quantity-minus
                                            input(type="text" class="quantity-input" placeholder="0" value="0")
                                            .quantity-plus
                                    label.additional-item-list--item
                                        .image
                                            img(src="images/baby-chair.png")
                                        .info
                                            .title Детское автокресло
                                            .cost 100&nbsp;
                                                b.rouble.d-inline ₽
                                                | /сут.
                                        .quantity-block(data-step="1")
                                            .quantity-minus
                                            input(type="text" class="quantity-input" placeholder="0" value="0")
                                            .quantity-plus
                                    label(for="additional-item-4").additional-item-list--item
                                        .image
                                            img(src="images/radar-detector.png")
                                        .info
                                            .title Радар-детектор
                                            .cost 100&nbsp;
                                                b.rouble.d-inline ₽
                                                | /сут.
                                        input(type="checkbox" id="additional-item-4")
                                        .icon
                                    label(for="additional-item-5").additional-item-list--item
                                        .image
                                            img(src="images/driver.png")
                                        .info
                                            .title Второй водитель
                                            .cost 500&nbsp;
                                                b.rouble.d-inline ₽
                                        input(type="checkbox" id="additional-item-5")
                                        .icon
                                    label(for="additional-item-6").additional-item-list--item
                                        .image
                                            img(src="images/clock.png")
                                        .info
                                            .title Ранний/поздний забор
                                            .cost 500&nbsp;
                                                b.rouble.d-inline ₽
                                        input(type="checkbox" id="additional-item-6")
                                        .icon
                                    label(for="additional-item-7").additional-item-list--item
                                        .image
                                            img(src="images/umbrella.png")
                                        .info
                                            .title КАСКО
                                            .cost 1000&nbsp;
                                                b.rouble.d-inline.semibold ₽
                                        input(type="checkbox" id="additional-item-7")
                                        .icon


                            .mt-4
                                .total-price.medium.justify-content-center
                                    span.label Итого к оплате
                                    span.price 1.856&nbsp;
                                        b.rouble.d-inline ₽
                            .row.mt-4
                                .col-12.col-lg-6
                                    .input-wrap
                                        input(type="text" placeholder="Ваше имя").input
                                .col-12.col-lg-6.mt-4.mt-lg-0
                                    .input-wrap
                                        input(type="text" placeholder="Ваш телефон").input

                            textarea(placeholder="Комментарий").textarea.mt-3

                            .d-block.d-md-flex.justify-content-center.mt-3.pt-3.mt-lg-5
                                button(type="submit").btn.btn-blue Арендовать

            .characteristics-list-wrap#characteristics
                .container-block
                    h3.semibold.text-uppercase.title Все характеристики

                    .characteristics-list
                        .characteristics-list--item
                            .label Места
                            .value 4
                        .characteristics-list--item
                            .label Двери
                            .value 5
                        .characteristics-list--item
                            .label Коробка передач
                            .value Автомат
                        .characteristics-list--item
                            .label Автомат
                            .value есть
                        .characteristics-list--item
                            .label Мощность двигателя
                            .value 123 л.с.
                        .characteristics-list--item
                            .label Расход бензина
                            .value 6-7 л/км.
                        .characteristics-list--item
                            .label Цвет
                            .value Серебро
                        .characteristics-list--item
                            .label Год выпуска
                            .value 2021
                        .characteristics-list--item
                            .label Тип кузова
                            .value Седан
                        .characteristics-list--item
                            .label Класс машины
                            .value Стандарт
                        .characteristics-list--item
                            .label Места
                            .value 4
                        .characteristics-list--item
                            .label Двери
                            .value 5
                        .characteristics-list--item
                            .label Коробка передач
                            .value Автомат
                        .characteristics-list--item
                            .label Автомат
                            .value есть
                        .characteristics-list--item
                            .label Мощность двигателя
                            .value 123 л.с.
                        .characteristics-list--item
                            .label Расход бензина
                            .value 6-7 л/км.
                        .characteristics-list--item
                            .label Цвет
                            .value Серебро
                        .characteristics-list--item
                            .label Год выпуска
                            .value 2021
                        .characteristics-list--item
                            .label Тип кузова
                            .value Седан
                        .characteristics-list--item
                            .label Класс машины
                            .value Стандарт

                    .more-btn-wrap
                        .d-flex.justify-content-center.mt-5.pt-3
                            .more-btn
                                .text Еще характеристики
                                .icon
                                    img(src="images/icons/arrow-toggle-down.svg")


        .product-slider-wrap
            .container-block
                .d-block.d-xl-flex
                    h2.text-uppercase.semibold Другие автомобили

                .product-slider.js-products-slider
                    .swiper-button-prev.big
                    .swiper-button-next.big

                    .swiper-wrapper
                        .swiper-slide
                            .product-item
                                a(href="#").image
                                    img(src="images/assets/product-preview.jpg")
                                .info
                                    a(href="#").title Volkswagen Polo 2018 MT
                                    .characteristics
                                        .characteristics--item
                                            img.icon(src="images/icons/characteristics-user.svg")
                                            .text 2 мест
                                        .characteristics--item
                                            img.icon(src="images/icons/characteristics-square.svg")
                                            .text 3 двери
                                        .characteristics--item
                                            img.icon(src="images/icons/characteristics-automatic.svg")
                                            .text Автомат
                                        .characteristics--item
                                            img.icon(src="images/icons/characteristics-conditioner.svg")
                                            .text Кондиционер
                                        .characteristics--item
                                            img.icon(src="images/icons/characteristics-graph.svg")
                                            .text 183 л.с
                                        .characteristics--item
                                            img.icon(src="images/icons/characteristics-list.svg")
                                            .text 1-7 л.\км.
                                    .price
                                        .label ОТ
                                        .value 1.575
                                            .rouble.d-inline ₽
                                            span / сутки

                                    a(href="/product.html#rent").btn.btn-blue.btn-empty.btn-small Забронировать
                        .swiper-slide
                            .product-item
                                a(href="#").image
                                    img(src="images/assets/product-preview.jpg")
                                .info
                                    a(href="#").title Volkswagen Polo 2018 MT
                                    .characteristics
                                        .characteristics--item
                                            img.icon(src="images/icons/characteristics-user.svg")
                                            .text 2 мест
                                        .characteristics--item
                                            img.icon(src="images/icons/characteristics-square.svg")
                                            .text 3 двери
                                        .characteristics--item
                                            img.icon(src="images/icons/characteristics-automatic.svg")
                                            .text Автомат
                                        .characteristics--item
                                            img.icon(src="images/icons/characteristics-conditioner.svg")
                                            .text Кондиционер
                                        .characteristics--item
                                            img.icon(src="images/icons/characteristics-graph.svg")
                                            .text 183 л.с
                                        .characteristics--item
                                            img.icon(src="images/icons/characteristics-list.svg")
                                            .text 1-7 л.\км.
                                    .price
                                        .label ОТ
                                        .value 1.575
                                            .rouble.d-inline ₽
                                            span / сутки

                                    a(href="/product.html#rent").btn.btn-blue.btn-empty.btn-small Забронировать

                        .swiper-slide
                            .product-item
                                a(href="#").image
                                    img(src="images/assets/product-preview.jpg")
                                .info
                                    a(href="#").title Volkswagen Polo 2018 MT
                                    .characteristics
                                        .characteristics--item
                                            img.icon(src="images/icons/characteristics-user.svg")
                                            .text 2 мест
                                        .characteristics--item
                                            img.icon(src="images/icons/characteristics-square.svg")
                                            .text 3 двери
                                        .characteristics--item
                                            img.icon(src="images/icons/characteristics-automatic.svg")
                                            .text Автомат
                                        .characteristics--item
                                            img.icon(src="images/icons/characteristics-conditioner.svg")
                                            .text Кондиционер
                                        .characteristics--item
                                            img.icon(src="images/icons/characteristics-graph.svg")
                                            .text 183 л.с
                                        .characteristics--item
                                            img.icon(src="images/icons/characteristics-list.svg")
                                            .text 1-7 л.\км.
                                    .price
                                        .label ОТ
                                        .value 1.575
                                            .rouble.d-inline ₽
                                            span / сутки

                                    a(href="/product.html#rent").btn.btn-blue.btn-empty.btn-small Забронировать

                        .swiper-slide
                            .product-item
                                a(href="#").image
                                    img(src="images/assets/product-preview.jpg")
                                .info
                                    a(href="#").title Volkswagen Polo 2018 MT
                                    .characteristics
                                        .characteristics--item
                                            img.icon(src="images/icons/characteristics-user.svg")
                                            .text 2 мест
                                        .characteristics--item
                                            img.icon(src="images/icons/characteristics-square.svg")
                                            .text 3 двери
                                        .characteristics--item
                                            img.icon(src="images/icons/characteristics-automatic.svg")
                                            .text Автомат
                                        .characteristics--item
                                            img.icon(src="images/icons/characteristics-conditioner.svg")
                                            .text Кондиционер
                                        .characteristics--item
                                            img.icon(src="images/icons/characteristics-graph.svg")
                                            .text 183 л.с
                                        .characteristics--item
                                            img.icon(src="images/icons/characteristics-list.svg")
                                            .text 1-7 л.\км.
                                    .price
                                        .label ОТ
                                        .value 1.575
                                            .rouble.d-inline ₽
                                            span / сутки

                                    a(href="/product.html#rent").btn.btn-blue.btn-empty.btn-small Забронировать

                        .swiper-slide
                            .product-item
                                a(href="#").image
                                    img(src="images/assets/product-preview.jpg")
                                .info
                                    a(href="#").title Volkswagen Polo 2018 MT
                                    .characteristics
                                        .characteristics--item
                                            img.icon(src="images/icons/characteristics-user.svg")
                                            .text 2 мест
                                        .characteristics--item
                                            img.icon(src="images/icons/characteristics-square.svg")
                                            .text 3 двери
                                        .characteristics--item
                                            img.icon(src="images/icons/characteristics-automatic.svg")
                                            .text Автомат
                                        .characteristics--item
                                            img.icon(src="images/icons/characteristics-conditioner.svg")
                                            .text Кондиционер
                                        .characteristics--item
                                            img.icon(src="images/icons/characteristics-graph.svg")
                                            .text 183 л.с
                                        .characteristics--item
                                            img.icon(src="images/icons/characteristics-list.svg")
                                            .text 1-7 л.\км.
                                    .price
                                        .label ОТ
                                        .value 1.575
                                            .rouble.d-inline ₽
                                            span / сутки

                                    a(href="/product.html#rent").btn.btn-blue.btn-empty.btn-small Забронировать


        include ./blocks/about-block-small
        include ./blocks/rent-out-block


        include ./blocks/footer.jade
        include ./blocks/modals.jade
        include ./blocks/scripts.jade
