html
    title HYUNDAI SOLARIS 2021
    include ./blocks/head.jade

    body
        include ./blocks/header.jade

        .wrapper
            .container-block
                .breadcrumbs
                    a(href="#").breadcrumbs--item.back-link
                        img(src="images/icons/back-arrow.png").icon
                        span.text Назад
                    a(href="#").breadcrumbs--item
                        span.text Каталог автомобилей

            .product-detail-wrap
                .container-block
                    .product-detail
                        h1.title.semibold.d-block.d-xl-none HYUNDAI SOLARIS 2021

                        .image.mt-4.pt-3.mt-xl-0.pt-xl-0
                            img(src="images/assets/product-image.jpg")
                            a(href="#").prev-product
                            a(href="#").next-product

                        .info
                            h1.title.semibold.d-none.d-xl-block  HYUNDAI SOLARIS 2021

                            .characteristics
                                .characteristics--item
                                    img.icon(src="images/icons/characteristics-user.png")
                                    .text 5 мест
                                .characteristics--item
                                    img.icon(src="images/icons/characteristics-square.png")
                                    .text 4 двери
                                .characteristics--item
                                    img.icon(src="images/icons/characteristics-check.png")
                                    .text серебро
                                .characteristics--item
                                    img.icon(src="images/icons/characteristics-automatic.png")
                                    .text Автомат
                                .characteristics--item
                                    img.icon(src="images/icons/characteristics-conditioner.png")
                                    .text Кондиционер
                                .characteristics--item
                                    img.icon(src="images/icons/characteristics-clock.png")
                                    .text 2019
                                .characteristics--item
                                    img.icon(src="images/icons/characteristics-graph.png")
                                    .text 183 л.с
                                .characteristics--item
                                    img.icon(src="images/icons/characteristics-list.png")
                                    .text 1-7 л.\км.

                                .more-btn
                                    span Все характеристики
                                    .icon
                                        img(src="images/icons/arrow-toggle-down.svg")

                            .row.align-items-end.flex-column-reverse.flex-lg-row.mt-5.pt-3
                                .col.mt-4.mt-lg-0
                                    .social-list.justify-content-center.justify-content-lg-start
                                        .label.text-center.text-lg-start.order-last.order-lg-first.pt-3.pt-lg-0 Поделиться
                                        a(href="#").social-list--item
                                            img(src="images/icons/vk.png")
                                        a(href="#").social-list--item
                                            img(src="images/icons/facebook.png")
                                        a(href="#").social-list--item
                                            img(src="images/icons/ok.png")
                                        a(href="#").social-list--item
                                            img(src="images/icons/viber.png")
                                        a(href="#").social-list--item
                                            img(src="images/icons/whatsapp.png")
                                        a(href="#").social-list--item
                                            img(src="images/icons/telegram.png")
                                .col
                                    .cost-wrap.justify-content-center.justify-content-lg-start
                                        span.pe-2.pe-lg-4.ps-0 ОТ
                                        .cost 1.575 Р
                                            span / сутки

            .rent-block-wrap(style="background-image: url(images/app-block-bg.jpg);")
                .container-block
                    .rent-block#rent
                        h3.semibold.title АРЕНДОВАТЬ HYUNDAI SOLARIS 2021

                        form.form.ps-0.ps-xl-2
                            .row.mt-5.pt-0.pt-lg-3
                                .col-12.col-lg-6
                                    .input-wrap
                                        .datepicker-wrap
                                            input(type="text" placeholder="Начало аренды").input.datepicker-from
                                            .icon
                                                img(src="images/icons/calendar.png")

                                .col-12.col-lg-6.mt-4.mt-lg-0
                                    .input-wrap
                                        .datepicker-wrap
                                            input(type="text" placeholder="Окончание аренды").input.datepicker-to
                                            .icon
                                                img(src="images/icons/calendar.png")

                            .mt-4
                                .additional-item-list
                                    label(for="additional-item").additional-item-list--item
                                        .image
                                            img(src="images/flag.png")
                                        .info
                                            .title Доставка до места
                                            .cost 600 руб.
                                        input(type="checkbox" id="additional-item")
                                        .icon
                                    label(for="additional-item-2").additional-item-list--item
                                        .image
                                            img(src="images/canister.png")
                                        .info
                                            .title Бензин 10л
                                            .cost 600 руб.
                                        .count 1 ШТ.
                                        input(type="checkbox" id="additional-item-2")
                                        .icon
                                    label(for="additional-item-3").additional-item-list--item
                                        .image
                                            img(src="images/baby-chair.png")
                                        .info
                                            .title Детское автокресло
                                            .cost 100 руб./сут.
                                        .count 1 ШТ.
                                        input(type="checkbox" id="additional-item-3")
                                        .icon
                                    label(for="additional-item-4").additional-item-list--item
                                        .image
                                            img(src="images/radar-detector.png")
                                        .info
                                            .title Радар-детектор
                                            .cost 100 руб./сут.
                                        input(type="checkbox" id="additional-item-4")
                                        .icon
                                    label(for="additional-item-5").additional-item-list--item
                                        .image
                                            img(src="images/driver.png")
                                        .info
                                            .title Второй водитель
                                            .cost 500 руб.
                                        input(type="checkbox" id="additional-item-5")
                                        .icon
                                    label(for="additional-item-6").additional-item-list--item
                                        .image
                                            img(src="images/clock.png")
                                        .info
                                            .title Ранний/поздний забор
                                            .cost 500 руб.
                                        input(type="checkbox" id="additional-item-6")
                                        .icon
                                    label(for="additional-item-7").additional-item-list--item
                                        .image
                                            img(src="images/umbrella.png")
                                        .info
                                            .title КАСКО
                                            .cost 1000 руб.
                                        input(type="checkbox" id="additional-item-7")
                                        .icon

                            .row.mt-4
                                .col-12.col-lg-6
                                    .input-wrap
                                        input(type="text" placeholder="Ваше имя").input
                                .col-12.col-lg-6.mt-4.mt-lg-0
                                    .input-wrap
                                        input(type="text" placeholder="Ваш телефон").input

                            textarea(placeholder="Комментарий").textarea.mt-4

                            .d-block.d-md-flex.justify-content-center.mt-3.pt-3.mt-lg-5
                                button(type="submit").btn.btn-blue Арендовать

            .characteristics-list-wrap#characteristics
                .container-block
                    h3.semibold.text-uppercase.title Все характеристики

                    .characteristics-list.ps-0.ps-xl-2
                        .characteristics-list--item
                            .label Места
                            .value 4
                        .characteristics-list--item
                            .label Двери
                            .value 5
                        .characteristics-list--item
                            .label Коробка передач
                            .value Автомат
                        .characteristics-list--item
                            .label Автомат
                            .value есть
                        .characteristics-list--item
                            .label Мощность двигателя
                            .value 123 л.с.
                        .characteristics-list--item
                            .label Расход бензина
                            .value 6-7 л/км.
                        .characteristics-list--item
                            .label Цвет
                            .value Серебро
                        .characteristics-list--item
                            .label Год выпуска
                            .value 2021
                        .characteristics-list--item
                            .label Тип кузова
                            .value Седан
                        .characteristics-list--item
                            .label Класс машины
                            .value Стандарт

                    .d-flex.justify-content-center.mt-5.pt-3
                        .more-btn
                            .text Еще характеристики
                            .icon
                                img(src="images/icons/arrow-toggle-down.svg")


        .product-slider-wrap
            .container-block
                .d-block.d-xl-flex
                    h2.text-uppercase.semibold Другие автомобили

                .product-slider.js-products-slider
                    .swiper-button-prev.big
                    .swiper-button-next.big

                    .swiper-wrapper
                        .swiper-slide
                            .product-item
                                a(href="#").image
                                    img(src="images/assets/product-preview.jpg")
                                .info
                                    a(href="#").title Volkswagen Polo 2018 MT
                                    .characteristics
                                        .characteristics--item
                                            img.icon(src="images/icons/characteristics-user.png")
                                            .text 2 мест
                                        .characteristics--item
                                            img.icon(src="images/icons/characteristics-square.png")
                                            .text 3 двери
                                        .characteristics--item
                                            img.icon(src="images/icons/characteristics-automatic.png")
                                            .text Автомат
                                        .characteristics--item
                                            img.icon(src="images/icons/characteristics-conditioner.png")
                                            .text Кондиционер
                                        .characteristics--item
                                            img.icon(src="images/icons/characteristics-graph.png")
                                            .text 183 л.с
                                        .characteristics--item
                                            img.icon(src="images/icons/characteristics-list.png")
                                            .text 1-7 л.\км.
                                    .price
                                        .label ОТ
                                        .value 1.575 Р
                                            span / сутки

                                    a(href="#").btn.btn-blue.btn-empty.btn-small Забронировать
                        .swiper-slide
                            .product-item
                                a(href="#").image
                                    img(src="images/assets/product-preview.jpg")
                                .info
                                    a(href="#").title Volkswagen Polo 2018 MT
                                    .characteristics
                                        .characteristics--item
                                            img.icon(src="images/icons/characteristics-user.png")
                                            .text 2 мест
                                        .characteristics--item
                                            img.icon(src="images/icons/characteristics-square.png")
                                            .text 3 двери
                                        .characteristics--item
                                            img.icon(src="images/icons/characteristics-automatic.png")
                                            .text Автомат
                                        .characteristics--item
                                            img.icon(src="images/icons/characteristics-conditioner.png")
                                            .text Кондиционер
                                        .characteristics--item
                                            img.icon(src="images/icons/characteristics-graph.png")
                                            .text 183 л.с
                                        .characteristics--item
                                            img.icon(src="images/icons/characteristics-list.png")
                                            .text 1-7 л.\км.
                                    .price
                                        .label ОТ
                                        .value 1.575 Р
                                            span / сутки

                                    a(href="#").btn.btn-blue.btn-empty.btn-small Забронировать

                        .swiper-slide
                            .product-item
                                a(href="#").image
                                    img(src="images/assets/product-preview.jpg")
                                .info
                                    a(href="#").title Volkswagen Polo 2018 MT
                                    .characteristics
                                        .characteristics--item
                                            img.icon(src="images/icons/characteristics-user.png")
                                            .text 2 мест
                                        .characteristics--item
                                            img.icon(src="images/icons/characteristics-square.png")
                                            .text 3 двери
                                        .characteristics--item
                                            img.icon(src="images/icons/characteristics-automatic.png")
                                            .text Автомат
                                        .characteristics--item
                                            img.icon(src="images/icons/characteristics-conditioner.png")
                                            .text Кондиционер
                                        .characteristics--item
                                            img.icon(src="images/icons/characteristics-graph.png")
                                            .text 183 л.с
                                        .characteristics--item
                                            img.icon(src="images/icons/characteristics-list.png")
                                            .text 1-7 л.\км.
                                    .price
                                        .label ОТ
                                        .value 1.575 Р
                                            span / сутки

                                    a(href="#").btn.btn-blue.btn-empty.btn-small Забронировать

                        .swiper-slide
                            .product-item
                                a(href="#").image
                                    img(src="images/assets/product-preview.jpg")
                                .info
                                    a(href="#").title Volkswagen Polo 2018 MT
                                    .characteristics
                                        .characteristics--item
                                            img.icon(src="images/icons/characteristics-user.png")
                                            .text 2 мест
                                        .characteristics--item
                                            img.icon(src="images/icons/characteristics-square.png")
                                            .text 3 двери
                                        .characteristics--item
                                            img.icon(src="images/icons/characteristics-automatic.png")
                                            .text Автомат
                                        .characteristics--item
                                            img.icon(src="images/icons/characteristics-conditioner.png")
                                            .text Кондиционер
                                        .characteristics--item
                                            img.icon(src="images/icons/characteristics-graph.png")
                                            .text 183 л.с
                                        .characteristics--item
                                            img.icon(src="images/icons/characteristics-list.png")
                                            .text 1-7 л.\км.
                                    .price
                                        .label ОТ
                                        .value 1.575 Р
                                            span / сутки

                                    a(href="#").btn.btn-blue.btn-empty.btn-small Забронировать

                        .swiper-slide
                            .product-item
                                a(href="#").image
                                    img(src="images/assets/product-preview.jpg")
                                .info
                                    a(href="#").title Volkswagen Polo 2018 MT
                                    .characteristics
                                        .characteristics--item
                                            img.icon(src="images/icons/characteristics-user.png")
                                            .text 2 мест
                                        .characteristics--item
                                            img.icon(src="images/icons/characteristics-square.png")
                                            .text 3 двери
                                        .characteristics--item
                                            img.icon(src="images/icons/characteristics-automatic.png")
                                            .text Автомат
                                        .characteristics--item
                                            img.icon(src="images/icons/characteristics-conditioner.png")
                                            .text Кондиционер
                                        .characteristics--item
                                            img.icon(src="images/icons/characteristics-graph.png")
                                            .text 183 л.с
                                        .characteristics--item
                                            img.icon(src="images/icons/characteristics-list.png")
                                            .text 1-7 л.\км.
                                    .price
                                        .label ОТ
                                        .value 1.575 Р
                                            span / сутки

                                    a(href="#").btn.btn-blue.btn-empty.btn-small Забронировать


        include ./blocks/about-block-small
        include ./blocks/rent-out-block


        include ./blocks/footer.jade
        include ./blocks/modals.jade
        include ./blocks/scripts.jade
