html
    title Аренда
    include ./blocks/head.jade

    body
        include ./blocks/header.jade

        .wrapper
            .container-block
                include ./blocks/rent-form.jade

        include ./blocks/contact-map-block-inner

        include ./blocks/footer.jade
        include ./blocks/modals.jade
        include ./blocks/scripts.jade
