.about-block-small-wrap(style="background-image: url(images/about-block-small-bg.jpg);")
    .about-block-small
        .info
            h2.h1.title.semibold.text-uppercase Откройте офис росавтопрокат в своем городе
            .description Мы поможем легко стартовать и принимать первые заказы
            a(href="https://franshiza.rosautoprokat.ru/").btn.btn-blue.btn-medium.d-none.d-md-block Больше о франшизе
        .image
            img(src="images/car.png")

        .container-block.text-center.d-block.d-md-none
            a(href="https://franshiza.rosautoprokat.ru/").btn.btn-blue.btn-medium Больше о франшизе