.cabinet-menu
    a(href="/cabinet-current-card.html").cabinet-menu--item
        span.text Главная
    a(href="/cabinet-orders.html").cabinet-menu--item
        span.text Мои заказы
        span.count 1
    a(href="/cabinet-statistic.html").cabinet-menu--item
        span.text Оповещения
        span.count 5
    a(href="/cabinet-statistic.html").cabinet-menu--item
        span.text Бонусная карта
    a(href="/cabinet-rented-cars.html").cabinet-menu--item
        span.text Сдаваемые автомобили
    a(href="/cabinet-support.html").cabinet-menu--item
        span.text Помощь и поддержка
    a(href="/cabinet-profile-credentials.html").cabinet-menu--item
        span.text Мой профиль
    a(href="/cabinet-change-password.html").cabinet-menu--item
        span.text Изменить пароль
    a(href="#").cabinet-menu--item
        span.text Выйти