footer.footer
    .wrap
        .row
            .col-4
                a(href="#").logo
                    img(src="../images/logo.png")

                .contact-block
                    .phone-wrap
                        a(href="tel:8 800 250 46 00").phone 8 800 250 46 00
                        .text Звонки принимаются
                            | с 8:00 до 22:00 без выходных
                            | (звонок бесплатный)

                    .footer-menu.big
                        a(href="#").footer-menu--item.bold Напишите нам
                        a(href="#").footer-menu--item.bold Частые вопросы

                    .social-list
                        a(href='#').social-list--item
                            img(src="images/icons/social-whatsapp.png").icon
                        a(href='#').social-list--item
                            img(src="images/icons/social-telegram.png").icon
                        a(href='#').social-list--item
                            img(src="images/icons/social-vk.png").icon
                        a(href='#').social-list--item
                            img(src="images/icons/social-instagram.png").icon

            .col-4
                .footer-menu-wrap
                    .footer-menu
                        a(href="#").footer-menu--item.bold Арендовать
                        a(href="#").footer-menu--item.bold Сдать в аренду
                        a(href="#").footer-menu--item.bold Франшиза
                        a(href="#").footer-menu--item.bold Аренда CRM
                        a(href="#").footer-menu--item.bold Договор оферты
                        a(href="#").footer-menu--item.bold Отзывы

                    .footer-menu
                        a(href="#").footer-menu--item О компании
                        a(href="#").footer-menu--item Наши города
                        a(href="#").footer-menu--item Контакты
                        a(href="#").footer-menu--item Блог
                        a(href="#").footer-menu--item Новости
                        a(href="#").footer-menu--item Бонусная программа
                        a(href="#").footer-menu--item Дополнительные услуги
                        a(href="#").footer-menu--item Стать партнером

            .col-4
                .mobile-app
                    .title Мобильное приложение
                    .description Бронируйте автомобиль онлайн
                        | прямо с вашего телефона в любом
                        | месте в любое время
                    .payment-list
                        .payment-list--item
                            img(src="images/payment-google.png")
                        .payment-list--item
                            img(src="images/payment-apple.png")