.feedback-block-wrap.mt-3.pt-3.mt-xxl-5.pt-xxl-5
    .container-block
        .feedback-block
            .row.align-items-center
                .col-12.col-lg-4
                    .info
                        h2.title.text-white Have any question?
                        .description Отправьте заявку и мы вам перезвоним!
                .col-12.col-lg-8.mt-4.mt-lg-0
                    form.form
                        .fields-wrap
                            label
                                input(type="text" placeholder="Как к вам обращаться?").input
                            label
                                input(type="text" placeholder="Ваш номер телефона").input
                            label(for="agreement").checkbox
                                input(type="checkbox" id="agreement")
                                .icon
                                .text Даю согласие на обработку персональных данных
                        button(type="submit").btn.btn-white
                            span.text Отправить
                            svg(class="icon icon-arrow")
                                use(xlink:href="#icon-arrow")

footer.footer
    .container-block
        .row
            .col-12.col-lg-6.col-xl-4.mt-4
                a(href="/").logo
                    img(src="/images/logo-white.svg")

                .contact-block
                    .contact-block--item
                        .row
                            .col-12.col-lg-6
                                a(href="#").link.location.d-flex.align-items-center
                                    svg(class="icon icon-location")
                                        use(xlink:href="#icon-location")
                                    span.text Maneezi 1, Tallinn
                            .col-12.col-lg-6.mt-3.mt-lg-0
                                a(href="#").link.phone
                                    svg(class="icon icon-phone")
                                        use(xlink:href="#icon-phone")
                                    span.text + 372 58533330
                    .contact-block--item
                        .row
                            .col-12.col-lg-6
                                a(href="#").link.location.d-flex.align-items-center
                                    svg(class="icon icon-location")
                                        use(xlink:href="#icon-location")
                                    span.text Maneezi 1, Tallinn
                            .col-12.col-lg-6.mt-3.mt-lg-0
                                a(href="#").link.phone
                                    svg(class="icon icon-phone")
                                        use(xlink:href="#icon-phone")
                                    span.text + 372 58533330

                .social-list
                    a(href="#").social-list--item
                        svg(class="icon icon-youtube")
                            use(xlink:href="#icon-youtube")
                    a(href="#").social-list--item
                        svg(class="icon icon-twitter")
                            use(xlink:href="#icon-twitter")
                    a(href="#").social-list--item
                        svg(class="icon icon-instagram")
                            use(xlink:href="#icon-instagram")
                    a(href="#").social-list--item
                        svg(class="icon icon-facebook")
                            use(xlink:href="#icon-facebook")
                    a(href="#").social-list--item
                        svg(class="icon icon-vk")
                            use(xlink:href="#icon-vk")
                    a(href="#").social-list--item
                        svg(class="icon icon-ok")
                            use(xlink:href="#icon-ok")
                    a(href="#").social-list--item
                        svg(class="icon icon-pinterest")
                            use(xlink:href="#icon-pinterest")
                    a(href="#").social-list--item
                        svg(class="icon icon-telegram")
                            use(xlink:href="#icon-telegram")

            .col-12.col-lg-6.col-xl-2.mt-4
                .title USERFUL LINKS

                .footer-menu.d-flex.flex-column.align-items-start
                    a(href="#").footer-menu--item ITEMS FOR SALE
                    a(href="#").footer-menu--item ABOUT US
                    a(href="#").footer-menu--item F.A.Q
                    a(href="#").footer-menu--item OFFICES

            .col-12.col-lg-6.col-xl-6.mt-4
                .title WE ARE HERE

                a(href="#").map-footer
                    img(src="/images/footer-map.jpg")

    .bottom-panel
        .container-block
            .d-flex.align-items-start.justify-content-between
                .copyright © 2022 Lombard24. All rights reserved. Our&nbsp;
                    a(href="#") terms&conditions

                .sitemaker Powered by&nbsp;
                    a(href="https://idbi.ru" target="_blank") IDBI

