.top-panel.d-none.d-xl-block
    .container-block
        .row.align-items-center
            .col-7
                ul
                    li 23.12 - 10:00-20:00
                    li 24.12 - 10:00-15:00
                    li 25.12 - CLOSED
                    li 26.12 - 10:00-20:00
                    li 31.12 - 10:00-15:00
                    li 01.01 - SULETUD
            .col-5
                .locations-list.d-flex.align-items-center.justify-content-end
                    .locations-list--item.d-flex.align-items-center.justify-content-end
                        a(href="#").location.d-flex.align-items-center
                            svg(class="icon icon-location")
                                use(xlink:href="#icon-location")
                            span.text Maneezi 1, Tallinn
                        a(href="#").phone
                            svg(class="icon icon-phone")
                                use(xlink:href="#icon-phone")
                            span.text + 372 58533330
                    .locations-list--item.d-flex.align-items-center.justify-content-end
                        a(href="#").location.d-flex.align-items-center
                            svg(class="icon icon-location")
                                use(xlink:href="#icon-location")
                            span.text Kari 1, Tallinn
                        a(href="#").phone
                            svg(class="icon icon-phone")
                                use(xlink:href="#icon-phone")
                            span.text + 372 58533332

header.header
    .container-block
        .wrap.d-flex.align-items-center.flex-wrap.justify-content-between
            a(href="/").logo
                img(src="/images/logo.svg")

            .menu-btn.d-flex.d-lg-none.align-items-center.flex-column.js-mobile-menu-btn
                span
                span
                span

            .top-menu.d-none.d-lg-flex
                a(href="#").top-menu--item ITEMS FOR SALE
                a(href="#").top-menu--item ABOUT US
                a(href="#").top-menu--item F.A.Q
                a(href="#").top-menu--item OFFICES

            form.search-block.d-none.d-lg-flex
                input(type="text" placeholder="Поиск товаров")
                button(type="submit")
                    svg(class="icon icon-search")
                        use(xlink:href="#icon-search")

            .icon-list.d-none.d-lg-flex
                a(href="#").icon-list--item.language
                    .icon
                        img(src="/images/assets/flag.png")
                    .text RU
                a(href="#").icon-list--item.cart
                    svg(class="icon icon-cart")
                        use(xlink:href="#icon-cart")
                    .count 10

                a(href="#").icon-list--item.login
                    .text Login
                    svg(class="icon icon-login")
                        use(xlink:href="#icon-login")

    .position-relative.d-none.d-lg-block
        .main-menu-wrap
            .container-block
                .main-menu
                    a(href="#" data-tab="Компьютеры и ноутбуки").main-menu--item
                        svg(class="icon icon-computer")
                            use(xlink:href="#icon-computer")
                        span.text Компьютеры и ноутбуки
                    a(href="#" data-tab="Телефоны и планшеты").main-menu--item
                        svg(class="icon icon-smartphones")
                            use(xlink:href="#icon-smartphones")
                        span.text Телефоны и планшеты
                    a(href="#" data-tab="Компьютеры и ноутбуки").main-menu--item
                        svg(class="icon icon-diamond")
                            use(xlink:href="#icon-diamond")
                        span.text Ювелирные украшения
                    a(href="#" data-tab="Компьютеры и ноутбуки").main-menu--item
                        svg(class="icon icon-clock")
                            use(xlink:href="#icon-clock")
                        span.text ЧАСЫ
                    a(href="#" data-tab="Компьютеры и ноутбуки").main-menu--item
                        svg(class="icon icon-photos")
                            use(xlink:href="#icon-photos")
                        span.text Фото и аксессуары
                    a(href="#" data-tab="Компьютеры и ноутбуки").main-menu--item
                        svg(class="icon icon-audio")
                            use(xlink:href="#icon-audio")
                        span.text Аудио и видео
                    a(href="#" data-tab="Компьютеры и ноутбуки").main-menu--item
                        svg(class="icon icon-star")
                            use(xlink:href="#icon-star")
                        span.text Остальное

        .main-menu-modal(data-tab="Компьютеры и ноутбуки")
            .container-block
                .main-menu-modal-list-wrap
                    .main-menu-modal-list
                        a(href="#").main-menu-modal-list--title По бренду
                        a(href="#").main-menu-modal-list--item Model 1e35oi
                        a(href="#").main-menu-modal-list--item Model 2359i3
                        a(href="#").main-menu-modal-list--item Mode 3e5io35i
                        a(href="#").main-menu-modal-list--item Model 4338359
                        a(href="#").main-menu-modal-list--item Model 1e35oi
                        a(href="#").main-menu-modal-list--item Model 2359i3
                        a(href="#").main-menu-modal-list--item Mode 3e5io35i
                        a(href="#").main-menu-modal-list--item Model 4338359

                    .main-menu-modal-list
                        a(href="#").main-menu-modal-list--item Model 1e35oi
                        a(href="#").main-menu-modal-list--item Model 2359i3
                        a(href="#").main-menu-modal-list--item Mode 3e5io35i
                        a(href="#").main-menu-modal-list--item Model 4338359
                        a(href="#").main-menu-modal-list--item Model 1e35oi
                        a(href="#").main-menu-modal-list--item Model 2359i3
                        a(href="#").main-menu-modal-list--item Mode 3e5io35i
                        a(href="#").main-menu-modal-list--item Model 4338359

                    .main-menu-modal-list
                        a(href="#").main-menu-modal-list--title По модели
                        a(href="#").main-menu-modal-list--item Model 1e35oi
                        a(href="#").main-menu-modal-list--item Model 2359i3
                        a(href="#").main-menu-modal-list--item Mode 3e5io35i
                        a(href="#").main-menu-modal-list--item Model 4338359
                        a(href="#").main-menu-modal-list--item Model 1e35oi
                        a(href="#").main-menu-modal-list--item Model 2359i3
                        a(href="#").main-menu-modal-list--item Mode 3e5io35i
                        a(href="#").main-menu-modal-list--item Model 4338359

                    .main-menu-modal-list
                        a(href="#").main-menu-modal-list--item Model 1e35oi
                        a(href="#").main-menu-modal-list--item Model 2359i3
                        a(href="#").main-menu-modal-list--item Mode 3e5io35i
                        a(href="#").main-menu-modal-list--item Model 4338359
                        a(href="#").main-menu-modal-list--item Model 1e35oi
                        a(href="#").main-menu-modal-list--item Model 2359i3
                        a(href="#").main-menu-modal-list--item Mode 3e5io35i
                        a(href="#").main-menu-modal-list--item Model 4338359

                    a(href="#").banner-menu
                        span.marker IN PERFECT CONDITION
                        img(src="../images/assets/banner-menu.jpg")
                        span.title
                            span новые поступления компьютеров и ноутбуков

        .main-menu-modal(data-tab="Телефоны и планшеты")
            .container-block
                .main-menu-modal-list-wrap
                    .main-menu-modal-list
                        a(href="#").main-menu-modal-list--title По бренду
                        a(href="#").main-menu-modal-list--item Model 1e35oi
                        a(href="#").main-menu-modal-list--item Model 2359i3
                        a(href="#").main-menu-modal-list--item Mode 3e5io35i
                        a(href="#").main-menu-modal-list--item Model 4338359
                        a(href="#").main-menu-modal-list--item Model 1e35oi
                        a(href="#").main-menu-modal-list--item Model 2359i3
                        a(href="#").main-menu-modal-list--item Mode 3e5io35i
                        a(href="#").main-menu-modal-list--item Model 4338359

.cart-modal
    .top-block
        .cart-count В корзине 2 товара
        .clear-btn
            .text Очистить корзину
            svg(class="icon icon-cross")
                use(xlink:href="#icon-cross")

    .cart-product-list
        .cart-product-list--item
            .image
                img(src="../images/assets/cart-product.jpg")
            a(href="#").title Samsung Galaxy Watch 46mm
            .price 80€
            .remove
                svg(class="icon icon-trash")
                    use(xlink:href="#icon-trash")
        .cart-product-list--item
            .image
                img(src="../images/assets/cart-product.jpg")
            a(href="#").title Samsung Galaxy J3 2016
            .price 70€
            .remove
                svg(class="icon icon-trash")
                    use(xlink:href="#icon-trash")

    .total
        .label Итого:
        .value 150 €

    .button-wrap
        a(href="#").btn.btn-empty.btn-gray Оформить заказ
        a(href="#").btn.btn-green Перейти в корзину

.overflow


// mobile menu
.mobile-menu-wrap
    .overflow
    .mobile-menu
        .logo-wrap
            a.logo.d-block.d-xl-none(href='/')
                img(src="/images/logo.svg")
            .close
                svg.icon.icon-cross
                    use(xlink:href='#icon-cross')
        form.search-block
            input(type="text" placeholder="Поиск товаров")
            button(type="submit")
                svg(class="icon icon-search")
                    use(xlink:href="#icon-search")

        .js-custom-scroll
            .main-menu-mobile
                a.main-menu-mobile--item.catalog-btn(href='#') Каталог
                a.main-menu-mobile--item(href='#') ITEMS FOR SALE
                a.main-menu-mobile--item(href='#') ABOUT US
                a.main-menu-mobile--item(href='#') F.A.Q
                a.main-menu-mobile--item(href='#') OFFICES

.modal-menu-wrap
    .title-wrap
        .back-catalog
            svg.icon.icon-arrow
                use(xlink:href='#icon-arrow')
        h4.title Каталог товаров
        .close
            svg.icon.icon-cross
                use(xlink:href='#icon-cross')
    .container-block
        .wrap
            .modal-menu.js-custom-scroll.categories
                .collections-list--item.categories--item(data-tab='1')
                    a.link(href='#')
                        span.text Text
                    .arrow(data-tab='#')
                        svg.icon-arrow
                            use(xlink:href='#icon-arrow')
                .collections-list.subcollection-list.if.or.collection_active
                    .collections-list--item.subcollection-list--item.categories--item(data-tab='1')
                        a.link(href='#')
                            span.text Text
                        .arrow(data-tab='1')
                            svg.icon-arrow
                                use(xlink:href='#icon-arrow')
            .modal-menu.js-custom-scroll.categories
                .collections-list--item.categories--item(data-tab='2')
                    a.link(href='#')
                        span.text Text
                    .arrow(data-tab='#')
                        svg.icon-arrow
                            use(xlink:href='#icon-arrow')
                .collections-list.subcollection-list.if.or.collection_active
                    .collections-list--item.subcollection-list--item.categories--item(data-tab='2')
                        a.link(href='#')
                            span.text Text
                        .arrow(data-tab='1')
                            svg.icon-arrow
                                use(xlink:href='#icon-arrow')