head
    meta(charset="utf-8")
    meta(name="description" content="")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="icon" href="favicon.ico" type="image/x-icon")
    link(rel="shortcut icon" href="favicon.ico" type="image/x-icon")

    link(rel="stylesheet" href="./css/bootstrap/bootstrap.min.css")
    link(rel="stylesheet" href="./css/bootstrap/bootstrap.rtl.min.css")
    link(rel="stylesheet" href="./css/bootstrap/bootstrap-grid.min.css")
    link(rel="stylesheet" href="./css/bootstrap/bootstrap-grid.rtl.min.css")
    link(rel="stylesheet" href="./css/bootstrap/bootstrap-reboot.min.css")
    link(rel="stylesheet" href="./css/bootstrap/bootstrap-reboot.rtl.min.css")
    link(rel="stylesheet" href="./css/bootstrap/bootstrap-utilities.min.css")

    link(rel="stylesheet" href="./css/jquery-ui.css")
    link(rel="stylesheet" href="./css/jquery.mCustomScrollbar.min.css")
    link(rel="stylesheet" href="./css/ion.rangeSlider.min.css")
    link(rel="stylesheet" href="./css/swiper-bundle.min.css")
    link(rel="stylesheet" href="./css/jquery.fancybox.css")
    link(rel="stylesheet" href="./css/ion.rangeSlider.css")
    link(rel="stylesheet" href="./css/ion.rangeSlider.skinNice.css")
    link(rel="stylesheet" href="./css/product.css")
    link(rel="stylesheet" href="./css/main.css")
    link(rel="stylesheet" href="./css/content.css")
    link(rel="stylesheet" href="./css/blog.css")
    link(rel="stylesheet" href="./css/media.css")