header.header
    .wrap
        .left-block
            a(href="#").logo
                img(src="../images/logo.png")

            .location
                .icon
                .text Санкт-Петербург
                .arrow
                    img(src="../images/icons/arrow-toggle-down.svg")

            .phones
                .phones--item 8 800 250 46 00
                .phones--item +7 (965) 25 58 16
                    .arrow
                        img(src="../images/icons/arrow-toggle-down.svg")

        .right-block
            .menu
                a(href="#").menu--item О нас
                a(href="#").menu--item Франшиза
                a(href="#").menu--item Аренда CRM
                a(href="#").menu--item Контакты

            .button-wrap
                a(href="#").btn.btn-blue Арендовать
                a(href="#").btn.btn-blue.btn-empty Сдать в аренду
