.modal-wrap(id="feedback" style="opacity: 0;")
    .overflow
    .modal
        .close
        .wrap
            .feedback-form
                h3 Закажите звонок
                .sub-title Мы позвоним вам в течение 10 минут и ответим

                form.mt-4.mb-0
                    .input-wrap.mt-3
                        .label Ваше имя
                        input(type="text").input

                    .input-wrap.mt-3
                        .label Ваш телефон
                        input(type="text").input

                    .mt-4.text-center
                        button(type="submit").btn.btn-blue Отправить

.modal-wrap(id="cities" style="opacity: 0;")
    .overflow
    .modal
        .close
        .wrap
            h3 Выберите город, в котором желаете арендовать автомобиль

            ul.cities
                li
                    a(href="#") Адлер
                li
                    a(href="#") Альметьевск
                li
                    a(href="#") Ангарск
                li
                    a(href="#") Апрелевка
                li
                    a(href="#") Архангельск
                li
                    a(href="#") Белгород
                li
                    a(href="#") Великий Новгород
                li
                    a(href="#") Внуково
                li
                    a(href="#") Воронеж
                li
                    a(href="#") Воткинск
                li
                    a(href="#") Глазов
                li
                    a(href="#") Домодедово
                li
                    a(href="#") Иваново
                li
                    a(href="#") Ижевск
                li
                    a(href="#") Кисловодск
                li
                    a(href="#") Краснодар
                li
                    a(href="#") Курск
                li
                    a(href="#") Минеральные воды
                li
                    a(href="#") Адлер
                li
                    a(href="#") Альметьевск
                li
                    a(href="#") Ангарск
                li
                    a(href="#") Апрелевка
                li
                    a(href="#") Архангельск
                li
                    a(href="#") Белгород
                li
                    a(href="#") Великий Новгород
                li
                    a(href="#") Внуково
                li
                    a(href="#") Воронеж
                li
                    a(href="#") Воткинск
                li
                    a(href="#") Глазов
                li
                    a(href="#") Домодедово
                li
                    a(href="#") Иваново
                li
                    a(href="#") Ижевск
                li
                    a(href="#") Кисловодск
                li
                    a(href="#") Краснодар
                li
                    a(href="#") Курск
                li
                    a(href="#") Минеральные воды