.modal-wrap(id="select-city" style="opacity: 0;")
    .overflow
    .modal.large-size
        .close
        .wrap.city-select-modal
            .search-city-input-wrap
                input(type="text" value="").input.js-autocomplete-input
                .icon
                    img(src="images/icons/search.svg")

                .autocomplete-list.d-none.js-autocomplete

            .cities-wrap.js-custom-scroll
                .cities
                    .column
                        ul.cities--item
                            li.letter А
                            li(data-city="Адлер")
                                .icon
                                    img(src="images/icons/plane.svg")
                                    .tooltip Доставим в аэропорт Краснодар
                                .text Адлер
                            li(data-city="Архангельск")
                                .icon
                                    img(src="images/icons/plane.svg")
                                .text Архангельск

                        ul.cities--item
                            li.letter Б
                            li(data-city="Березка")
                                .text Березка
                            li(data-city="Березняки")
                                .text Березняки

                        ul.cities--item
                            li.letter В
                            li(data-city="Волгоград")
                                .icon
                                    img(src="images/icons/plane.svg")
                                .text Волгоград
                            li(data-city="Воронеж")
                                .icon
                                    img(src="images/icons/plane.svg")
                                .text Воронеж

                        ul.cities--item
                            li.letter И
                            li(data-city="Иваново")
                                .icon
                                    img(src="images/icons/plane.svg")
                                .text Иваново
                            li(data-city="Игнатьевск")
                                .icon
                                    img(src="images/icons/plane.svg")
                                .text Игнатьевск

                    .column
                        ul.cities--item
                            li.letter К
                            li(data-city="Курск")
                                .icon
                                    img(src="images/icons/plane.svg")
                                .text Курск
                            li(data-city="Калуга")
                                .text Калуга
                            li(data-city="Краснодар")
                                .icon
                                    img(src="images/icons/plane.svg")
                                .text Краснодар
                            li(data-city="Кривой Рог")
                                .text Кривой Рог
                            li(data-city="Кривой Рог")
                                .text Кривой Рог

                        ul.cities--item
                            li.letter Л
                            li(data-city="Ломоносов")
                                .text Ломоносов
                            li(data-city="Липецк")
                                .text Липецк
                            li(data-city="Лесосибирск")
                                .text Лесосибирск

                        ul.cities--item
                            li.letter М
                            li(data-city="Михайловск")
                                .icon
                                    img(src="images/icons/plane.svg")
                                .text Михайловск
                            li(data-city="Мытищи")
                                .text Мытищи
                            li(data-city="Магнитогорск")
                                .icon
                                    img(src="images/icons/plane.svg")
                                .text Магнитогорск

                    .column
                        ul.cities--item
                            li.letter О
                            li(data-city="Орёл")
                                .icon
                                    img(src="images/icons/plane.svg")
                                .text Орёл
                            li(data-city="Оренбург")
                                .icon
                                    img(src="images/icons/plane.svg")
                                .text Оренбург
                            li(data-city="Орск")
                                .text Орск
                            li(data-city="Орехов")
                                .text Орехов

                        ul.cities--item
                            li.letter П
                            li(data-city="Правдинск")
                                .icon
                                    img(src="images/icons/plane.svg")
                                .text Правдинск
                            li(data-city="Подольск")
                                .text Подольск

                        ul.cities--item
                            li.letter Р
                            li(data-city="Рязань")
                                .icon
                                    img(src="images/icons/plane.svg")
                                .text Рязань
                            li(data-city="Ростов-на-Дону")
                                .text Ростов-на-Дону
                            li(data-city="Рыбинск")
                                .icon
                                    img(src="images/icons/plane.svg")
                                .text Рыбинск
                            li(data-city="Реутов")
                                .text Реутов

                    .column
                        ul.cities--item
                            li.letter У
                            li(data-city="Ульяновск")
                                .text Ульяновск
                            li(data-city="Уфа")
                                .icon
                                    img(src="images/icons/plane.svg")
                                .text Уфа
                            li(data-city="Усть-каменогорск")
                                .icon
                                    img(src="images/icons/plane.svg")
                                .text Усть-каменогорск

                        ul.cities--item
                            li.letter Ф
                            li(data-city="Феодосия")
                                .text Феодосия
                            li(data-city="Фурманов")
                                .text Фурманов

                        ul.cities--item
                            li.letter Х
                            li(data-city="Хабаровск")
                                .icon
                                    img(src="images/icons/plane.svg")
                                .text Хабаровск
                            li(data-city="Ханты-Мансийск")
                                .icon
                                    img(src="images/icons/plane.svg")
                                .text Ханты-Мансийск

                        ul.cities--item
                            li.letter Ч
                            li(data-city="Чайковский")
                                .text Чайковский
                            li(data-city="Челябинск")
                                .icon
                                    img(src="images/icons/plane.svg")
                                .text Челябинск


.modal-wrap(id="test-access" style="opacity: 0;")
    .overflow
    .modal.medium-size
        .close
        .wrap
            .feedback-form
                h3.title Запрос на тестовый доступ
                    br
                    | к&nbsp;CRM-системе

                form.mt-4.mb-0
                    .input-wrap.mt-3
                        .label.gray Ваше имя
                        input(type="text").input

                    .input-wrap.mt-3
                        .label.gray Ваш телефон
                        input(type="text").input

                    .mt-4.text-center
                        button(type="submit").btn.btn-blue Отправить запрос

.modal-wrap(id="feedback" style="opacity: 0;")
    .overflow
    .modal
        .close
        .wrap
            .feedback-form
                h3 Закажите звонок
                .sub-title Мы позвоним вам в течение 10 минут и ответим

                form.mt-4.mb-0
                    .input-wrap.mt-3
                        .label.gray Ваше имя
                        input(type="text").input

                    .input-wrap.mt-3
                        .label.gray Ваш телефон
                        input(type="text").input

                    .mt-4.text-center
                        button(type="submit").btn.btn-blue Отправить

.modal-wrap(id="bind-number" style="opacity: 0;")
    .overflow.tabs-head--item(data-tab="1")
    .modal.max-size.tabs
        .close.tabs-head--item(data-tab="1")
        form.wrap
            .tabs-body--item.active(data-tab="1")
                .m-lg-5.mt-lg-4.ms-lg-4
                    h3 Привязать ещё один телефонный номер

                    .mt-3.pt-3
                        .input-wrap.mt-4.pt-3
                            .label.mb-3.mb-lg-4 Введите номер
                            input(type="text" placeholder="+ 7").mask-phone.input

                        .mt-4.pt-2
                            .btn.btn-blue.mt-md-1.tabs-head--item(data-tab="2") Отправить

                        .mt-4.pt-2
                            strong На номер придёт СМС с кодом подтверждения

            .tabs-body--item(data-tab="2")
                .send-code-form.m-lg-5.mt-lg-4.ms-lg-4
                    h3 Привязать выбраный номер
                    .sub-title Теперь он станет основным и на него будут приходить все звонки и смс от Росавтопрокат

                    .d-md-flex.align-items-end.mt-3.pt-3
                        .input-wrap.me-md-3.pe-md-3
                            .d-flex.align-items-baseline
                                .label.gray.mb-3 Введите проверочный код
                                .time.d-inline-block.d-md-none.ms-1.ms-md-3.ps-1 00:59
                            .code-wrap
                                input(type="text" maxlength="1").input
                                input(type="text" maxlength="1").input
                                input(type="text" maxlength="1").input
                                input(type="text" maxlength="1").input

                        .mt-4
                            .time.d-none.d-md-block 00:59
                            button(type="submit").btn.btn-blue.mt-md-1 Прислать код ещё раз
