.product-slider-wrap
    .container-block
        .d-block.d-xl-flex
            h2.text-uppercase.semibold Автомобили для аренды
            .city-select.has-icon.ms-0.ms-xl-4.me-0.mt-3.mt-xl-0.js-location-wrap
                .city-select--head.js-location-modal-btn
                    .icon.d-sm-none
                        img(src="images/icons/cupola.svg")
                    .text
                        span.js-location-name Санкт- Петербург
                    .arrow.d-none.d-sm-block
                        img(src="images/icons/arrow-toggle-down.svg" alt="")
                include search-form.jade

        .product-slider.js-products-slider
            .swiper-button-prev.big
            .swiper-button-next.big

            .swiper-wrapper
                .swiper-slide
                    .product-item
                        a(href="#").image
                            img(src="images/assets/product-preview.jpg")
                        .info
                            a(href="#").title Volkswagen Polo 2018 MT
                            .characteristics
                                .characteristics--item
                                    img.icon(src="images/icons/characteristics-user.svg")
                                    .text 2 мест
                                .characteristics--item
                                    img.icon(src="images/icons/characteristics-square.svg")
                                    .text 3 двери
                                .characteristics--item
                                    img.icon(src="images/icons/characteristics-automatic.svg")
                                    .text Автомат
                                .characteristics--item
                                    img.icon(src="images/icons/characteristics-conditioner.svg")
                                    .text Кондиционер
                                .characteristics--item
                                    img.icon(src="images/icons/characteristics-graph.svg")
                                    .text 183 л.с
                                .characteristics--item
                                    img.icon(src="images/icons/characteristics-list.svg")
                                    .text 1-7 л.\км.
                            .price
                                .label ОТ
                                .value 1.575
                                    .rouble.d-inline ₽
                                    span / сутки

                            a(href="/product.html#rent").btn.btn-blue.btn-empty.btn-small Забронировать
                .swiper-slide
                    .product-item
                        a(href="#").image
                            img(src="images/assets/product-preview.jpg")
                        .info
                            a(href="#").title Volkswagen Polo 2018 MT
                            .characteristics
                                .characteristics--item
                                    img.icon(src="images/icons/characteristics-user.svg")
                                    .text 2 мест
                                .characteristics--item
                                    img.icon(src="images/icons/characteristics-square.svg")
                                    .text 3 двери
                                .characteristics--item
                                    img.icon(src="images/icons/characteristics-automatic.svg")
                                    .text Автомат
                                .characteristics--item
                                    img.icon(src="images/icons/characteristics-conditioner.svg")
                                    .text Кондиционер
                                .characteristics--item
                                    img.icon(src="images/icons/characteristics-graph.svg")
                                    .text 183 л.с
                                .characteristics--item
                                    img.icon(src="images/icons/characteristics-list.svg")
                                    .text 1-7 л.\км.
                            .price
                                .label ОТ
                                .value 1.575
                                    .rouble.d-inline ₽
                                    span / сутки

                            a(href="/product.html#rent").btn.btn-blue.btn-empty.btn-small Забронировать

                .swiper-slide
                    .product-item
                        a(href="#").image
                            img(src="images/assets/product-preview.jpg")
                        .info
                            a(href="#").title Volkswagen Polo 2018 MT
                            .characteristics
                                .characteristics--item
                                    img.icon(src="images/icons/characteristics-user.svg")
                                    .text 2 мест
                                .characteristics--item
                                    img.icon(src="images/icons/characteristics-square.svg")
                                    .text 3 двери
                                .characteristics--item
                                    img.icon(src="images/icons/characteristics-automatic.svg")
                                    .text Автомат
                                .characteristics--item
                                    img.icon(src="images/icons/characteristics-conditioner.svg")
                                    .text Кондиционер
                                .characteristics--item
                                    img.icon(src="images/icons/characteristics-graph.svg")
                                    .text 183 л.с
                                .characteristics--item
                                    img.icon(src="images/icons/characteristics-list.svg")
                                    .text 1-7 л.\км.
                            .price
                                .label ОТ
                                .value 1.575
                                    .rouble.d-inline ₽
                                    span / сутки

                            a(href="/product.html#rent").btn.btn-blue.btn-empty.btn-small Забронировать

                .swiper-slide
                    .product-item
                        a(href="#").image
                            img(src="images/assets/product-preview.jpg")
                        .info
                            a(href="#").title Volkswagen Polo 2018 MT
                            .characteristics
                                .characteristics--item
                                    img.icon(src="images/icons/characteristics-user.svg")
                                    .text 2 мест
                                .characteristics--item
                                    img.icon(src="images/icons/characteristics-square.svg")
                                    .text 3 двери
                                .characteristics--item
                                    img.icon(src="images/icons/characteristics-automatic.svg")
                                    .text Автомат
                                .characteristics--item
                                    img.icon(src="images/icons/characteristics-conditioner.svg")
                                    .text Кондиционер
                                .characteristics--item
                                    img.icon(src="images/icons/characteristics-graph.svg")
                                    .text 183 л.с
                                .characteristics--item
                                    img.icon(src="images/icons/characteristics-list.svg")
                                    .text 1-7 л.\км.
                            .price
                                .label ОТ
                                .value 1.575
                                    .rouble.d-inline ₽
                                    span / сутки

                            a(href="/product.html#rent").btn.btn-blue.btn-empty.btn-small Забронировать

                .swiper-slide
                    .product-item
                        a(href="#").image
                            img(src="images/assets/product-preview.jpg")
                        .info
                            a(href="#").title Volkswagen Polo 2018 MT
                            .characteristics
                                .characteristics--item
                                    img.icon(src="images/icons/characteristics-user.svg")
                                    .text 2 мест
                                .characteristics--item
                                    img.icon(src="images/icons/characteristics-square.svg")
                                    .text 3 двери
                                .characteristics--item
                                    img.icon(src="images/icons/characteristics-automatic.svg")
                                    .text Автомат
                                .characteristics--item
                                    img.icon(src="images/icons/characteristics-conditioner.svg")
                                    .text Кондиционер
                                .characteristics--item
                                    img.icon(src="images/icons/characteristics-graph.svg")
                                    .text 183 л.с
                                .characteristics--item
                                    img.icon(src="images/icons/characteristics-list.svg")
                                    .text 1-7 л.\км.
                            .price
                                .label ОТ
                                .value 1.575
                                    .rouble.d-inline ₽
                                    span / сутки

                            a(href="/product.html#rent").btn.btn-blue.btn-empty.btn-small Забронировать