.product-list-wrap
    .container-block
        .product-list
            .product-item
                a(href="#").image
                    img(src="images/assets/product-preview.jpg")
                .info
                    a(href="#").title Volkswagen Polo 2018 MT
                    .characteristics
                        .characteristics--item
                            img.icon(src="images/icons/characteristics-user.png")
                            .text 2 мест
                        .characteristics--item
                            img.icon(src="images/icons/characteristics-square.png")
                            .text 3 двери
                        .characteristics--item
                            img.icon(src="images/icons/characteristics-automatic.png")
                            .text Автомат
                        .characteristics--item
                            img.icon(src="images/icons/characteristics-conditioner.png")
                            .text Кондиционер
                        .characteristics--item
                            img.icon(src="images/icons/characteristics-graph.png")
                            .text 183 л.с
                        .characteristics--item
                            img.icon(src="images/icons/characteristics-list.png")
                            .text 1-7 л.\км.
                    .price
                        .label ОТ
                        .value 1.575
                            .rouble.d-inline i
                            span / сутки

                    a(href="/product.html#rent").btn.btn-blue.btn-empty.btn-small Забронировать

            .product-item
                a(href="#").image
                    img(src="images/assets/product-preview.jpg")
                .info
                    a(href="#").title Volkswagen Polo 2018 MT
                    .characteristics
                        .characteristics--item
                            img.icon(src="images/icons/characteristics-user.png")
                            .text 2 мест
                        .characteristics--item
                            img.icon(src="images/icons/characteristics-square.png")
                            .text 3 двери
                        .characteristics--item
                            img.icon(src="images/icons/characteristics-automatic.png")
                            .text Автомат
                        .characteristics--item
                            img.icon(src="images/icons/characteristics-conditioner.png")
                            .text Кондиционер
                        .characteristics--item
                            img.icon(src="images/icons/characteristics-graph.png")
                            .text 183 л.с
                        .characteristics--item
                            img.icon(src="images/icons/characteristics-list.png")
                            .text 1-7 л.\км.
                    .price
                        .label ОТ
                        .value 1.575
                            .rouble.d-inline i
                            span / сутки

                    a(href="/product.html#rent").btn.btn-blue.btn-empty.btn-small Забронировать

            .product-item
                a(href="#").image
                    img(src="images/assets/product-preview.jpg")
                .info
                    a(href="#").title Volkswagen Polo 2018 MT
                    .characteristics
                        .characteristics--item
                            img.icon(src="images/icons/characteristics-user.png")
                            .text 2 мест
                        .characteristics--item
                            img.icon(src="images/icons/characteristics-square.png")
                            .text 3 двери
                        .characteristics--item
                            img.icon(src="images/icons/characteristics-automatic.png")
                            .text Автомат
                        .characteristics--item
                            img.icon(src="images/icons/characteristics-conditioner.png")
                            .text Кондиционер
                        .characteristics--item
                            img.icon(src="images/icons/characteristics-graph.png")
                            .text 183 л.с
                        .characteristics--item
                            img.icon(src="images/icons/characteristics-list.png")
                            .text 1-7 л.\км.
                    .price
                        .label ОТ
                        .value 1.575
                            .rouble.d-inline i
                            span / сутки

                    a(href="/product.html#rent").btn.btn-blue.btn-empty.btn-small Забронировать

            .product-item
                a(href="#").image
                    img(src="images/assets/product-preview.jpg")
                .info
                    a(href="#").title Volkswagen Polo 2018 MT
                    .characteristics
                        .characteristics--item
                            img.icon(src="images/icons/characteristics-user.png")
                            .text 2 мест
                        .characteristics--item
                            img.icon(src="images/icons/characteristics-square.png")
                            .text 3 двери
                        .characteristics--item
                            img.icon(src="images/icons/characteristics-automatic.png")
                            .text Автомат
                        .characteristics--item
                            img.icon(src="images/icons/characteristics-conditioner.png")
                            .text Кондиционер
                        .characteristics--item
                            img.icon(src="images/icons/characteristics-graph.png")
                            .text 183 л.с
                        .characteristics--item
                            img.icon(src="images/icons/characteristics-list.png")
                            .text 1-7 л.\км.
                    .price
                        .label ОТ
                        .value 1.575
                            .rouble.d-inline i
                            span / сутки

                    a(href="/product.html#rent").btn.btn-blue.btn-empty.btn-small Забронировать

            .product-item
                a(href="#").image
                    img(src="images/assets/product-preview.jpg")
                .info
                    a(href="#").title Volkswagen Polo 2018 MT
                    .characteristics
                        .characteristics--item
                            img.icon(src="images/icons/characteristics-user.png")
                            .text 2 мест
                        .characteristics--item
                            img.icon(src="images/icons/characteristics-square.png")
                            .text 3 двери
                        .characteristics--item
                            img.icon(src="images/icons/characteristics-automatic.png")
                            .text Автомат
                        .characteristics--item
                            img.icon(src="images/icons/characteristics-conditioner.png")
                            .text Кондиционер
                        .characteristics--item
                            img.icon(src="images/icons/characteristics-graph.png")
                            .text 183 л.с
                        .characteristics--item
                            img.icon(src="images/icons/characteristics-list.png")
                            .text 1-7 л.\км.
                    .price
                        .label ОТ
                        .value 1.575
                            .rouble.d-inline i
                            span / сутки

                    a(href="/product.html#rent").btn.btn-blue.btn-empty.btn-small Забронировать

            a(href="/catalog.html").more-btn
                span.title Смотреть весь автопарк
                span.icon
                    img(src="images/icons/arrow-white.png")