.rent-out-block
    .info
        h2.title.semibold.text-uppercase сдайте свой автомобиль в аренду
        .description И получайте ежемесячный доходот аренды автомобиля
        a(href="/sublease.html").btn.btn-blue.btn-medium.d-none.d-md-inline-block Узнать больше
    .image
        .slider.js-slider-image
            .swiper-wrapper
                .swiper-slide
                    a(href="images/assets/slider-image.jpg").slider--image.fancybox
                        img(src="images/assets/slider-image.jpg")
                .swiper-slide
                    a(href="images/assets/slider-image-2.jpg").slider--image.fancybox
                        img(src="images/assets/slider-image-2.jpg")
                .swiper-slide
                    a(href="images/assets/slider-image-3.jpg").slider--image.fancybox
                        img(src="images/assets/slider-image-3.jpg")
                .swiper-slide
                    a(href="images/assets/slider-image.jpg").slider--image.fancybox
                        img(src="images/assets/slider-image.jpg")
                .swiper-slide
                    a(href="images/assets/slider-image-2.jpg").slider--image.fancybox
                        img(src="images/assets/slider-image-2.jpg")
                .swiper-slide
                    a(href="images/assets/slider-image-3.jpg").slider--image.fancybox
                        img(src="images/assets/slider-image-3.jpg")

    .container-block.d-flex.d-md-none
        a(href="/sublease.html").btn.btn-blue.btn-medium Узнать больше