.rent-out-block
    .info
        h2.title.semibold.text-uppercase Сдайте свой
            br
            | автомобиль в аренду
        .description И получайте ежемесячный
            br
            | доход от аренды автомобиля
        a(href="/sublease.html").btn.btn-blue.btn-medium.d-none.d-md-inline-block Узнать больше
    .image
        .slider.js-slider-image
            .swiper-wrapper
                .swiper-slide
                    a(href="images/assets/slider-image-4.png").slider--image.fancybox
                        img(src="images/assets/slider-image-4.png")
                .swiper-slide
                    a(href="images/assets/slider-image-5.png").slider--image.fancybox
                        img(src="images/assets/slider-image-5.png")
                .swiper-slide
                    a(href="images/assets/slider-image-6.png").slider--image.fancybox
                        img(src="images/assets/slider-image-6.png")
                .swiper-slide
                    a(href="images/assets/slider-image-7.png").slider--image.fancybox
                        img(src="images/assets/slider-image-7.png")
                .swiper-slide
                    a(href="images/assets/slider-image-8.png").slider--image.fancybox
                        img(src="images/assets/slider-image-8.png")

    .container-block.d-flex.d-md-none
        a(href="/sublease.html").btn.btn-blue.btn-medium Узнать больше