form(action="#").rent-form
    .d-block.d-xl-flex.align-items-baseline
        h2.text-uppercase Выберите автомобиль
        .city-select.ms-0.ms-xl-5.me-0.mt-2.mt-xl-0
            .city-select--head
                .text
                    span в Санкт-Петербурге
                .arrow
                    img(src="images/icons/arrow-toggle-down.svg")
            .city-select--body.js-custom-scroll
                .city-select--item в Санкт-Петербурге
                .city-select--item в Москве

    .step.step-1.active(data-step="1")
        .step-body
            .car-type-list
                label(for="type1" data-tab="type1").car-type-list--item.tabs-head--item
                    input(type="radio" name="type" id="type1" checked)
                    span Эконом
                label(for="type2" data-tab="type2").car-type-list--item.tabs-head--item
                    input(type="radio" name="type" id="type2")
                    span Стандарт
                label(for="type3" data-tab="type3").car-type-list--item.tabs-head--item
                    input(type="radio" name="type" id="type3")
                    span Комфорт
                label(for="type4" data-tab="type4").car-type-list--item.tabs-head--item
                    input(type="radio" name="type" id="type4")
                    span Бизнес-класс
                label(for="type5" data-tab="type5").car-type-list--item.tabs-head--item
                    input(type="radio" name="type" id="type5")
                    span Внедорожники

            select(placeholder="Класс машины").custom-select
                option(value="Эконом" data-tab="type1").tabs-head--item Эконом
                option(value="Стандарт" data-tab="type2").tabs-head--item Стандарт
                option(value="Комфорт" data-tab="type3").tabs-head--item Комфорт
                option(value="Бизнес-класс" data-tab="type4").tabs-head--item Бизнес-класс
                option(value="Внедорожники" data-tab="type5").tabs-head--item Внедорожники

            .car-select-block-wrap
                .car-select-block
                    .car-select-slider
                        .tabs-body--item.active(data-tab="type1")
                            .js-slider-car-select.index-slider-0
                                .swiper-wrapper
                                    .swiper-slide
                                        .car-select-slider--item
                                            .characteristics
                                                .characteristics--item
                                                    img.icon(src="images/icons/characteristics-user.svg")
                                                    .text 5 мест
                                                .characteristics--item
                                                    img.icon(src="images/icons/characteristics-square.svg")
                                                    .text 4 двери
                                                .characteristics--item
                                                    img.icon(src="images/icons/characteristics-automatic.svg")
                                                    .text Автомат
                                                .characteristics--item
                                                    img.icon(src="images/icons/characteristics-conditioner.svg")
                                                    .text Кондиционер
                                                .characteristics--item
                                                    img.icon(src="images/icons/characteristics-graph.svg")
                                                    .text 123 л.с
                                                .characteristics--item
                                                    img.icon(src="images/icons/characteristics-list.svg")
                                                    .text 6-7 л.\км.
                                                .characteristics--item
                                                    img.icon(src="images/icons/characteristics-check.svg")
                                                    .text серебро
                                                .characteristics--item
                                                    img.icon(src="images/icons/characteristics-clock.svg")
                                                    .text 2019

                                            .image
                                                h3.title.text-center Hyundai Solaris 2021

                                                .swiper-button-prev
                                                img(src="images/assets/car.jpg")
                                                .swiper-button-next

                                            .price-list
                                                .price-list--item
                                                    .label 1-3 дня:
                                                    .price 1.575
                                                        .rouble.d-inline ₽
                                                        span / сутки
                                                .price-list--item
                                                    .label 3-5 дней:
                                                    .price 1.800
                                                        .rouble.d-inline ₽
                                                        span / сутки
                                                .price-list--item
                                                    .label 5-10 дней:
                                                    .price 2.000
                                                        .rouble.d-inline ₽
                                                        span / сутки
                                                .price-list--item
                                                    .label 10-15 дней:
                                                    .price 2.300
                                                        .rouble.d-inline ₽
                                                        span / сутки

                                    .swiper-slide
                                        .car-select-slider--item
                                            .characteristics
                                                .characteristics--item
                                                    img.icon(src="images/icons/characteristics-user.svg")
                                                    .text 2 мест
                                                .characteristics--item
                                                    img.icon(src="images/icons/characteristics-square.svg")
                                                    .text 3 двери
                                                .characteristics--item
                                                    img.icon(src="images/icons/characteristics-automatic.svg")
                                                    .text Автомат
                                                .characteristics--item
                                                    img.icon(src="images/icons/characteristics-conditioner.svg")
                                                    .text Кондиционер
                                                .characteristics--item
                                                    img.icon(src="images/icons/characteristics-graph.svg")
                                                    .text 183 л.с
                                                .characteristics--item
                                                    img.icon(src="images/icons/characteristics-list.svg")
                                                    .text 1-7 л.\км.
                                                .characteristics--item
                                                    img.icon(src="images/icons/characteristics-check.svg")
                                                    .text серебро
                                                .characteristics--item
                                                    img.icon(src="images/icons/characteristics-clock.svg")
                                                    .text 2013

                                            .image
                                                h3.title.text-center Hyundai Solaris 2022

                                                .swiper-button-prev
                                                img(src="images/assets/car.jpg")
                                                .swiper-button-next

                                            .price-list
                                                .price-list--item
                                                    .label 1-3 дня:
                                                    .price 1.575
                                                        .rouble.d-inline ₽
                                                        span / сутки
                                                .price-list--item
                                                    .label 3-5 дней:
                                                    .price 1.800
                                                        .rouble.d-inline ₽
                                                        span / сутки
                                                .price-list--item
                                                    .label 5-10 дней:
                                                    .price 2.000
                                                        .rouble.d-inline ₽
                                                        span / сутки
                                                .price-list--item
                                                    .label 10-15 дней:
                                                    .price 2.300
                                                        .rouble.d-inline ₽
                                                        span / сутки

                        .tabs-body--item(data-tab="type2")
                            .js-slider-car-select.index-slider-1
                                .swiper-wrapper
                                    .swiper-slide
                                        .car-select-slider--item
                                            .characteristics
                                                .characteristics--item
                                                    img.icon(src="images/icons/characteristics-user.svg")
                                                    .text 5 мест
                                                .characteristics--item
                                                    img.icon(src="images/icons/characteristics-square.svg")
                                                    .text 4 двери
                                                .characteristics--item
                                                    img.icon(src="images/icons/characteristics-automatic.svg")
                                                    .text Автомат
                                                .characteristics--item
                                                    img.icon(src="images/icons/characteristics-conditioner.svg")
                                                    .text Кондиционер
                                                .characteristics--item
                                                    img.icon(src="images/icons/characteristics-graph.svg")
                                                    .text 123 л.с
                                                .characteristics--item
                                                    img.icon(src="images/icons/characteristics-list.svg")
                                                    .text 6-7 л.\км.
                                                .characteristics--item
                                                    img.icon(src="images/icons/characteristics-check.svg")
                                                    .text серебро
                                                .characteristics--item
                                                    img.icon(src="images/icons/characteristics-clock.svg")
                                                    .text 2019

                                            .image
                                                h3.title.text-center Hyundai Solaris 2021 Стандарт

                                                .swiper-button-prev.d-none
                                                img(src="images/assets/car.jpg")
                                                .swiper-button-next.d-none

                                            .price-list
                                                .price-list--item
                                                    .label 1-3 дня:
                                                    .price 1.575
                                                        .rouble.d-inline ₽
                                                        span / сутки
                                                .price-list--item
                                                    .label 3-5 дней:
                                                    .price 1.800
                                                        .rouble.d-inline ₽
                                                        span / сутки
                                                .price-list--item
                                                    .label 5-10 дней:
                                                    .price 2.000
                                                        .rouble.d-inline ₽
                                                        span / сутки
                                                .price-list--item
                                                    .label 10-15 дней:
                                                    .price 2.300
                                                        .rouble.d-inline ₽
                                                        span / сутки

                                    .swiper-slide
                                        .car-select-slider--item
                                            .characteristics
                                                .characteristics--item
                                                    img.icon(src="images/icons/characteristics-user.svg")
                                                    .text 5 мест
                                                .characteristics--item
                                                    img.icon(src="images/icons/characteristics-square.svg")
                                                    .text 4 двери
                                                .characteristics--item
                                                    img.icon(src="images/icons/characteristics-automatic.svg")
                                                    .text Автомат
                                                .characteristics--item
                                                    img.icon(src="images/icons/characteristics-conditioner.svg")
                                                    .text Кондиционер
                                                .characteristics--item
                                                    img.icon(src="images/icons/characteristics-graph.svg")
                                                    .text 123 л.с
                                                .characteristics--item
                                                    img.icon(src="images/icons/characteristics-list.svg")
                                                    .text 6-7 л.\км.
                                                .characteristics--item
                                                    img.icon(src="images/icons/characteristics-check.svg")
                                                    .text серебро
                                                .characteristics--item
                                                    img.icon(src="images/icons/characteristics-clock.svg")
                                                    .text 2019

                                            .image
                                                h3.title.text-center Hyundai Solaris 2021 Стандарт

                                                .swiper-button-prev.d-none
                                                img(src="images/assets/car.jpg")
                                                .swiper-button-next.d-none

                                            .price-list
                                                .price-list--item
                                                    .label 1-3 дня:
                                                    .price 1.575
                                                        .rouble.d-inline ₽
                                                        span / сутки
                                                .price-list--item
                                                    .label 3-5 дней:
                                                    .price 1.800
                                                        .rouble.d-inline ₽
                                                        span / сутки
                                                .price-list--item
                                                    .label 5-10 дней:
                                                    .price 2.000
                                                        .rouble.d-inline ₽
                                                        span / сутки
                                                .price-list--item
                                                    .label 10-15 дней:
                                                    .price 2.300
                                                        .rouble.d-inline ₽
                                                        span / сутки

                        .tabs-body--item(data-tab="type3")
                            .js-slider-car-select.index-slider-2
                                .swiper-wrapper
                                    .swiper-slide
                                        .car-select-slider--item
                                            .characteristics
                                                .characteristics--item
                                                    img.icon(src="images/icons/characteristics-user.svg")
                                                    .text 5 мест
                                                .characteristics--item
                                                    img.icon(src="images/icons/characteristics-square.svg")
                                                    .text 4 двери
                                                .characteristics--item
                                                    img.icon(src="images/icons/characteristics-automatic.svg")
                                                    .text Автомат
                                                .characteristics--item
                                                    img.icon(src="images/icons/characteristics-conditioner.svg")
                                                    .text Кондиционер
                                                .characteristics--item
                                                    img.icon(src="images/icons/characteristics-graph.svg")
                                                    .text 123 л.с
                                                .characteristics--item
                                                    img.icon(src="images/icons/characteristics-list.svg")
                                                    .text 6-7 л.\км.
                                                .characteristics--item
                                                    img.icon(src="images/icons/characteristics-check.svg")
                                                    .text серебро
                                                .characteristics--item
                                                    img.icon(src="images/icons/characteristics-clock.svg")
                                                    .text 2019

                                            .image
                                                h3.title.text-center Hyundai Solaris 2021 Комфорт

                                                .swiper-button-prev.d-none
                                                img(src="images/assets/car.jpg")
                                                .swiper-button-next.d-none

                                            .price-list
                                                .price-list--item
                                                    .label 1-3 дня:
                                                    .price 1.575
                                                        .rouble.d-inline ₽
                                                        span / сутки
                                                .price-list--item
                                                    .label 3-5 дней:
                                                    .price 1.800
                                                        .rouble.d-inline ₽
                                                        span / сутки
                                                .price-list--item
                                                    .label 5-10 дней:
                                                    .price 2.000
                                                        .rouble.d-inline ₽
                                                        span / сутки
                                                .price-list--item
                                                    .label 10-15 дней:
                                                    .price 2.300
                                                        .rouble.d-inline ₽
                                                        span / сутки

                        .tabs-body--item(data-tab="type4")
                            .js-slider-car-select.index-slider-3
                                .swiper-wrapper
                                    .swiper-slide
                                        .car-select-slider--item
                                            .characteristics
                                                .characteristics--item
                                                    img.icon(src="images/icons/characteristics-user.svg")
                                                    .text 5 мест
                                                .characteristics--item
                                                    img.icon(src="images/icons/characteristics-square.svg")
                                                    .text 4 двери
                                                .characteristics--item
                                                    img.icon(src="images/icons/characteristics-automatic.svg")
                                                    .text Автомат
                                                .characteristics--item
                                                    img.icon(src="images/icons/characteristics-conditioner.svg")
                                                    .text Кондиционер
                                                .characteristics--item
                                                    img.icon(src="images/icons/characteristics-graph.svg")
                                                    .text 123 л.с
                                                .characteristics--item
                                                    img.icon(src="images/icons/characteristics-list.svg")
                                                    .text 6-7 л.\км.
                                                .characteristics--item
                                                    img.icon(src="images/icons/characteristics-check.svg")
                                                    .text серебро
                                                .characteristics--item
                                                    img.icon(src="images/icons/characteristics-clock.svg")
                                                    .text 2019

                                            .image
                                                h3.title.text-center Hyundai Solaris 2021 Бизнес-класс

                                                .swiper-button-prev.d-none
                                                img(src="images/assets/car.jpg")
                                                .swiper-button-next.d-none


                                            .price-list
                                                .price-list--item
                                                    .label 1-3 дня:
                                                    .price 1.575
                                                        .rouble.d-inline ₽
                                                        span / сутки
                                                .price-list--item
                                                    .label 3-5 дней:
                                                    .price 1.800
                                                        .rouble.d-inline ₽
                                                        span / сутки
                                                .price-list--item
                                                    .label 5-10 дней:
                                                    .price 2.000
                                                        .rouble.d-inline ₽
                                                        span / сутки
                                                .price-list--item
                                                    .label 10-15 дней:
                                                    .price 2.300
                                                        .rouble.d-inline ₽
                                                        span / сутки

                        .tabs-body--item(data-tab="type5")
                            .js-slider-car-select.index-slider-4
                                .swiper-wrapper
                                    .swiper-slide
                                        .car-select-slider--item
                                            .characteristics
                                                .characteristics--item
                                                    img.icon(src="images/icons/characteristics-user.svg")
                                                    .text 5 мест
                                                .characteristics--item
                                                    img.icon(src="images/icons/characteristics-square.svg")
                                                    .text 4 двери
                                                .characteristics--item
                                                    img.icon(src="images/icons/characteristics-automatic.svg")
                                                    .text Автомат
                                                .characteristics--item
                                                    img.icon(src="images/icons/characteristics-conditioner.svg")
                                                    .text Кондиционер
                                                .characteristics--item
                                                    img.icon(src="images/icons/characteristics-graph.svg")
                                                    .text 123 л.с
                                                .characteristics--item
                                                    img.icon(src="images/icons/characteristics-list.svg")
                                                    .text 6-7 л.\км.
                                                .characteristics--item
                                                    img.icon(src="images/icons/characteristics-check.svg")
                                                    .text серебро
                                                .characteristics--item
                                                    img.icon(src="images/icons/characteristics-clock.svg")
                                                    .text 2019

                                            .image
                                                h3.title.text-center Hyundai Solaris 2021 Внедорожники

                                                .swiper-button-prev.d-none
                                                img(src="images/assets/car.jpg")
                                                .swiper-button-next.d-none


                                            .price-list
                                                .price-list--item
                                                    .label 1-3 дня:
                                                    .price 1.575
                                                        .rouble.d-inline ₽
                                                        span / сутки
                                                .price-list--item
                                                    .label 3-5 дней:
                                                    .price 1.800
                                                        .rouble.d-inline ₽
                                                        span / сутки
                                                .price-list--item
                                                    .label 5-10 дней:
                                                    .price 2.000
                                                        .rouble.d-inline ₽
                                                        span / сутки
                                                .price-list--item
                                                    .label 10-15 дней:
                                                    .price 2.300
                                                        .rouble.d-inline ₽
                                                        span / сутки

        .button-wrap
            .steps Шаг 1 из 3

            a(href="/product.html").btn.btn-gray.btn-empty Подробнее о машине
            a(href="#" data-step-btn="2").btn.btn-blue
                span.text Выбрать

    .step(data-step="2")
        .step-body
            .form
                .row.mt-5.pt-0.pt-lg-3
                    .col-12.col-lg-6
                        .input-wrap
                            .date-time-picker-wrap
                                .datepicker-wrap
                                    input(type="text" placeholder="Начало аренды").input.datepicker-from
                                    .icon
                                        img(src="images/icons/calendar.png")
                                .timepicker-wrap
                                    input(type="text" placeholder="Время").input.timepicker
                                    .icon
                                        img(src="images/icons/clock.svg")

                    .col-12.col-lg-6.mt-3.mt-lg-0
                        .input-wrap
                            .date-time-picker-wrap
                                .datepicker-wrap
                                    input(type="text" placeholder="Окончание аренды").input.datepicker-to
                                    .icon
                                        img(src="images/icons/calendar.png")
                                .timepicker-wrap
                                    input(type="text" placeholder="Время").input.timepicker
                                    .icon
                                        img(src="images/icons/clock.svg")

                .mt-3
                    .additional-item-list
                        label(for="additional-item").additional-item-list--item
                            .image
                                img(src="images/flag.png")
                            .info
                                .title Доставка до места
                                .cost 600&nbsp;
                                    b.rouble.d-inline ₽
                            input(type="checkbox" id="additional-item")
                            .icon
                        label.additional-item-list--item
                            .image
                                img(src="images/canister.png")
                            .info
                                .title Бензин 10л
                                .cost 600&nbsp;
                                    b.rouble.d-inline ₽
                            .quantity-block(data-step="1")
                                .quantity-minus
                                input(type="text" class="quantity-input" placeholder="0" value="0")
                                .quantity-plus
                        label.additional-item-list--item
                            .image
                                img(src="images/baby-chair.png")
                            .info
                                .title Детское автокресло
                                .cost 100&nbsp;
                                    b.rouble.d-inline ₽
                                    | /сут.
                            .quantity-block(data-step="1")
                                .quantity-minus
                                input(type="text" class="quantity-input" placeholder="0" value="0")
                                .quantity-plus
                        label(for="additional-item-4").additional-item-list--item
                            .image
                                img(src="images/radar-detector.png")
                            .info
                                .title Радар-детектор
                                .cost 100&nbsp;
                                    b.rouble.d-inline ₽
                                    | ./сут.
                            input(type="checkbox" id="additional-item-4")
                            .icon
                        label(for="additional-item-5").additional-item-list--item
                            .image
                                img(src="images/driver.png")
                            .info
                                .title Второй водитель
                                .cost 500&nbsp;
                                    b.rouble.d-inline ₽
                            input(type="checkbox" id="additional-item-5")
                            .icon
                        label(for="additional-item-6").additional-item-list--item
                            .image
                                img(src="images/clock.png")
                            .info
                                .title Ранний/поздний забор
                                .cost 500&nbsp;
                                    b.rouble.d-inline ₽
                            input(type="checkbox" id="additional-item-6")
                            .icon
                        label(for="additional-item-7").additional-item-list--item
                            .image
                                img(src="images/umbrella.png")
                            .info
                                .title КАСКО
                                .cost 1000&nbsp;
                                    b.rouble.d-inline ₽
                            input(type="checkbox" id="additional-item-7")
                            .icon

                .mt-5
                    .total-price
                        span.label Итого к оплате
                        span.price 1.856&nbsp;
                            b.rouble.d-inline ₽

        .button-wrap
            .steps Шаг 2 из 3

            a(href="#" data-step-btn="1").btn.btn-gray.btn-empty Назад
            a(href="#" data-step-btn="3").btn.btn-blue
                span.text Дальше

    .step(data-step="3")
        .step-body
            .form.mt-3.mt-lg-5.pt-0.pt-lg-3
                .info-car
                    .image
                        img(src="images/assets/car.jpg")
                    .info
                        .title Hyundai Solaris 2021 Комфорт

                        .characteristics
                            .characteristics--item
                                img.icon(src="images/icons/characteristics-user.svg")
                                .text 5 мест
                            .characteristics--item
                                img.icon(src="images/icons/characteristics-square.svg")
                                .text 4 двери
                            .characteristics--item
                                img.icon(src="images/icons/characteristics-automatic.svg")
                                .text Автомат
                            .characteristics--item
                                img.icon(src="images/icons/characteristics-conditioner.svg")
                                .text Кондиционер
                            .characteristics--item
                                img.icon(src="images/icons/characteristics-graph.svg")
                                .text 123 л.с
                            .characteristics--item
                                img.icon(src="images/icons/characteristics-list.svg")
                                .text 6-7 л.\км.
                            .characteristics--item
                                img.icon(src="images/icons/characteristics-check.svg")
                                .text серебро
                            .characteristics--item
                                img.icon(src="images/icons/characteristics-clock.svg")
                                .text 2019


                .row.mt-4.pt-3
                    .col-12.col-lg-6
                        .input-wrap
                            input(type="text" placeholder="Ваше имя").input
                    .col-12.col-lg-6.mt-4.mt-lg-0
                        .input-wrap
                            input(type="text" placeholder="Ваш телефон").input

                textarea(placeholder="Комментарий").textarea.mt-4

        .button-wrap
            .steps Шаг 3 из 3

            a(href="#" data-step-btn="2").btn.btn-gray.btn-empty Назад
            a(href="#" data-step-btn="success").btn.btn-blue
                img.icon(src="images/icons/check-white.png")
                span.text Аредовать

    .success-block.step(data-step="success")
        .icon-big
            img(src="images/icons/check-circle.png")
        .title Спасибо за заказ!
        .description Мы свяжемся с вами для уточнения деталей заказа в ближайшие 15 минут
        a(href="/catalog.html").btn.btn-blue
            span.text В каталог
            span.icon
                img(src="images/icons/arrow-white.png")