script(src="https://api-maps.yandex.ru/2.1/?apikey=c61ec5ce-a317-4252-be8a-849a258229bf&lang=ru_RU" type="text/javascript")
script(type="text/javascript" src="js/jquery-3.3.1.min.js")
script(type="text/javascript" src="js/jquery-ui.js")
script(type="text/javascript" src="js/mousewheel.min.js")
script(type="text/javascript" src="js/jquery-ui-timepicker-addon.min.js")
script(type="text/javascript" src="js/bootstrap/bootstrap.bundle.min.js")
script(type="text/javascript" src="js/jquery.maskedinput.min.js")
script(type="text/javascript" src="js/jquery.mCustomScrollbar.min.js")
script(type="text/javascript" src="js/swiper-bundle.min.js")
script(type="text/javascript" src="js/jquery.fancybox.js")
script(type="text/javascript" src="js/ion.rangeSlider.min.js")
script(type="text/javascript" src="js/map.js")
script(type="text/javascript" src="js/main.js")