script(type="text/javascript" src="js/jquery-3.3.1.min.js")
script(type="text/javascript" src="js/jquery-ui.js")
script(type="text/javascript" src="js/mousewheel.min.js")
script(type="text/javascript" src="js/bootstrap/bootstrap.bundle.min.js")
script(type="text/javascript" src="js/jquery.mCustomScrollbar.min.js")
script(type="text/javascript" src="js/swiper-bundle.min.js")
script(type="text/javascript" src="js/jquery.fancybox.js")
script(type="text/javascript" src="js/ion.rangeSlider.min.js")
script(type="text/javascript" src="js/main.js")