.location-search
    .position-relative
        .input-wrap
            input(type="text").input.js-autocomplete-input

        .mt-3
            .btn.btn-blue.btn-extraSmall Выбрать

        .autocomplete-list.d-none.js-autocomplete
