.menu
    a(href="/about.html").menu--item О компании
    a(href="/rent.html").menu--item Аренда CRM
    a(href="https://franshiza.rosautoprokat.ru/").menu--item Франшиза
    a(href="/sublease.html").menu--item Сдать в аренду
    a(href="/reviews.html").menu--item Отзывы
    a(href="/faq.html").menu--item Частые вопросы
    a(href="/additional-services.html").menu--item Дополнительные услуги
    a(href="/bonus-program.html").menu--item Бонусная программа
    a(href="/news.html").menu--item Новости
    a(href="/blog.html").menu--item Блог

.social-list
    a(href='#').social-list--item
        img(src="images/icons/social-phone.png").icon
        span.text Звонок
    a(href='#').social-list--item
        img(src="images/icons/social-whatsapp-2.svg").icon
        span.text Whats App
    a(href='#').social-list--item
        img(src="images/icons/social-telegram-2.svg").icon
        span.text Тelegram
